{
  "openapi": "3.0.3",
  "info": {
    "title": "Hetzner Cloud API",
    "description": "Copied from the official API documentation for the Public Hetzner Cloud.",
    "contact": {
      "url": "https://docs.hetzner.cloud/"
    },
    "version": "454b17a-dirty"
  },
  "servers": [
    {
      "url": "https://api.hetzner.cloud/v1",
      "description": "Official production server"
    }
  ],
  "components": {
    "schemas": {
      "action": {
        "title": "Action",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the Action",
            "example": 13
          },
          "command": {
            "type": "string",
            "description": "Command executed in the Action",
            "example": "start_server"
          },
          "status": {
            "type": "string",
            "enum": [
              "error",
              "running",
              "success"
            ],
            "description": "Status of the Action"
          },
          "progress": {
            "type": "number",
            "description": "Progress of Action in percent",
            "example": 100
          },
          "started": {
            "type": "string",
            "description": "Point in time when the Action was started (in ISO-8601 format)",
            "example": "2016-01-30T23:55:00+00:00"
          },
          "finished": {
            "type": "string",
            "nullable": true,
            "description": "Point in time when the Action was finished (in ISO-8601 format). Only set if the Action is finished otherwise null.",
            "example": "2016-01-30T23:56:00+00:00"
          },
          "resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/resource"
            },
            "description": "Resources the Action relates to"
          },
          "error": {
            "$ref": "#/components/schemas/error"
          }
        },
        "required": [
          "id",
          "command",
          "status",
          "progress",
          "started",
          "finished",
          "resources",
          "error"
        ],
        "description": "Actions show the results and progress of asynchronous requests to the API."
      },
      "add_route_to_network_request": {
        "$ref": "#/components/schemas/route"
      },
      "add_route_to_network_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/networks/{id}/actions/add_route"
      },
      "add_service_request": {
        "$ref": "#/components/schemas/service"
      },
      "add_service_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/add_service"
      },
      "add_subnet_to_network_request": {
        "$ref": "#/components/schemas/subnet"
      },
      "add_subnet_to_network_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/networks/{id}/actions/add_subnet"
      },
      "add_target_request": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "ip",
              "label_selector",
              "server"
            ],
            "description": "Type of the resource"
          },
          "server": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "description": "ID of the Server",
                "example": 80
              }
            },
            "required": [
              "id"
            ],
            "additionalProperties": false,
            "description": "Configuration for type Server, required if type is `server`"
          },
          "use_private_ip": {
            "type": "boolean",
            "description": "Use the private network IP instead of the public IP of the Server, requires the Server and Load Balancer to be in the same network. Default value is false.",
            "example": true
          },
          "label_selector": {
            "type": "object",
            "properties": {
              "selector": {
                "type": "string",
                "description": "Label selector",
                "example": "env=prod"
              }
            },
            "required": [
              "selector"
            ],
            "description": "Configuration for label selector targets, required if type is `label_selector`"
          },
          "ip": {
            "type": "object",
            "properties": {
              "ip": {
                "type": "string",
                "description": "IP of a server that belongs to the same customer (public IPv4/IPv6).",
                "example": "203.0.113.1"
              }
            },
            "required": [
              "ip"
            ],
            "description": "IP targets where the traffic should be routed through. Currently it is only possible to use the IPs of Hetzner Online Root Servers belonging to the project owner. IPs belonging to other users are blocked. Additionally IPs belonging to services provided by Hetzner Cloud (Servers, Load Balancers, ...) are blocked as well."
          }
        },
        "required": [
          "type"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/add_target"
      },
      "add_target_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/add_target"
      },
      "assign_floating_ip_to_server_request": {
        "type": "object",
        "properties": {
          "server": {
            "type": "integer",
            "description": "ID of the Server the Floating IP shall be assigned to",
            "example": 42
          }
        },
        "required": [
          "server"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/floating_ips/{id}/actions/assign"
      },
      "assign_floating_ip_to_server_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/floating_ips/{id}/actions/assign"
      },
      "attach_iso_to_server_request": {
        "type": "object",
        "properties": {
          "iso": {
            "type": "string",
            "description": "ID or name of ISO to attach to the Server as listed in GET `/isos`",
            "example": "FreeBSD-11.0-RELEASE-amd64-dvd1"
          }
        },
        "required": [
          "iso"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/servers/{id}/actions/attach_iso"
      },
      "attach_iso_to_server_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/attach_iso"
      },
      "attach_load_balancer_to_network_request": {
        "type": "object",
        "properties": {
          "network": {
            "type": "integer",
            "description": "ID of an existing network to attach the Load Balancer to",
            "example": 4711
          },
          "ip": {
            "type": "string",
            "description": "IP to request to be assigned to this Load Balancer; if you do not provide this then you will be auto assigned an IP address",
            "example": "10.0.1.1"
          }
        },
        "required": [
          "network"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/attach_to_network"
      },
      "attach_load_balancer_to_network_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/attach_to_network"
      },
      "attach_server_to_network_request": {
        "type": "object",
        "properties": {
          "network": {
            "type": "integer",
            "description": "ID of an existing network to attach the Server to",
            "example": 4711
          },
          "ip": {
            "type": "string",
            "description": "IP to request to be assigned to this Server; if you do not provide this then you will be auto assigned an IP address",
            "example": "10.0.1.1"
          },
          "alias_ips": {
            "type": "array",
            "description": "Additional IPs to be assigned to this Server",
            "items": {
              "type": "string"
            },
            "example": [
              "10.0.1.2"
            ]
          }
        },
        "required": [
          "network"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/servers/{id}/actions/attach_to_network"
      },
      "attach_server_to_network_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/attach_to_network"
      },
      "attach_volume_to_server_request": {
        "type": "object",
        "properties": {
          "server": {
            "type": "integer",
            "description": "ID of the Server the Volume will be attached to",
            "example": 43
          },
          "automount": {
            "type": "boolean",
            "description": "Auto-mount the Volume after attaching it",
            "example": false
          }
        },
        "required": [
          "server"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/volumes/{id}/actions/attach"
      },
      "attach_volume_to_server_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/volumes/{id}/actions/attach"
      },
      "certificate": {
        "title": "Certificate",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the Certificate",
            "example": 897
          },
          "name": {
            "type": "string",
            "description": "Unique name of the Certificate",
            "example": "my website cert"
          },
          "labels": {
            "$ref": "#/components/schemas/labels"
          },
          "certificate": {
            "type": "string",
            "description": "Certificate and chain in PEM format, in order so that each record directly certifies the one preceding",
            "example": "-----BEGIN CERTIFICATE-----\n..."
          },
          "created": {
            "type": "string",
            "description": "Point in time when the Certificate was created (in ISO-8601 format)",
            "example": "2019-01-08T12:10:00+00:00"
          },
          "not_valid_before": {
            "type": "string",
            "description": "Point in time when the Certificate becomes valid (in ISO-8601 format)",
            "example": "2019-01-08T10:00:00+00:00"
          },
          "not_valid_after": {
            "type": "string",
            "description": "Point in time when the Certificate stops being valid (in ISO-8601 format)",
            "example": "2019-07-08T09:59:59+00:00"
          },
          "domain_names": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "example.com",
              "webmail.example.com",
              "www.example.com"
            ],
            "description": "Domains and subdomains covered by the Certificate"
          },
          "fingerprint": {
            "type": "string",
            "description": "Fingerprint of the Certificate",
            "example": "03:c7:55:9b:2a:d1:04:17:09:f6:d0:7f:18:34:63:d4:3e:5f"
          },
          "used_by": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/resource"
            },
            "description": "Resources currently using the Certificate."
          }
        },
        "required": [
          "id",
          "name",
          "labels",
          "certificate",
          "created",
          "not_valid_before",
          "not_valid_after",
          "domain_names",
          "fingerprint",
          "used_by"
        ],
        "description": "TLS/SSL Certificates prove the identity of a Server and are used to encrypt client traffic."
      },
      "change_algorithm_request": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "least_connections",
              "round_robin"
            ],
            "description": "Algorithm of the Load Balancer"
          }
        },
        "required": [
          "type"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/change_algorithm"
      },
      "change_algorithm_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/change_algorithm"
      },
      "change_alias_ips_of_network_request": {
        "type": "object",
        "properties": {
          "network": {
            "type": "integer",
            "description": "ID of an existing Network already attached to the Server",
            "example": 4711
          },
          "alias_ips": {
            "type": "array",
            "description": "New alias IPs to set for this Server",
            "items": {
              "type": "string"
            },
            "example": [
              "10.0.1.2"
            ]
          }
        },
        "required": [
          "network",
          "alias_ips"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/servers/{id}/actions/change_alias_ips"
      },
      "change_alias_ips_of_network_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/change_alias_ips"
      },
      "change_floating_ip_protection_request": {
        "type": "object",
        "properties": {
          "delete": {
            "type": "boolean",
            "description": "If true, prevents the Floating IP from being deleted",
            "example": true
          }
        },
        "description": "Request for POST https://api.hetzner.cloud/v1/floating_ips/{id}/actions/change_protection"
      },
      "change_floating_ip_protection_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/floating_ips/{id}/actions/change_protection"
      },
      "change_image_protection_request": {
        "type": "object",
        "properties": {
          "delete": {
            "type": "boolean",
            "description": "If true, prevents the snapshot from being deleted",
            "example": true
          }
        },
        "description": "Request for POST https://api.hetzner.cloud/v1/images/{id}/actions/change_protection"
      },
      "change_image_protection_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/images/{id}/actions/change_protection"
      },
      "change_ip_range_of_network_request": {
        "type": "object",
        "properties": {
          "ip_range": {
            "type": "string",
            "description": "The new prefix for the whole Network",
            "example": "10.0.0.0/12"
          }
        },
        "required": [
          "ip_range"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/networks/{id}/actions/change_ip_range"
      },
      "change_ip_range_of_network_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/networks/{id}/actions/change_ip_range"
      },
      "change_load_balancer_protection_request": {
        "type": "object",
        "properties": {
          "delete": {
            "type": "boolean",
            "description": "If true, prevents the Load Balancer from being deleted",
            "example": true
          }
        },
        "description": "Request for POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/change_protection"
      },
      "change_load_balancer_protection_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/change_protection"
      },
      "change_network_protection_request": {
        "type": "object",
        "properties": {
          "delete": {
            "type": "boolean",
            "description": "If true, prevents the Network from being deleted",
            "example": true
          }
        },
        "description": "Request for POST https://api.hetzner.cloud/v1/networks/{id}/actions/change_protection"
      },
      "change_network_protection_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/networks/{id}/actions/change_protection"
      },
      "change_reverse_dns_entry_for_floating_ip_request": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string",
            "description": "IP address for which to set the reverse DNS entry",
            "example": "1.2.3.4"
          },
          "dns_ptr": {
            "type": "string",
            "description": "Hostname to set as a reverse DNS PTR entry, will reset to original default value if `null`",
            "nullable": true,
            "example": "server02.example.com"
          }
        },
        "required": [
          "ip",
          "dns_ptr"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/floating_ips/{id}/actions/change_dns_ptr"
      },
      "change_reverse_dns_entry_for_floating_ip_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/floating_ips/{id}/actions/change_dns_ptr"
      },
      "change_reverse_dns_entry_for_this_server_request": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string",
            "description": "Primary IP address for which the reverse DNS entry should be set",
            "example": "1.2.3.4"
          },
          "dns_ptr": {
            "type": "string",
            "description": "Hostname to set as a reverse DNS PTR entry, reset to original value if `null`",
            "nullable": true,
            "example": "server01.example.com"
          }
        },
        "required": [
          "ip",
          "dns_ptr"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/servers/{id}/actions/change_dns_ptr"
      },
      "change_reverse_dns_entry_for_this_server_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/change_dns_ptr"
      },
      "change_server_protection_request": {
        "type": "object",
        "properties": {
          "delete": {
            "type": "boolean",
            "description": "If true, prevents the Server from being deleted (currently delete and rebuild attribute needs to have the same value)",
            "example": true
          },
          "rebuild": {
            "type": "boolean",
            "description": "If true, prevents the Server from being rebuilt (currently delete and rebuild attribute needs to have the same value)",
            "example": true
          }
        },
        "description": "Request for POST https://api.hetzner.cloud/v1/servers/{id}/actions/change_protection"
      },
      "change_server_protection_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/change_protection"
      },
      "change_type_of_load_balancer_request": {
        "type": "object",
        "properties": {
          "load_balancer_type": {
            "type": "string",
            "description": "ID or name of Load Balancer type the Load Balancer should migrate to",
            "example": "lb21"
          }
        },
        "required": [
          "load_balancer_type"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/change_type"
      },
      "change_type_of_load_balancer_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/change_type"
      },
      "change_type_of_server_request": {
        "type": "object",
        "properties": {
          "upgrade_disk": {
            "type": "boolean",
            "description": "If false, do not upgrade the disk (this allows downgrading the Server type later)",
            "example": true
          },
          "server_type": {
            "type": "string",
            "description": "ID or name of Server type the Server should migrate to",
            "example": "cx11"
          }
        },
        "required": [
          "upgrade_disk",
          "server_type"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/servers/{id}/actions/change_type"
      },
      "change_type_of_server_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/change_type"
      },
      "change_volume_protection_request": {
        "type": "object",
        "properties": {
          "delete": {
            "type": "boolean",
            "description": "If true, prevents the Volume from being deleted",
            "example": true
          }
        },
        "description": "Request for POST https://api.hetzner.cloud/v1/volumes/{id}/actions/change_protection"
      },
      "change_volume_protection_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/volumes/{id}/actions/change_protection"
      },
      "create_certificate_request": {
        "title": "CreateCertificate",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the Certificate",
            "example": "my website cert"
          },
          "labels": {
            "$ref": "#/components/schemas/labels"
          },
          "certificate": {
            "type": "string",
            "description": "Certificate and chain in PEM format, in order so that each record directly certifies the one preceding",
            "example": "-----BEGIN CERTIFICATE-----\n..."
          },
          "private_key": {
            "type": "string",
            "description": "Certificate key in PEM format",
            "example": "-----BEGIN PRIVATE KEY-----\n..."
          }
        },
        "required": [
          "name",
          "certificate",
          "private_key"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/certificates"
      },
      "create_certificate_response": {
        "title": "CertificateResponse",
        "type": "object",
        "properties": {
          "certificate": {
            "$ref": "#/components/schemas/certificate"
          }
        },
        "required": [
          "certificate"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/certificates"
      },
      "create_floating_ip_request": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "ipv4",
              "ipv6"
            ],
            "description": "Floating IP type"
          },
          "server": {
            "type": "integer",
            "description": "Server to assign the Floating IP to",
            "example": 42
          },
          "home_location": {
            "type": "string",
            "description": "Home Location (routing is optimized for that Location). Only optional if Server argument is passed.",
            "example": "fsn1"
          },
          "description": {
            "type": "string",
            "example": "Web Frontend"
          },
          "name": {
            "type": "string",
            "example": "Web Frontend"
          },
          "labels": {
            "$ref": "#/components/schemas/labels"
          }
        },
        "required": [
          "type"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/floating_ips"
      },
      "create_floating_ip_response": {
        "type": "object",
        "properties": {
          "floating_ip": {
            "$ref": "#/components/schemas/floating_ip"
          },
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "floating_ip"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/floating_ips"
      },
      "create_image_from_server_request": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "Description of the Image, will be auto-generated if not set",
            "example": "my image"
          },
          "type": {
            "type": "string",
            "enum": [
              "backup",
              "snapshot"
            ],
            "description": "Type of Image to create (default: `snapshot`)",
            "example": "snapshot"
          },
          "labels": {
            "$ref": "#/components/schemas/labels"
          }
        },
        "description": "Request for POST https://api.hetzner.cloud/v1/servers/{id}/actions/create_image"
      },
      "create_image_from_server_response": {
        "type": "object",
        "properties": {
          "image": {
            "$ref": "#/components/schemas/image"
          },
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/create_image"
      },
      "create_load_balancer_request": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the Load Balancer",
            "example": "Web Frontend"
          },
          "load_balancer_type": {
            "type": "string",
            "description": "ID or name of the Load Balancer type this Load Balancer should be created with",
            "example": "lb11"
          },
          "algorithm": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "least_connections",
                  "round_robin"
                ],
                "description": "Type of the algorithm"
              }
            },
            "required": [
              "type"
            ],
            "description": "Algorithm of the Load Balancer"
          },
          "services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/service"
            },
            "description": "Array of services"
          },
          "targets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/target"
            },
            "description": "Array of targets"
          },
          "labels": {
            "$ref": "#/components/schemas/labels"
          },
          "public_interface": {
            "type": "boolean",
            "description": "Enable or disable the public interface of the Load Balancer",
            "example": true
          },
          "network": {
            "type": "integer",
            "description": "ID of the network the Load Balancer should be attached to on creation",
            "example": 123
          }
        },
        "required": [
          "name",
          "load_balancer_type",
          "algorithm"
        ],
        "oneOf": [
          {
            "properties": {
              "network_zone": {
                "type": "string",
                "description": "Name of network zone",
                "example": "eu-central"
              }
            }
          },
          {
            "properties": {
              "location": {
                "type": "string",
                "description": "ID or name of Location to create Load Balancer in"
              }
            }
          }
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/load_balancers"
      },
      "create_load_balancer_response": {
        "type": "object",
        "properties": {
          "load_balancer": {
            "$ref": "#/components/schemas/load_balancer"
          },
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "load_balancer",
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers"
      },
      "create_network_request": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the network",
            "example": "mynet"
          },
          "ip_range": {
            "type": "string",
            "description": "IP range of the whole network which must span all included subnets. Must be one of the private IPv4 ranges of RFC1918. Minimum network size is /24. We highly recommend that you pick a larger network with a /16 netmask.",
            "example": "10.0.0.0/16"
          },
          "labels": {
            "$ref": "#/components/schemas/labels"
          },
          "subnets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/subnet"
            },
            "description": "Array of subnets allocated."
          },
          "routes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/route"
            },
            "description": "Array of routes set in this network. The destination of the route must be one of the private IPv4 ranges of RFC1918. The gateway must be a subnet/IP of the ip_range of the network object. The destination must not overlap with an existing ip_range in any subnets or with any destinations in other routes or with the first IP of the networks ip_range or with 172.31.1.1. The gateway cannot be the first IP of the networks ip_range and also cannot be 172.31.1.1."
          }
        },
        "required": [
          "name",
          "ip_range"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/networks"
      },
      "create_network_response": {
        "type": "object",
        "properties": {
          "network": {
            "$ref": "#/components/schemas/network"
          }
        },
        "description": "Response to POST https://api.hetzner.cloud/v1/networks"
      },
      "create_server_request": {
        "type": "object",
        "title": "CreateServerRequest",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the Server to create (must be unique per Project and a valid hostname as per RFC 1123)",
            "example": "my-server"
          },
          "location": {
            "type": "string",
            "description": "ID or name of Location to create Server in (must not be used together with datacenter)",
            "example": "nbg1"
          },
          "datacenter": {
            "type": "string",
            "description": "ID or name of Datacenter to create Server in (must not be used together with location)",
            "example": "nbg1-dc3"
          },
          "server_type": {
            "type": "string",
            "description": "ID or name of the Server type this Server should be created with",
            "example": "cx11"
          },
          "start_after_create": {
            "type": "boolean",
            "description": "Start Server right after creation. Defaults to true.",
            "example": true
          },
          "image": {
            "type": "string",
            "description": "ID or name of the Image the Server is created from",
            "example": "ubuntu-20.04"
          },
          "ssh_keys": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "SSH key IDs or names which should be injected into the Server at creation time",
            "example": [
              "my-ssh-key"
            ]
          },
          "volumes": {
            "type": "array",
            "description": "Volume IDs which should be attached to the Server at the creation time. Volumes must be in the same Location.",
            "items": {
              "type": "object",
              "properties": {}
            }
          },
          "networks": {
            "type": "array",
            "description": "Network IDs which should be attached to the Server private network interface at the creation time",
            "items": {
              "type": "object",
              "properties": {}
            }
          },
          "user_data": {
            "type": "string",
            "description": "Cloud-Init user data to use during Server creation. This field is limited to 32KiB.",
            "example": "#cloud-config\nruncmd:\n- [touch, /root/cloud-init-worked]\n"
          },
          "labels": {
            "$ref": "#/components/schemas/labels"
          },
          "automount": {
            "type": "boolean",
            "description": "Auto-mount Volumes after attach",
            "example": false
          }
        },
        "required": [
          "name",
          "server_type",
          "image"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/servers"
      },
      "create_server_response": {
        "type": "object",
        "title": "CreateServerResponse",
        "properties": {
          "server": {
            "$ref": "#/components/schemas/server"
          },
          "action": {
            "$ref": "#/components/schemas/action"
          },
          "next_actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/action"
            }
          },
          "root_password": {
            "type": "string",
            "nullable": true,
            "description": "Root password when no SSH keys have been specified",
            "example": "YItygq1v3GYjjMomLaKc"
          }
        },
        "required": [
          "server",
          "action",
          "next_actions",
          "root_password"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/servers"
      },
      "create_ssh_key_request": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the SSH key",
            "example": "My ssh key"
          },
          "public_key": {
            "type": "string",
            "description": "Public key",
            "example": "ssh-rsa AAAjjk76kgf...Xt"
          },
          "labels": {
            "$ref": "#/components/schemas/labels"
          }
        },
        "required": [
          "name",
          "public_key"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/ssh_keys"
      },
      "create_ssh_key_response": {
        "type": "object",
        "properties": {
          "ssh_key": {
            "$ref": "#/components/schemas/ssh_key"
          }
        },
        "required": [
          "ssh_key"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/ssh_keys"
      },
      "create_volume_request": {
        "type": "object",
        "properties": {
          "size": {
            "type": "number",
            "description": "Size of the Volume in GB",
            "example": 42
          },
          "name": {
            "type": "string",
            "description": "Name of the volume",
            "example": "databases-storage"
          },
          "labels": {
            "$ref": "#/components/schemas/labels"
          },
          "automount": {
            "type": "boolean",
            "description": "Auto-mount Volume after attach. `server` must be provided.",
            "example": false
          },
          "format": {
            "type": "string",
            "description": "Format Volume after creation. One of: `xfs`, `ext4`",
            "example": "xfs"
          }
        },
        "required": [
          "size",
          "name"
        ],
        "oneOf": [
          {
            "properties": {
              "location": {
                "type": "string",
                "description": "Location to create the Volume in (can be omitted if Server is specified)",
                "example": "nbg1"
              }
            }
          },
          {
            "properties": {
              "server": {
                "type": "number",
                "description": "Server to which to attach the Volume once it's created (Volume will be created in the same Location as the server)"
              }
            }
          }
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/volumes"
      },
      "create_volume_response": {
        "type": "object",
        "properties": {
          "volume": {
            "$ref": "#/components/schemas/volume"
          },
          "action": {
            "$ref": "#/components/schemas/action"
          },
          "next_actions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "ID of the Action",
                  "example": 13
                },
                "command": {
                  "type": "string",
                  "description": "Command executed in the Action",
                  "example": "start_server"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "error",
                    "running",
                    "success"
                  ],
                  "description": "Status of the Action"
                },
                "progress": {
                  "type": "number",
                  "description": "Progress of Action in percent",
                  "example": 100
                },
                "started": {
                  "type": "string",
                  "description": "Point in time when the Action was started (in ISO-8601 format)",
                  "example": "2016-01-30T23:55:00+00:00"
                },
                "finished": {
                  "type": "string",
                  "nullable": true,
                  "description": "Point in time when the Action was finished (in ISO-8601 format). Only set if the Action is finished otherwise null.",
                  "example": "2016-01-30T23:56:00+00:00"
                },
                "resources": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/resource"
                  },
                  "description": "Resources the Action relates to"
                },
                "error": {
                  "$ref": "#/components/schemas/error"
                }
              },
              "required": [
                "id",
                "command",
                "status",
                "progress",
                "started",
                "finished",
                "resources",
                "error"
              ]
            }
          }
        },
        "required": [
          "volume",
          "action",
          "next_actions"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/volumes"
      },
      "created_from": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the Server the Image was created from",
            "example": 1
          },
          "name": {
            "type": "string",
            "description": "Server name at the time the Image was created",
            "example": "Server"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "description": "Information about the Server the Image was created from",
        "nullable": true
      },
      "datacenter": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the Datacenter",
            "example": 1
          },
          "name": {
            "type": "string",
            "description": "Unique identifier of the Datacenter",
            "example": "fsn1-dc8"
          },
          "description": {
            "type": "string",
            "description": "Description of the Datacenter",
            "example": "Falkenstein DC Park 8"
          },
          "location": {
            "$ref": "#/components/schemas/location"
          },
          "server_types": {
            "type": "object",
            "properties": {
              "supported": {
                "type": "array",
                "items": {
                  "type": "integer"
                },
                "description": "IDs of Server types that are supported in the Datacenter",
                "example": [
                  1,
                  2,
                  3
                ]
              },
              "available": {
                "type": "array",
                "items": {
                  "type": "integer"
                },
                "description": "IDs of Server types that are supported and for which the Datacenter has enough resources left",
                "example": [
                  1,
                  2,
                  3
                ]
              },
              "available_for_migration": {
                "type": "array",
                "items": {
                  "type": "integer"
                },
                "description": "IDs of Server types that are supported and for which the Datacenter has enough resources left",
                "example": [
                  1,
                  2,
                  3
                ]
              }
            },
            "required": [
              "supported",
              "available",
              "available_for_migration"
            ],
            "description": "The Server types the Datacenter can handle"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "location",
          "server_types"
        ],
        "description": "Datacenter this Server is located at"
      },
      "delete_route_from_network_request": {
        "$ref": "#/components/schemas/route"
      },
      "delete_route_from_network_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/networks/{id}/actions/delete_route"
      },
      "delete_server_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "description": "Response to DELETE https://api.hetzner.cloud/v1/servers/{id}"
      },
      "delete_service_request": {
        "type": "object",
        "properties": {
          "listen_port": {
            "type": "integer",
            "description": "The listen port of the service you want to delete",
            "example": 4711
          }
        },
        "required": [
          "listen_port"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/delete_service"
      },
      "delete_service_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/delete_service"
      },
      "delete_subnet_from_network_request": {
        "type": "object",
        "properties": {
          "ip_range": {
            "type": "string",
            "description": "IP range of subnet to delete",
            "example": "10.0.1.0/24"
          }
        },
        "required": [
          "ip_range"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/networks/{id}/actions/delete_subnet"
      },
      "delete_subnet_from_network_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/networks/{id}/actions/delete_subnet"
      },
      "detach_iso_from_server_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/detach_iso"
      },
      "detach_load_balancer_from_network_request": {
        "type": "object",
        "properties": {
          "network": {
            "type": "integer",
            "description": "ID of an existing network to detach the Load Balancer from",
            "example": 4711
          }
        },
        "required": [
          "network"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/detach_from_network"
      },
      "detach_load_balancer_from_network_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/detach_from_network"
      },
      "detach_server_from_network_request": {
        "type": "object",
        "properties": {
          "network": {
            "type": "integer",
            "description": "ID of an existing network to detach the Server from",
            "example": 4711
          }
        },
        "required": [
          "network"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/servers/{id}/actions/detach_from_network"
      },
      "detach_server_from_network_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/detach_from_network"
      },
      "detach_volume_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/volumes/{id}/actions/detach"
      },
      "disable_backups_for_server_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/disable_backup"
      },
      "disable_public_interface_of_load_balancer_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/disable_public_interface"
      },
      "disable_rescue_mode_for_server_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/disable_rescue"
      },
      "dns_ptr": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string",
            "description": "Single IPv4 or IPv6 address | Single IPv6 address of this Server for which the reverse DNS entry has been set up",
            "example": "2001:db8::1"
          },
          "dns_ptr": {
            "type": "string",
            "description": "DNS pointer for the specific IP address",
            "example": "server.example.com"
          }
        },
        "required": [
          "ip",
          "dns_ptr"
        ]
      },
      "enable_and_configure_backups_for_server_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/enable_backup"
      },
      "enable_public_interface_of_load_balancer_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/enable_public_interface"
      },
      "enable_rescue_mode_for_server_request": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "freebsd64",
              "linux32",
              "linux64"
            ],
            "description": "Type of rescue system to boot (default: `linux64`)"
          },
          "ssh_keys": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Array of SSH key IDs which should be injected into the rescue system. Only available for types: `linux64` and `linux32`.",
            "example": [
              2323
            ]
          }
        },
        "description": "Request for POST https://api.hetzner.cloud/v1/servers/{id}/actions/enable_rescue"
      },
      "enable_rescue_mode_for_server_response": {
        "type": "object",
        "properties": {
          "root_password": {
            "type": "string",
            "description": "Password that will be set for this Server once the Action succeeds",
            "example": "zCWbFhnu950dUTko5f40"
          },
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/enable_rescue"
      },
      "error": {
        "type": "object",
        "nullable": true,
        "properties": {
          "code": {
            "type": "string",
            "description": "Fixed machine readable code",
            "example": "action_failed"
          },
          "message": {
            "type": "string",
            "description": "Humanized error message",
            "example": "Action failed"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "description": "Error message for the Action if error occurred, otherwise null"
      },
      "floating_ip": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the Floating IP",
            "example": 4711
          },
          "name": {
            "type": "string",
            "description": "Unique name of the Floating IP",
            "example": "Web Frontend"
          },
          "description": {
            "type": "string",
            "description": "Description of the Floating IP",
            "nullable": true,
            "example": "Web Frontend"
          },
          "ip": {
            "type": "string",
            "description": "IP address of the Floating IP",
            "example": "131.232.99.1"
          },
          "type": {
            "type": "string",
            "enum": [
              "ipv4",
              "ipv6"
            ],
            "description": "Type of the Floating IP"
          },
          "server": {
            "type": "integer",
            "description": "ID of the Server the Floating IP is assigned to, null if it is not assigned at all",
            "nullable": true,
            "example": 42
          },
          "dns_ptr": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/dns_ptr"
            },
            "description": "Array of reverse DNS entries"
          },
          "home_location": {
            "$ref": "#/components/schemas/location"
          },
          "blocked": {
            "type": "boolean",
            "description": "Whether the IP is blocked",
            "example": false
          },
          "protection": {
            "type": "object",
            "properties": {
              "delete": {
                "type": "boolean",
                "description": "If true, prevents the Floating IP from being deleted",
                "example": false
              }
            },
            "required": [
              "delete"
            ],
            "description": "Protection configuration for the Floating IP"
          },
          "labels": {
            "$ref": "#/components/schemas/labels"
          },
          "created": {
            "type": "string",
            "description": "Point in time when the Floating IP was created (in ISO-8601 format)",
            "example": "2016-01-30T23:50:00+00:00"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "ip",
          "type",
          "server",
          "dns_ptr",
          "home_location",
          "blocked",
          "protection",
          "labels",
          "created"
        ]
      },
      "get_action_for_floating_ip_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/floating_ips/{id}/actions/{action_id}"
      },
      "get_action_for_image_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/images/{id}/actions/{action_id}"
      },
      "get_action_for_load_balancer_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/load_balancers/{id}/actions/{action_id}"
      },
      "get_action_for_network_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/networks/{id}/actions/{action_id}"
      },
      "get_action_for_server_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/servers/{id}/actions/{action_id}"
      },
      "get_action_for_volume_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/volumes/{id}/actions/{action_id}"
      },
      "get_action_response": {
        "type": "object",
        "title": "ActionResponse",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/actions/{id}"
      },
      "get_certificate_response": {
        "title": "CertificateResponse",
        "type": "object",
        "properties": {
          "certificate": {
            "$ref": "#/components/schemas/certificate"
          }
        },
        "required": [
          "certificate"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/certificates/{id}"
      },
      "get_datacenter_response": {
        "type": "object",
        "properties": {
          "datacenter": {
            "$ref": "#/components/schemas/datacenter"
          }
        },
        "required": [
          "datacenter"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/datacenters/{id}"
      },
      "get_floating_ip_response": {
        "type": "object",
        "properties": {
          "floating_ip": {
            "$ref": "#/components/schemas/floating_ip"
          }
        },
        "required": [
          "floating_ip"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/floating_ips/{id}"
      },
      "get_image_response": {
        "type": "object",
        "properties": {
          "image": {
            "$ref": "#/components/schemas/image"
          }
        },
        "description": "Response to GET https://api.hetzner.cloud/v1/images/{id}"
      },
      "get_iso_response": {
        "type": "object",
        "properties": {
          "iso": {
            "$ref": "#/components/schemas/iso"
          }
        },
        "required": [
          "iso"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/isos/{id}"
      },
      "get_load_balancer_response": {
        "type": "object",
        "properties": {
          "load_balancer": {
            "$ref": "#/components/schemas/load_balancer"
          }
        },
        "required": [
          "load_balancer"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/load_balancers/{id}"
      },
      "get_load_balancer_type_response": {
        "type": "object",
        "properties": {
          "load_balancer_type": {
            "$ref": "#/components/schemas/load_balancer_type"
          }
        },
        "description": "Response to GET https://api.hetzner.cloud/v1/load_balancer_types/{id}"
      },
      "get_location_response": {
        "type": "object",
        "properties": {
          "location": {
            "$ref": "#/components/schemas/location"
          }
        },
        "required": [
          "location"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/locations/{id}"
      },
      "get_metrics_for_loadbalancer_response": {
        "type": "object",
        "properties": {
          "metrics": {
            "$ref": "#/components/schemas/metrics"
          }
        },
        "required": [
          "metrics"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/load_balancers/{id}/metrics"
      },
      "get_metrics_for_server_response": {
        "type": "object",
        "properties": {
          "metrics": {
            "$ref": "#/components/schemas/metrics"
          }
        },
        "required": [
          "metrics"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/servers/{id}/metrics"
      },
      "get_network_response": {
        "type": "object",
        "properties": {
          "network": {
            "$ref": "#/components/schemas/network"
          }
        },
        "description": "Response to GET https://api.hetzner.cloud/v1/networks/{id}"
      },
      "get_server_response": {
        "type": "object",
        "properties": {
          "server": {
            "$ref": "#/components/schemas/server"
          }
        },
        "description": "Response to GET https://api.hetzner.cloud/v1/servers/{id}"
      },
      "get_server_type_response": {
        "type": "object",
        "properties": {
          "server_type": {
            "$ref": "#/components/schemas/server_type"
          }
        },
        "required": [
          "server_type"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/server_types/{id}"
      },
      "get_ssh_key_response": {
        "type": "object",
        "properties": {
          "ssh_key": {
            "$ref": "#/components/schemas/ssh_key"
          }
        },
        "required": [
          "ssh_key"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/ssh_keys/{id}"
      },
      "get_volume_response": {
        "type": "object",
        "properties": {
          "volume": {
            "$ref": "#/components/schemas/volume"
          }
        },
        "required": [
          "volume"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/volumes/{id}"
      },
      "health_status": {
        "type": "object",
        "properties": {
          "listen_port": {
            "type": "integer",
            "example": 443
          },
          "status": {
            "type": "string",
            "example": "healthy"
          }
        }
      },
      "http": {
        "type": "object",
        "properties": {
          "cookie_name": {
            "type": "string",
            "description": "Name of the cookie used for sticky sessions",
            "example": "HCLBSTICKY"
          },
          "cookie_lifetime": {
            "type": "integer",
            "description": "Lifetime of the cookie used for sticky sessions",
            "example": 300
          },
          "certificates": {
            "type": "array",
            "description": "IDs of the Certificates to use for TLS/SSL termination by the Load Balancer; empty for TLS/SSL passthrough or if `protocol` is \"http\"",
            "items": {
              "type": "integer"
            },
            "example": [
              897
            ]
          },
          "redirect_http": {
            "type": "boolean",
            "description": "Redirect HTTP requests to HTTPS. Only available if protocol is \"https\". Default `false`",
            "example": true
          },
          "sticky_sessions": {
            "type": "boolean",
            "description": "Use sticky sessions. Only available if protocol is \"http\" or \"https\". Default `false`",
            "example": true
          }
        },
        "required": [
          "cookie_name",
          "cookie_lifetime"
        ],
        "description": "Configuration option for protocols http and https"
      },
      "image": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the Image",
            "example": 4711
          },
          "type": {
            "type": "string",
            "enum": [
              "backup",
              "snapshot",
              "system",
              "temporary"
            ],
            "description": "Type of the Image",
            "example": "snapshot"
          },
          "status": {
            "type": "string",
            "enum": [
              "available",
              "creating"
            ],
            "description": "Whether the Image can be used or if it's still being created"
          },
          "name": {
            "type": "string",
            "description": "Unique identifier of the Image. This value is only set for system Images.",
            "nullable": true,
            "example": "ubuntu-20.04"
          },
          "description": {
            "type": "string",
            "description": "Description of the Image",
            "example": "Ubuntu 20.04 Standard 64 bit"
          },
          "image_size": {
            "type": "number",
            "description": "Size of the Image file in our storage in GB. For snapshot Images this is the value relevant for calculating costs for the Image.",
            "nullable": true,
            "example": 2.3
          },
          "disk_size": {
            "type": "number",
            "description": "Size of the disk contained in the Image in GB",
            "example": 10
          },
          "created": {
            "type": "string",
            "description": "Point in time when the Image was created (in ISO-8601 format)",
            "example": "2016-01-30T23:50:00+00:00"
          },
          "created_from": {
            "$ref": "#/components/schemas/created_from"
          },
          "bound_to": {
            "type": "integer",
            "description": "ID of Server the Image is bound to. Only set for Images of type `backup`.",
            "nullable": true,
            "example": null
          },
          "os_flavor": {
            "type": "string",
            "enum": [
              "centos",
              "debian",
              "fedora",
              "ubuntu",
              "unknown"
            ],
            "description": "Flavor of operating system contained in the Image",
            "example": "ubuntu"
          },
          "os_version": {
            "type": "string",
            "description": "Operating system version",
            "nullable": true,
            "example": "20.04"
          },
          "rapid_deploy": {
            "type": "boolean",
            "description": "Indicates that rapid deploy of the Image is available",
            "example": false
          },
          "protection": {
            "type": "object",
            "properties": {
              "delete": {
                "type": "boolean",
                "description": "If true, prevents the snapshot from being deleted",
                "example": false
              }
            },
            "required": [
              "delete"
            ],
            "description": "Protection configuration for the Image"
          },
          "deprecated": {
            "type": "string",
            "description": "Point in time when the Image is considered to be deprecated (in ISO-8601 format)",
            "nullable": true,
            "example": "2018-02-28T00:00:00+00:00"
          },
          "labels": {
            "$ref": "#/components/schemas/labels"
          }
        },
        "required": [
          "id",
          "type",
          "status",
          "name",
          "description",
          "image_size",
          "disk_size",
          "created",
          "created_from",
          "bound_to",
          "os_flavor",
          "os_version",
          "protection",
          "deprecated",
          "labels"
        ]
      },
      "ipv4": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string",
            "description": "IP address (v4) of this Server",
            "example": "1.2.3.4"
          },
          "blocked": {
            "type": "boolean",
            "description": "If the IP is blocked by our anti abuse dept",
            "example": false
          },
          "dns_ptr": {
            "type": "string",
            "description": "Reverse DNS PTR entry for the IPv4 addresses of this Server",
            "example": "server01.example.com"
          }
        },
        "required": [
          "ip",
          "blocked",
          "dns_ptr"
        ],
        "description": "IP address (v4) and its reverse DNS entry of this Server"
      },
      "ipv6": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string",
            "description": "IP address (v4) of this Server",
            "example": "2001:db8::/64"
          },
          "blocked": {
            "type": "boolean",
            "description": "If the IP is blocked by our anti abuse dept",
            "example": false
          },
          "dns_ptr": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/dns_ptr"
            },
            "description": "Reverse DNS PTR entries for the IPv6 addresses of this Server, `null` by default",
            "nullable": true
          }
        },
        "required": [
          "ip",
          "blocked",
          "dns_ptr"
        ],
        "description": "IPv6 network assigned to this Server and its reverse DNS entry"
      },
      "iso": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the ISO",
            "example": 4711
          },
          "name": {
            "type": "string",
            "description": "Unique identifier of the ISO. Only set for public ISOs",
            "nullable": true,
            "example": "FreeBSD-11.0-RELEASE-amd64-dvd1"
          },
          "description": {
            "type": "string",
            "description": "Description of the ISO",
            "example": "FreeBSD 11.0 x64"
          },
          "type": {
            "type": "string",
            "enum": [
              "private",
              "public"
            ],
            "description": "Type of the ISO"
          },
          "deprecated": {
            "type": "string",
            "description": "ISO 8601 timestamp of deprecation, null if ISO is still available. After the deprecation time it will no longer be possible to attach the ISO to Servers.",
            "nullable": true,
            "example": "2018-02-28T00:00:00+00:00"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "type",
          "deprecated"
        ]
      },
      "iso_optional": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the ISO",
            "example": 4711
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Unique identifier of the ISO. Only set for public ISOs",
            "example": "FreeBSD-11.0-RELEASE-amd64-dvd1"
          },
          "description": {
            "type": "string",
            "description": "Description of the ISO",
            "example": "FreeBSD 11.0 x64"
          },
          "type": {
            "type": "string",
            "enum": [
              "private",
              "public"
            ],
            "description": "Type of the ISO"
          },
          "deprecated": {
            "type": "string",
            "nullable": true,
            "description": "ISO 8601 timestamp of deprecation, null if ISO is still available. After the deprecation time it will no longer be possible to attach the ISO to Servers.",
            "example": "2018-02-28T00:00:00+00:00"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "type",
          "deprecated"
        ],
        "description": "ISO Image that is attached to this Server. Null if no ISO is attached.",
        "nullable": true
      },
      "labels": {
        "type": "object",
        "description": "User-defined labels (key-value pairs)",
        "additionalProperties": {
          "type": "string",
          "pattern": "^(()|[a-z0-9A-Z]|([a-z0-9A-Z][a-z0-9A-Z\\._-]{0,61}[a-z0-9A-Z]))$"
        }
      },
      "list_actions_for_floating_ip_response": {
        "type": "object",
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/action"
            }
          }
        },
        "required": [
          "actions"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/floating_ips/{id}/actions"
      },
      "list_actions_for_image_response": {
        "type": "object",
        "title": "ActionsResponse",
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/action"
            }
          }
        },
        "required": [
          "actions"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/images/{id}/actions"
      },
      "list_actions_for_load_balancer_response": {
        "type": "object",
        "title": "ActionsResponse",
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/action"
            }
          }
        },
        "required": [
          "actions"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/load_balancers/{id}/actions"
      },
      "list_actions_for_network_response": {
        "type": "object",
        "title": "ActionsResponse",
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/action"
            }
          }
        },
        "required": [
          "actions"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/networks/{id}/actions"
      },
      "list_actions_for_server_response": {
        "type": "object",
        "title": "ActionsResponse",
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/action"
            }
          }
        },
        "required": [
          "actions"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/servers/{id}/actions"
      },
      "list_actions_for_volume_response": {
        "type": "object",
        "title": "ActionsResponse",
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/action"
            }
          }
        },
        "required": [
          "actions"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/volumes/{id}/actions"
      },
      "list_actions_response": {
        "type": "object",
        "title": "ActionsResponse",
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/action"
            }
          }
        },
        "required": [
          "actions"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/actions"
      },
      "list_certificates_response": {
        "title": "CertificatesResponse",
        "type": "object",
        "properties": {
          "certificates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/certificate"
            }
          }
        },
        "required": [
          "certificates"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/certificates"
      },
      "list_datacenters_response": {
        "type": "object",
        "properties": {
          "datacenters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/datacenter"
            }
          },
          "recommendation": {
            "type": "integer",
            "description": "The Datacenter which is recommended to be used to create new Servers.",
            "example": 1
          }
        },
        "required": [
          "datacenters",
          "recommendation"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/datacenters"
      },
      "list_floating_ips_response": {
        "type": "object",
        "properties": {
          "floating_ips": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/floating_ip"
            }
          }
        },
        "required": [
          "floating_ips"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/floating_ips"
      },
      "list_images_response": {
        "type": "object",
        "properties": {
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/image"
            }
          }
        },
        "required": [
          "images"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/images"
      },
      "list_isos_response": {
        "type": "object",
        "properties": {
          "isos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/iso"
            }
          }
        },
        "required": [
          "isos"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/isos"
      },
      "list_load_balancer_types_response": {
        "type": "object",
        "properties": {
          "load_balancer_types": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/load_balancer_type"
            }
          }
        },
        "required": [
          "load_balancer_types"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/load_balancer_types"
      },
      "list_load_balancers_response": {
        "type": "object",
        "properties": {
          "load_balancers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/load_balancer"
            }
          }
        },
        "required": [
          "load_balancers"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/load_balancers"
      },
      "list_locations_response": {
        "type": "object",
        "properties": {
          "locations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/location"
            }
          }
        },
        "required": [
          "locations"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/locations"
      },
      "list_networks_response": {
        "type": "object",
        "properties": {
          "networks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/network"
            }
          }
        },
        "required": [
          "networks"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/networks"
      },
      "list_prices_response": {
        "type": "object",
        "properties": {
          "pricing": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "Currency the returned prices are expressed in, coded according to ISO 4217",
                "example": "EUR"
              },
              "vat_rate": {
                "type": "string",
                "description": "The VAT rate used for calculating prices with VAT",
                "example": "19.000000"
              },
              "image": {
                "type": "object",
                "properties": {
                  "price_per_gb_month": {
                    "$ref": "#/components/schemas/price"
                  }
                },
                "required": [
                  "price_per_gb_month"
                ],
                "description": "The cost of Image per GB/month"
              },
              "floating_ip": {
                "type": "object",
                "properties": {
                  "price_monthly": {
                    "$ref": "#/components/schemas/price"
                  }
                },
                "required": [
                  "price_monthly"
                ],
                "description": "The cost of one Floating IP per month"
              },
              "traffic": {
                "type": "object",
                "properties": {
                  "price_per_tb": {
                    "$ref": "#/components/schemas/price"
                  }
                },
                "required": [
                  "price_per_tb"
                ],
                "description": "The cost of additional traffic per TB"
              },
              "server_backup": {
                "type": "object",
                "properties": {
                  "percentage": {
                    "type": "string",
                    "description": "Percentage by how much the base price will increase",
                    "example": "20.0000000000"
                  }
                },
                "required": [
                  "percentage"
                ],
                "description": "Will increase base Server costs by specific percentage"
              },
              "volume": {
                "type": "object",
                "properties": {
                  "price_per_gb_month": {
                    "$ref": "#/components/schemas/price"
                  }
                },
                "required": [
                  "price_per_gb_month"
                ],
                "description": "The cost of Volume per GB/month"
              },
              "server_types": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of the Server type the price is for",
                      "example": 4
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the Server type the price is for",
                      "example": "cx11"
                    },
                    "prices": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/price_per_time"
                      },
                      "description": "Server type costs per Location"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "prices"
                  ]
                },
                "description": "Costs of Server types per Location and type"
              },
              "load_balancer_types": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of the Load Balancer type the price is for",
                      "example": 1
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the Load Balancer type the price is for",
                      "example": "lb11"
                    },
                    "prices": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/price_per_time"
                      },
                      "description": "Load Balancer type costs per Location"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "prices"
                  ]
                },
                "description": "Costs of Load Balancer types per Location and type"
              }
            },
            "required": [
              "currency",
              "vat_rate",
              "image",
              "floating_ip",
              "traffic",
              "server_backup",
              "volume",
              "server_types",
              "load_balancer_types"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "pricing"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/pricing"
      },
      "list_server_types_response": {
        "type": "object",
        "properties": {
          "server_types": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/server_type"
            }
          }
        },
        "required": [
          "server_types"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/server_types"
      },
      "list_servers_response": {
        "type": "object",
        "properties": {
          "servers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/server"
            }
          }
        },
        "required": [
          "servers"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/servers"
      },
      "list_ssh_keys_response": {
        "type": "object",
        "properties": {
          "ssh_keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ssh_key"
            }
          }
        },
        "required": [
          "ssh_keys"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/ssh_keys"
      },
      "list_volumes_response": {
        "type": "object",
        "properties": {
          "volumes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/volume"
            }
          }
        },
        "required": [
          "volumes"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/volumes"
      },
      "load_balancer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the Load Balancer",
            "example": 4711
          },
          "name": {
            "type": "string",
            "description": "Unique name of the Load Balancer",
            "example": "Web Frontend"
          },
          "public_net": {
            "$ref": "#/components/schemas/public_net_load_balancer"
          },
          "private_net": {
            "type": "array",
            "description": "Private networks information",
            "items": {
              "$ref": "#/components/schemas/private_net_load_balancer"
            }
          },
          "location": {
            "$ref": "#/components/schemas/location"
          },
          "load_balancer_type": {
            "$ref": "#/components/schemas/load_balancer_type"
          },
          "protection": {
            "type": "object",
            "properties": {
              "delete": {
                "type": "boolean",
                "description": "If true, prevents the Load Balancer from being deleted",
                "example": false
              }
            },
            "required": [
              "delete"
            ],
            "description": "Protection configuration for the Load Balancer"
          },
          "labels": {
            "$ref": "#/components/schemas/labels"
          },
          "created": {
            "type": "string",
            "description": "Point in time when the Load Balancer was created (in ISO-8601 format)",
            "example": "2016-01-30T23:50:00+00:00"
          },
          "services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/service"
            },
            "description": "List of services that belong to this Load Balancer"
          },
          "targets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/target"
            },
            "description": "List of targets that belong to this Load Balancer"
          },
          "algorithm": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "least_connections",
                  "round_robin"
                ],
                "description": "Type of the algorithm"
              }
            },
            "required": [
              "type"
            ],
            "description": "Algorithm of the Load Balancer"
          },
          "outgoing_traffic": {
            "type": "integer",
            "nullable": true,
            "description": "Outbound Traffic for the current billing period in bytes",
            "format": "int64"
          },
          "ingoing_traffic": {
            "type": "integer",
            "nullable": true,
            "description": "Inbound Traffic for the current billing period in bytes",
            "format": "int64"
          },
          "included_traffic": {
            "type": "integer",
            "description": "Free Traffic for the current billing period in bytes",
            "example": 10000,
            "format": "int64"
          }
        },
        "required": [
          "id",
          "name",
          "public_net",
          "private_net",
          "location",
          "load_balancer_type",
          "protection",
          "labels",
          "created",
          "services",
          "targets",
          "algorithm",
          "outgoing_traffic",
          "ingoing_traffic",
          "included_traffic"
        ]
      },
      "load_balancer_type": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the Load Balancer type",
            "example": 1
          },
          "name": {
            "type": "string",
            "description": "Unique identifier of the Load Balancer type",
            "example": "lb11"
          },
          "description": {
            "type": "string",
            "description": "Description of the Load Balancer type",
            "example": "LB11"
          },
          "max_connections": {
            "type": "integer",
            "description": "Number of maximum simultaneous open connections",
            "example": 20000
          },
          "max_services": {
            "type": "integer",
            "description": "Number of services a Load Balancer of this type can have",
            "example": 5
          },
          "max_targets": {
            "type": "integer",
            "description": "Number of targets a single Load Balancer can have",
            "example": 25
          },
          "max_assigned_certificates": {
            "type": "integer",
            "description": "Number of SSL Certificates that can be assigned to a single Load Balancer",
            "example": 10
          },
          "deprecated": {
            "type": "string",
            "description": "Point in time when the Load Balancer type is deprecated (in ISO-8601 format)",
            "nullable": true,
            "example": "2016-01-30T23:50:00+00:00"
          },
          "prices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/price_per_time"
            },
            "description": "Prices in different network zones"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "max_connections",
          "max_services",
          "max_targets",
          "max_assigned_certificates",
          "deprecated",
          "prices"
        ]
      },
      "location": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the Location",
            "example": 1
          },
          "name": {
            "type": "string",
            "description": "Unique identifier of the Location",
            "example": "fsn1"
          },
          "description": {
            "type": "string",
            "description": "Description of the Location",
            "example": "Faleknstein DC Park 1"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 code of the country the Location resides in",
            "example": "DE"
          },
          "city": {
            "type": "string",
            "description": "City the Location is closest to",
            "example": "Falkenstein"
          },
          "latitude": {
            "type": "number",
            "description": "Latitude of the city closest to the Location",
            "example": 50.47612
          },
          "longitude": {
            "type": "number",
            "description": "Longitude of the city closest to the Location",
            "example": 12.370071
          },
          "network_zone": {
            "type": "string",
            "description": "Name of network zone this Location resides in",
            "example": "eu-central"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "country",
          "city",
          "latitude",
          "longitude",
          "network_zone"
        ],
        "description": "Location where the Datacenter resides in | Location the Floating IP was created in. Routing is optimized for this Location."
      },
      "metrics": {
        "type": "object",
        "properties": {
          "start": {
            "type": "string",
            "description": "Start of period of metrics reported (in ISO-8601 format)",
            "example": "2017-01-01T00:00:00+00:00"
          },
          "end": {
            "type": "string",
            "description": "End of period of metrics reported (in ISO-8601 format)",
            "example": "2017-01-01T23:00:00+00:00"
          },
[...]
