{
  "openapi": "3.0.3",
  "info": {
    "title": "Hetzner Cloud API",
    "description": "Copied from the official API documentation for the Public Hetzner Cloud.",
    "contact": {
      "url": "https://docs.hetzner.cloud/"
    },
    "version": "9e519dc-dirty"
  },
  "servers": [
    {
      "url": "https://api.hetzner.cloud/v1",
      "description": "Official production server"
    }
  ],
  "components": {
    "schemas": {
      "action": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the Action"
          },
          "command": {
            "type": "string",
            "description": "Command executed in the Action"
          },
          "status": {
            "type": "string",
            "enum": [
              "error",
              "running",
              "success"
            ],
            "description": "Status of the Action"
          },
          "progress": {
            "type": "number",
            "description": "Progress of Action in percent"
          },
          "started": {
            "type": "string",
            "description": "Point in time when the Action was started (in ISO-8601 format)"
          },
          "finished": {
            "type": "string",
            "description": "Point in time when the Action was finished (in ISO-8601 format). Only set if the Action is finished otherwise null.",
            "nullable": true
          },
          "resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/resource"
            },
            "description": "Resources the Action relates to"
          },
          "error": {
            "$ref": "#/components/schemas/error"
          }
        },
        "required": [
          "id",
          "command",
          "status",
          "progress",
          "started",
          "finished",
          "resources",
          "error"
        ],
        "description": "Actions show the results and progress of asynchronous requests to the API."
      },
      "add_route_to_network_request": {
        "$ref": "#/components/schemas/route"
      },
      "add_route_to_network_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/networks/{id}/actions/add_route"
      },
      "add_service_request": {
        "type": "object",
        "properties": {
          "protocol": {
            "type": "string",
            "enum": [
              "http",
              "https",
              "tcp"
            ],
            "description": "Protocol of the service"
          },
          "listen_port": {
            "type": "integer",
            "description": "The port the service listens on, i.e. the port users can connect to. For HTTP or HTTPS services, the default values are 80 or 443, respectively."
          },
          "destination_port": {
            "type": "integer",
            "description": "The port traffic is forwarded to, i.e. the port the targets are listening and accepting connections on. For HTTP or HTTPS services, the default values are 80 or 443, respectively."
          },
          "proxyprotocol": {
            "type": "boolean",
            "description": "Enable the PROXY protocol. Please note that the software running on the targets and handling connections needs to support the PROXY protocol."
          },
          "http": {
            "$ref": "#/components/schemas/http"
          },
          "health_check": {
            "$ref": "#/components/schemas/health_check"
          }
        },
        "required": [
          "protocol"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/add_service"
      },
      "add_service_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/add_service"
      },
      "add_subnet_to_network_request": {
        "$ref": "#/components/schemas/subnet"
      },
      "add_subnet_to_network_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/networks/{id}/actions/add_subnet"
      },
      "add_target_request": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "label_selector",
              "server"
            ],
            "description": "Type of the resource"
          },
          "server": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "description": "ID of the Server"
              }
            },
            "required": [
              "id"
            ],
            "additionalProperties": false,
            "description": "Configuration for type Server, required if type is `server`"
          },
          "use_private_ip": {
            "type": "boolean",
            "description": "Use the private network IP instead of the public IP of the Server, requires the Server and Load Balancer to be in the same network. Default value is false."
          },
          "label_selector": {
            "type": "object",
            "properties": {
              "selector": {
                "type": "string",
                "description": "Label selector"
              }
            },
            "required": [
              "selector"
            ],
            "description": "Configuration for label selector targets, required if type is `label_selector`"
          }
        },
        "required": [
          "type"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/add_target"
      },
      "add_target_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/add_target"
      },
      "assign_floating_ip_to_server_request": {
        "type": "object",
        "properties": {
          "server": {
            "type": "integer",
            "description": "ID of the Server the Floating IP shall be assigned to"
          }
        },
        "required": [
          "server"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/floating_ips/{id}/actions/assign"
      },
      "assign_floating_ip_to_server_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/floating_ips/{id}/actions/assign"
      },
      "attach_iso_to_server_request": {
        "type": "object",
        "properties": {
          "iso": {
            "type": "string",
            "description": "ID or name of ISO to attach to the Server as listed in GET `/isos`"
          }
        },
        "required": [
          "iso"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/servers/{id}/actions/attach_iso"
      },
      "attach_iso_to_server_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/attach_iso"
      },
      "attach_load_balancer_to_network_request": {
        "type": "object",
        "properties": {
          "network": {
            "type": "integer",
            "description": "ID of an existing network to attach the Load Balancer to"
          },
          "ip": {
            "type": "string",
            "description": "IP to request to be assigned to this Load Balancer; if you do not provide this then you will be auto assigned an IP address"
          }
        },
        "required": [
          "network"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/attach_to_network"
      },
      "attach_load_balancer_to_network_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/attach_to_network"
      },
      "attach_server_to_network_request": {
        "type": "object",
        "properties": {
          "network": {
            "type": "integer",
            "description": "ID of an existing network to attach the Server to"
          },
          "ip": {
            "type": "string",
            "description": "IP to request to be assigned to this Server; if you do not provide this then you will be auto assigned an IP address"
          },
          "alias_ips": {
            "type": "array",
            "description": "Additional IPs to be assigned to this Server",
            "items": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "required": [
          "network"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/servers/{id}/actions/attach_to_network"
      },
      "attach_server_to_network_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/attach_to_network"
      },
      "attach_volume_to_server_request": {
        "type": "object",
        "properties": {
          "server": {
            "type": "integer",
            "description": "ID of the Server the Volume will be attached to"
          },
          "automount": {
            "type": "boolean",
            "description": "Auto-mount the Volume after attaching it"
          }
        },
        "required": [
          "server"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/volumes/{id}/actions/attach"
      },
      "attach_volume_to_server_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/volumes/{id}/actions/attach"
      },
      "certificate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the Certificate"
          },
          "name": {
            "type": "string",
            "description": "Unique name of the Certificate"
          },
          "labels": {
            "type": "object",
            "properties": {},
            "description": "User-defined labels (key-value pairs)"
          },
          "certificate": {
            "type": "string",
            "description": "Certificate and chain in PEM format, in order so that each record directly certifies the one preceding"
          },
          "created": {
            "type": "string",
            "description": "Point in time when the Certificate was created (in ISO-8601 format)"
          },
          "not_valid_before": {
            "type": "string",
            "description": "Point in time when the Certificate becomes valid (in ISO-8601 format)"
          },
          "not_valid_after": {
            "type": "string",
            "description": "Point in time when the Certificate stops being valid (in ISO-8601 format)"
          },
          "domain_names": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Domains and subdomains covered by the Certificate"
          },
          "fingerprint": {
            "type": "string",
            "description": "Fingerprint of the Certificate"
          },
          "used_by": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/resource"
            },
            "description": "Resources currently using the Certificate."
          }
        },
        "required": [
          "id",
          "name",
          "labels",
          "certificate",
          "created",
          "not_valid_before",
          "not_valid_after",
          "domain_names",
          "fingerprint",
          "used_by"
        ],
        "description": "TLS/SSL Certificates prove the identity of a Server and are used to encrypt client traffic."
      },
      "change_algorithm_request": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "least_connections",
              "round_robin"
            ],
            "description": "Algorithm of the Load Balancer"
          }
        },
        "required": [
          "type"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/change_algorithm"
      },
      "change_algorithm_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/change_algorithm"
      },
      "change_alias_ips_of_network_request": {
        "type": "object",
        "properties": {
          "network": {
            "type": "integer",
            "description": "ID of an existing Network already attached to the Server"
          },
          "alias_ips": {
            "type": "array",
            "description": "New alias IPs to set for this Server",
            "items": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "required": [
          "network",
          "alias_ips"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/servers/{id}/actions/change_alias_ips"
      },
      "change_alias_ips_of_network_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/change_alias_ips"
      },
      "change_floating_ip_protection_request": {
        "type": "object",
        "properties": {
          "delete": {
            "type": "boolean",
            "description": "If true, prevents the Floating IP from being deleted"
          }
        },
        "description": "Request for POST https://api.hetzner.cloud/v1/floating_ips/{id}/actions/change_protection"
      },
      "change_floating_ip_protection_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/floating_ips/{id}/actions/change_protection"
      },
      "change_image_protection_request": {
        "type": "object",
        "properties": {
          "delete": {
            "type": "boolean",
            "description": "If true, prevents the snapshot from being deleted"
          }
        },
        "description": "Request for POST https://api.hetzner.cloud/v1/images/{id}/actions/change_protection"
      },
      "change_image_protection_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/images/{id}/actions/change_protection"
      },
      "change_ip_range_of_network_request": {
        "type": "object",
        "properties": {
          "ip_range": {
            "type": "string",
            "description": "The new prefix for the whole Network"
          }
        },
        "required": [
          "ip_range"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/networks/{id}/actions/change_ip_range"
      },
      "change_ip_range_of_network_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/networks/{id}/actions/change_ip_range"
      },
      "change_load_balancer_protection_request": {
        "type": "object",
        "properties": {
          "delete": {
            "type": "boolean",
            "description": "If true, prevents the Load Balancer from being deleted"
          }
        },
        "description": "Request for POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/change_protection"
      },
      "change_load_balancer_protection_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/change_protection"
      },
      "change_network_protection_request": {
        "type": "object",
        "properties": {
          "delete": {
            "type": "boolean",
            "description": "If true, prevents the Network from being deleted"
          }
        },
        "description": "Request for POST https://api.hetzner.cloud/v1/networks/{id}/actions/change_protection"
      },
      "change_network_protection_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/networks/{id}/actions/change_protection"
      },
      "change_reverse_dns_entry_for_floating_ip_request": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string",
            "description": "IP address for which to set the reverse DNS entry"
          },
          "dns_ptr": {
            "type": "string",
            "description": "Hostname to set as a reverse DNS PTR entry, will reset to original default value if `null`",
            "nullable": true
          }
        },
        "required": [
          "ip",
          "dns_ptr"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/floating_ips/{id}/actions/change_dns_ptr"
      },
      "change_reverse_dns_entry_for_floating_ip_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/floating_ips/{id}/actions/change_dns_ptr"
      },
      "change_reverse_dns_entry_for_this_server_request": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string",
            "description": "Primary IP address for which the reverse DNS entry should be set"
          },
          "dns_ptr": {
            "type": "string",
            "description": "Hostname to set as a reverse DNS PTR entry, reset to original value if `null`",
            "nullable": true
          }
        },
        "required": [
          "ip",
          "dns_ptr"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/servers/{id}/actions/change_dns_ptr"
      },
      "change_reverse_dns_entry_for_this_server_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/change_dns_ptr"
      },
      "change_server_protection_request": {
        "type": "object",
        "properties": {
          "delete": {
            "type": "boolean",
            "description": "If true, prevents the Server from being deleted (currently delete and rebuild attribute needs to have the same value)"
          },
          "rebuild": {
            "type": "boolean",
            "description": "If true, prevents the Server from being rebuilt` (currently delete and rebuild attribute needs to have the same value)"
          }
        },
        "description": "Request for POST https://api.hetzner.cloud/v1/servers/{id}/actions/change_protection"
      },
      "change_server_protection_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/change_protection"
      },
      "change_type_of_load_balancer_request": {
        "type": "object",
        "properties": {
          "load_balancer_type": {
            "type": "string",
            "description": "ID or name of Load Balancer type the Load Balancer should migrate to"
          }
        },
        "required": [
          "load_balancer_type"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/change_type"
      },
      "change_type_of_load_balancer_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/change_type"
      },
      "change_type_of_server_request": {
        "type": "object",
        "properties": {
          "upgrade_disk": {
            "type": "boolean",
            "description": "If false, do not upgrade the disk (this allows downgrading the Server type later)"
          },
          "server_type": {
            "type": "string",
            "description": "ID or name of Server type the Server should migrate to"
          }
        },
        "required": [
          "upgrade_disk",
          "server_type"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/servers/{id}/actions/change_type"
      },
      "change_type_of_server_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/change_type"
      },
      "change_volume_protection_request": {
        "type": "object",
        "properties": {
          "delete": {
            "type": "boolean",
            "description": "If true, prevents the Volume from being deleted"
          }
        },
        "description": "Request for POST https://api.hetzner.cloud/v1/volumes/{id}/actions/change_protection"
      },
      "change_volume_protection_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/volumes/{id}/actions/change_protection"
      },
      "create_certificate_request": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the Certificate"
          },
          "labels": {
            "type": "object",
            "properties": {},
            "description": "User-defined labels (key-value pairs)"
          },
          "certificate": {
            "type": "string",
            "description": "Certificate and chain in PEM format, in order so that each record directly certifies the one preceding"
          },
          "private_key": {
            "type": "string",
            "description": "Certificate key in PEM format"
          }
        },
        "required": [
          "name",
          "certificate",
          "private_key"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/certificates"
      },
      "create_certificate_response": {
        "type": "object",
        "properties": {
          "certificate": {
            "$ref": "#/components/schemas/certificate"
          }
        },
        "required": [
          "certificate"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/certificates"
      },
      "create_floating_ip_request": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "ipv4",
              "ipv6"
            ],
            "description": "Floating IP type"
          },
          "server": {
            "type": "integer",
            "description": "Server to assign the Floating IP to"
          },
          "home_location": {
            "type": "string",
            "description": "Home Location (routing is optimized for that Location). Only optional if Server argument is passed."
          },
          "description": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "$ref": "#/components/schemas/labels"
          }
        },
        "required": [
          "type"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/floating_ips"
      },
      "create_floating_ip_response": {
        "type": "object",
        "properties": {
          "floating_ip": {
            "$ref": "#/components/schemas/floating_ip"
          },
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "floating_ip"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/floating_ips"
      },
      "create_image_from_server_request": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "Description of the Image, will be auto-generated if not set"
          },
          "type": {
            "type": "string",
            "enum": [
              "backup",
              "snapshot"
            ],
            "description": "Type of Image to create (default: `snapshot`)"
          },
          "labels": {
            "$ref": "#/components/schemas/labels"
          }
        },
        "description": "Request for POST https://api.hetzner.cloud/v1/servers/{id}/actions/create_image"
      },
      "create_image_from_server_response": {
        "type": "object",
        "properties": {
          "image": {
            "$ref": "#/components/schemas/image"
          },
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "image",
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/create_image"
      },
      "create_load_balancer_request": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the Load Balancer"
          },
          "load_balancer_type": {
            "type": "string",
            "description": "ID or name of the Load Balancer type this Load Balancer should be created with"
          },
          "algorithm": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "least_connections",
                  "round_robin"
                ],
                "description": "Type of the algorithm"
              }
            },
            "required": [
              "type"
            ],
            "description": "Algorithm of the Load Balancer"
          },
          "services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/service"
            },
            "description": "Array of services"
          },
          "targets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/target"
            },
            "description": "Array of targets"
          },
          "labels": {
            "$ref": "#/components/schemas/labels"
          },
          "public_interface": {
            "type": "boolean",
            "description": "Enable or disable the public interface of the Load Balancer"
          },
          "network": {
            "type": "integer",
            "description": "ID of the network the Load Balancer should be attached to on creation"
          }
        },
        "required": [
          "name",
          "load_balancer_type",
          "algorithm"
        ],
        "oneOf": [
          {
            "properties": {
              "network_zone": {
                "type": "string",
                "description": "Name of network zone"
              }
            }
          },
          {
            "properties": {
              "location": {
                "type": "string",
                "description": "ID or name of Location to create Load Balancer in"
              }
            }
          }
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/load_balancers"
      },
      "create_load_balancer_response": {
        "type": "object",
        "properties": {
          "load_balancer": {
            "$ref": "#/components/schemas/load_balancer"
          },
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "load_balancer",
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers"
      },
      "create_network_request": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the network"
          },
          "ip_range": {
            "type": "string",
            "description": "IP range of the whole network which must span all included subnets. Must be one of the private IPv4 ranges of RFC1918. Minimum network size is /24. We highly recommend that you pick a larger network with a /16 netmask."
          },
          "labels": {
            "$ref": "#/components/schemas/labels"
          },
          "subnets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/subnet"
            },
            "description": "Array of subnets allocated."
          },
          "routes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/route"
            },
            "description": "Array of routes set in this network. The destination of the route must be one of the private IPv4 ranges of RFC1918. The gateway must be a subnet/IP of the ip_range of the network object. The destination must not overlap with an existing ip_range in any subnets or with any destinations in other routes or with the first IP of the networks ip_range or with 172.31.1.1. The gateway cannot be the first IP of the networks ip_range and also cannot be 172.31.1.1."
          }
        },
        "required": [
          "name",
          "ip_range"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/networks"
      },
      "create_network_response": {
        "type": "object",
        "properties": {
          "network": {
            "$ref": "#/components/schemas/network"
          }
        },
        "required": [
          "network"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/networks"
      },
      "create_server_request": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the Server to create (must be unique per Project and a valid hostname as per RFC 1123)"
          },
          "server_type": {
            "type": "string",
            "description": "ID or name of the Server type this Server should be created with"
          },
          "start_after_create": {
            "type": "boolean",
            "description": "Start Server right after creation. Defaults to true."
          },
          "image": {
            "type": "string",
            "description": "ID or name of the Image the Server is created from"
          },
          "ssh_keys": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "SSH key IDs or names which should be injected into the Server at creation time"
          },
          "volumes": {
            "type": "array",
            "description": "Volume IDs which should be attached to the Server at the creation time. Volumes must be in the same Location.",
            "items": {
              "type": "object",
              "properties": {}
            }
          },
          "networks": {
            "type": "array",
            "description": "Network IDs which should be attached to the Server private network interface at the creation time",
            "items": {
              "type": "object",
              "properties": {}
            }
          },
          "user_data": {
            "type": "string",
            "description": "Cloud-Init user data to use during Server creation. This field is limited to 32KiB."
          },
          "labels": {
            "type": "object",
            "properties": {},
            "description": "User-defined labels (key-value pairs)"
          },
          "automount": {
            "type": "boolean",
            "description": "Auto-mount Volumes after attach"
          }
        },
        "required": [
          "name",
          "server_type",
          "image"
        ],
        "oneOf": [
          {
            "properties": {
              "location": {
                "type": "string",
                "description": "ID or name of Location to create Server in"
              }
            }
          },
          {
            "properties": {
              "datacenter": {
                "type": "string",
                "description": "ID or name of Datacenter to create Server in"
              }
            }
          }
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/servers"
      },
      "create_server_response": {
        "type": "object",
        "properties": {
          "server": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "description": "ID of Server"
              },
              "name": {
                "type": "string",
                "description": "Name of the Server (must be unique per Project and a valid hostname as per RFC 1123)"
              },
              "status": {
                "type": "string",
                "enum": [
                  "deleting",
                  "initializing",
                  "migrating",
                  "off",
                  "rebuilding",
                  "running",
                  "starting",
                  "stopping"
                ],
                "description": "Status of the Server"
              },
              "created": {
                "type": "string",
                "description": "Point in time when the Server was created (in ISO-8601 format)"
              },
              "public_net": {
                "$ref": "#/components/schemas/public_net"
              },
              "private_net": {
                "type": "array",
                "description": "Private networks information",
                "items": {
                  "type": "object",
                  "properties": {}
                }
              },
              "server_type": {
                "$ref": "#/components/schemas/server_type"
              },
              "datacenter": {
                "$ref": "#/components/schemas/datacenter"
              },
              "image": {
                "$ref": "#/components/schemas/image_optional"
              },
              "iso": {
                "$ref": "#/components/schemas/iso_optional"
              },
              "rescue_enabled": {
                "type": "boolean",
                "description": "True if rescue mode is enabled: Server will then boot into rescue system on next reboot"
              },
              "locked": {
                "type": "boolean",
                "description": "True if Server has been locked and is not available to user"
              },
              "backup_window": {
                "type": "string",
                "description": "Time window (UTC) in which the backup will run, or null if the backups are not enabled",
                "nullable": true
              },
              "outgoing_traffic": {
                "type": "integer",
                "description": "Outbound Traffic for the current billing period in bytes",
                "nullable": true,
                "format": "int64"
              },
              "ingoing_traffic": {
                "type": "integer",
                "description": "Inbound Traffic for the current billing period in bytes",
                "nullable": true,
                "format": "int64"
              },
              "included_traffic": {
                "type": "integer",
                "description": "Free Traffic for the current billing period in bytes",
                "format": "int64"
              },
              "protection": {
                "$ref": "#/components/schemas/protection"
              },
              "labels": {
                "type": "object",
                "properties": {},
                "description": "User-defined labels (key-value pairs)"
              },
              "volumes": {
                "type": "array",
                "description": "IDs of Volumes assigned to this Server",
                "items": {
                  "type": "object",
                  "properties": {}
                }
              },
              "load_balancers": {
                "type": "array",
                "description": "IDs of load balancers lined to this Server",
                "items": {
                  "type": "object",
                  "properties": {}
                }
              }
            },
            "required": [
              "id",
              "name",
              "status",
              "created",
              "public_net",
              "private_net",
              "server_type",
              "datacenter",
              "image",
              "iso",
              "rescue_enabled",
              "locked",
              "backup_window",
              "outgoing_traffic",
              "ingoing_traffic",
              "included_traffic",
              "protection",
              "labels"
            ]
          },
          "action": {
            "$ref": "#/components/schemas/action"
          },
          "next_actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/action"
            }
          },
          "root_password": {
            "type": "string",
            "description": "Root password when no SSH keys have been specified",
            "nullable": true
          }
        },
        "required": [
          "server",
          "action",
          "next_actions",
          "root_password"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/servers"
      },
      "create_ssh_key_request": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the SSH key"
          },
          "public_key": {
            "type": "string",
            "description": "Public key"
          },
          "labels": {
            "$ref": "#/components/schemas/labels"
          }
        },
        "required": [
          "name",
          "public_key"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/ssh_keys"
      },
      "create_ssh_key_response": {
        "type": "object",
        "properties": {
          "ssh_key": {
            "$ref": "#/components/schemas/ssh_key"
          }
        },
        "required": [
          "ssh_key"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/ssh_keys"
      },
      "create_volume_request": {
        "type": "object",
        "properties": {
          "size": {
            "type": "number",
            "description": "Size of the Volume in GB"
          },
          "name": {
            "type": "string",
            "description": "Name of the volume"
          },
          "labels": {
            "$ref": "#/components/schemas/labels"
          },
          "automount": {
            "type": "boolean",
            "description": "Auto-mount Volume after attach. `server` must be provided."
          },
          "format": {
            "type": "string",
            "description": "Format Volume after creation. One of: `xfs`, `ext4`"
          }
        },
        "required": [
          "size",
          "name"
        ],
        "oneOf": [
          {
            "properties": {
              "location": {
                "type": "string",
                "description": "Location to create the Volume in (can be omitted if Server is specified)"
              }
            }
          },
          {
            "properties": {
              "server": {
                "type": "number",
                "description": "Server to which to attach the Volume once it's created (Volume will be created in the same Location as the server)"
              }
            }
          }
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/volumes"
      },
      "create_volume_response": {
        "type": "object",
        "properties": {
          "volume": {
            "$ref": "#/components/schemas/volume"
          },
          "action": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "description": "ID of the Action"
              },
              "command": {
                "type": "string",
                "description": "Command executed in the Action"
              },
              "status": {
                "type": "string",
                "enum": [
                  "error",
                  "running",
                  "success"
                ],
                "description": "Status of the Action"
              },
              "progress": {
                "type": "number",
                "description": "Progress of Action in percent"
              },
              "started": {
                "type": "string",
                "description": "Point in time when the Action was started (in ISO-8601 format)"
              },
              "finished": {
                "type": "string",
                "description": "Point in time when the Action was finished (in ISO-8601 format). Only set if the Action is finished otherwise null.",
                "nullable": true
              },
              "resources": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/resource"
                },
                "description": "Resources the Action relates to"
              },
              "error": {
                "$ref": "#/components/schemas/error"
              }
            },
            "required": [
              "id",
              "command",
              "status",
              "progress",
              "started",
              "finished",
              "resources",
              "error"
            ],
            "additionalProperties": false
          },
          "next_actions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "required": [
          "volume",
          "action",
          "next_actions"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/volumes"
      },
      "created_from": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the Server the Image was created from"
          },
          "name": {
            "type": "string",
            "description": "Server name at the time the Image was created"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "description": "Information about the Server the Image was created from",
        "nullable": true
      },
      "datacenter": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the Datacenter"
          },
          "name": {
            "type": "string",
            "description": "Unique identifier of the Datacenter"
          },
          "description": {
            "type": "string",
            "description": "Description of the Datacenter"
          },
          "location": {
            "$ref": "#/components/schemas/location"
          },
          "server_types": {
            "type": "object",
            "properties": {
              "supported": {
                "type": "array",
                "items": {
                  "type": "integer"
                },
                "description": "IDs of Server types that are supported in the Datacenter"
              },
              "available": {
                "type": "array",
                "items": {
                  "type": "integer"
                },
                "description": "IDs of Server types that are supported and for which the Datacenter has enough resources left"
              },
              "available_for_migration": {
                "type": "array",
                "items": {
                  "type": "integer"
                },
                "description": "IDs of Server types that are supported and for which the Datacenter has enough resources left"
              }
            },
            "required": [
              "supported",
              "available",
              "available_for_migration"
            ],
            "description": "The Server types the Datacenter can handle"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "location",
          "server_types"
        ],
        "description": "Datacenter this Server is located at"
      },
      "delete_route_from_network_request": {
        "$ref": "#/components/schemas/route"
      },
      "delete_route_from_network_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/networks/{id}/actions/delete_route"
      },
      "delete_server_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to DELETE https://api.hetzner.cloud/v1/servers/{id}"
      },
      "delete_service_request": {
        "type": "object",
        "properties": {
          "listen_port": {
            "type": "integer",
            "description": "The listen port of the service you want to delete"
          }
        },
        "required": [
          "listen_port"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/delete_service"
      },
      "delete_service_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/delete_service"
      },
      "delete_subnet_from_network_request": {
        "type": "object",
        "properties": {
          "ip_range": {
            "type": "string",
            "description": "IP range of subnet to delete"
          }
        },
        "required": [
          "ip_range"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/networks/{id}/actions/delete_subnet"
      },
      "delete_subnet_from_network_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/networks/{id}/actions/delete_subnet"
      },
      "detach_iso_from_server_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/detach_iso"
      },
      "detach_load_balancer_from_network_request": {
        "type": "object",
        "properties": {
          "network": {
            "type": "integer",
            "description": "ID of an existing network to detach the Load Balancer from"
          }
        },
        "required": [
          "network"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/detach_from_network"
      },
      "detach_load_balancer_from_network_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/detach_from_network"
      },
      "detach_server_from_network_request": {
        "type": "object",
        "properties": {
          "network": {
            "type": "integer",
            "description": "ID of an existing network to detach the Server from"
          }
        },
        "required": [
          "network"
        ],
        "description": "Request for POST https://api.hetzner.cloud/v1/servers/{id}/actions/detach_from_network"
      },
      "detach_server_from_network_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/detach_from_network"
      },
      "detach_volume_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/volumes/{id}/actions/detach"
      },
      "disable_backups_for_server_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/disable_backup"
      },
      "disable_public_interface_of_load_balancer_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/disable_public_interface"
      },
      "disable_rescue_mode_for_server_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/disable_rescue"
      },
      "dns_ptr": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string",
            "description": "Single IPv4 or IPv6 address | Single IPv6 address of this Server for which the reverse DNS entry has been set up"
          },
          "dns_ptr": {
            "type": "string",
            "description": "DNS pointer for the specific IP address"
          }
        },
        "required": [
          "ip",
          "dns_ptr"
        ]
      },
      "enable_and_configure_backups_for_server_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/enable_backup"
      },
      "enable_public_interface_of_load_balancer_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/enable_public_interface"
      },
      "enable_rescue_mode_for_server_request": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "freebsd64",
              "linux32",
              "linux64"
            ],
            "description": "Type of rescue system to boot (default: `linux64`)"
          },
          "ssh_keys": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Array of SSH key IDs which should be injected into the rescue system. Only available for types: `linux64` and `linux32`."
          }
        },
        "description": "Request for POST https://api.hetzner.cloud/v1/servers/{id}/actions/enable_rescue"
      },
      "enable_rescue_mode_for_server_response": {
        "type": "object",
        "properties": {
          "root_password": {
            "type": "string",
            "description": "Root Password for Server once it gets booted in rescue mode"
          },
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/enable_rescue"
      },
      "error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Fixed machine readable code"
          },
          "message": {
            "type": "string",
            "description": "Humanized error message"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "description": "Error message for the Action if error occurred, otherwise null",
        "nullable": true
      },
      "floating_ip": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the Floating IP"
          },
          "name": {
            "type": "string",
            "description": "Unique name of the Floating IP"
          },
          "description": {
            "type": "string",
            "description": "Description of the Floating IP",
            "nullable": true
          },
          "ip": {
            "type": "string",
            "description": "IP address of the Floating IP"
          },
          "type": {
            "type": "string",
            "enum": [
              "ipv4",
              "ipv6"
            ],
            "description": "Type of the Floating IP"
          },
          "server": {
            "type": "integer",
            "description": "ID of the Server the Floating IP is assigned to, null if it is not assigned at all",
            "nullable": true
          },
          "dns_ptr": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/dns_ptr"
            },
            "description": "Array of reverse DNS entries"
          },
          "home_location": {
            "$ref": "#/components/schemas/location"
          },
          "blocked": {
            "type": "boolean",
            "description": "Whether the IP is blocked"
          },
          "protection": {
            "type": "object",
            "properties": {
              "delete": {
                "type": "boolean",
                "description": "If true, prevents the Floating IP from being deleted"
              }
            },
            "required": [
              "delete"
            ],
            "description": "Protection configuration for the Floating IP"
          },
          "labels": {
            "type": "object",
            "properties": {},
            "description": "User-defined labels (key-value pairs)"
          },
          "created": {
            "type": "string",
            "description": "Point in time when the Floating IP was created (in ISO-8601 format)"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "ip",
          "type",
          "server",
          "dns_ptr",
          "home_location",
          "blocked",
          "protection",
          "labels",
          "created"
        ]
      },
      "get_action_for_floating_ip_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/floating_ips/{id}/actions/{action_id}"
      },
      "get_action_for_image_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/images/{id}/actions/{action_id}"
      },
      "get_action_for_load_balancer_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/load_balancers/{id}/actions/{action_id}"
      },
      "get_action_for_network_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/networks/{id}/actions/{action_id}"
      },
      "get_action_for_server_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/servers/{id}/actions/{action_id}"
      },
      "get_action_for_volume_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/volumes/{id}/actions/{action_id}"
      },
      "get_action_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/actions/{id}"
      },
      "get_certificate_response": {
        "type": "object",
        "properties": {
          "certificate": {
            "$ref": "#/components/schemas/certificate"
          }
        },
        "required": [
          "certificate"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/certificates/{id}"
      },
      "get_datacenter_response": {
        "type": "object",
        "properties": {
          "datacenter": {
            "$ref": "#/components/schemas/datacenter"
          }
        },
        "required": [
          "datacenter"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/datacenters/{id}"
      },
      "get_image_response": {
        "type": "object",
        "properties": {
          "image": {
            "$ref": "#/components/schemas/image"
          }
        },
        "required": [
          "image"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/images/{id}"
      },
      "get_iso_response": {
        "type": "object",
        "properties": {
          "iso": {
            "$ref": "#/components/schemas/iso"
          }
        },
        "required": [
          "iso"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/isos/{id}"
      },
      "get_load_balancer_response": {
        "type": "object",
        "properties": {
          "load_balancer": {
            "$ref": "#/components/schemas/load_balancer"
          }
        },
        "required": [
          "load_balancer"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/load_balancers/{id}"
      },
      "get_load_balancer_type_response": {
        "type": "object",
        "properties": {
          "load_balancer_type": {
            "$ref": "#/components/schemas/load_balancer_type"
          }
        },
        "required": [
          "load_balancer_type"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/load_balancer_types/{id}"
      },
      "get_location_response": {
        "type": "object",
        "properties": {
          "location": {
            "$ref": "#/components/schemas/location"
          }
        },
        "required": [
          "location"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/locations/{id}"
      },
      "get_metrics_for_loadbalancer_response": {
        "type": "object",
        "properties": {
          "metrics": {
            "type": "object",
            "properties": {
              "start": {
                "type": "string",
                "description": "Start of period of metrics reported (in ISO-8601 format)"
              },
              "end": {
                "type": "string",
                "description": "End of period of metrics reported (in ISO-8601 format)"
              },
              "step": {
                "type": "integer",
                "description": "Resolution of results in seconds."
              },
              "time_series": {
                "type": "object",
                "x-patternProperties": {
                  "": {
                    "type": "object",
                    "properties": {
                      "values": {
                        "type": "array",
                        "items": {
                          "type": "array"
                        },
                        "description": "Metrics Timestamps with values"
                      }
                    },
                    "required": [
                      "values"
                    ]
                  }
                },
                "additionalProperties": true
              }
            },
            "required": [
              "start",
              "end",
              "step",
              "time_series"
            ]
          }
        },
        "required": [
          "metrics"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/load_balancers/{id}/metrics{?type,start,end,step}"
      },
      "get_metrics_for_server_response": {
        "type": "object",
        "properties": {
          "metrics": {
            "type": "object",
            "properties": {
              "start": {
                "type": "string",
                "description": "Start of period of metrics reported (in ISO-8601 format)"
              },
              "end": {
                "type": "string",
                "description": "End of period of metrics reported (in ISO-8601 format)"
              },
              "step": {
                "type": "integer",
                "description": "Resolution of results in seconds."
              },
              "time_series": {
                "type": "object",
                "x-patternProperties": {
                  "": {
                    "type": "object",
                    "properties": {
                      "values": {
                        "type": "array",
                        "items": {
                          "type": "array"
                        },
                        "description": "Metrics Timestamps with values"
                      }
                    },
                    "required": [
                      "values"
                    ]
                  }
                },
                "additionalProperties": true
              }
            },
            "required": [
              "start",
              "end",
              "step",
              "time_series"
            ]
          }
        },
        "required": [
          "metrics"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/servers/{id}/metrics{?type,start,end,step}"
      },
      "get_network_response": {
        "type": "object",
        "properties": {
          "network": {
            "$ref": "#/components/schemas/network"
          }
        },
        "required": [
          "network"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/networks/{id}"
      },
      "get_server_response": {
        "type": "object",
        "properties": {
          "server": {
            "$ref": "#/components/schemas/server"
          }
        },
        "required": [
          "server"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/servers/{id}"
      },
      "get_server_type_response": {
        "type": "object",
        "properties": {
          "server_type": {
            "$ref": "#/components/schemas/server_type"
          }
        },
        "required": [
          "server_type"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/server_types/{id}"
      },
      "get_specific_floating_ip_response": {
        "type": "object",
        "properties": {
          "floating_ip": {
            "$ref": "#/components/schemas/floating_ip"
          }
        },
        "required": [
          "floating_ip"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/floating_ips/{id}"
      },
      "get_ssh_key_response": {
        "type": "object",
        "properties": {
          "ssh_key": {
            "$ref": "#/components/schemas/ssh_key"
          }
        },
        "required": [
          "ssh_key"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/ssh_keys/{id}"
      },
      "get_volume_response": {
        "type": "object",
        "properties": {
          "volume": {
            "$ref": "#/components/schemas/volume"
          }
        },
        "required": [
          "volume"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/volumes/{id}"
      },
      "health_check": {
        "type": "object",
        "properties": {
          "protocol": {
            "type": "string",
            "enum": [
              "http",
              "tcp"
            ],
            "description": "Type of the health check"
          },
          "port": {
            "type": "integer",
            "description": "Port the health check will be performed on"
          },
          "interval": {
            "type": "integer",
            "description": "Time interval in seconds health checks are performed"
          },
          "timeout": {
            "type": "integer",
            "description": "Time in seconds after an attempt is considered a timeout"
          },
          "retries": {
            "type": "integer",
            "description": "Unsuccessful retries needed until a target is considered unhealthy"
          },
          "http": {
            "type": "object",
            "properties": {
              "domain": {
                "type": "string",
                "description": "Domain name to send in HTTP request header. Can be null, in that case no domain name is sent.",
                "nullable": true
              },
              "path": {
                "type": "string",
                "description": "HTTP path to use for health checks"
              },
              "response": {
                "type": "string",
                "description": "String that must be contained in HTTP response in order to pass the health check"
              },
              "status_codes": {
                "type": "array",
                "description": "List of returned HTTP status codes in order to pass the health check. Supports the wildcards `?` for exactly one character and `*` for multiple ones. The default is to pass the health check for any status code between 2?? and 3??.",
                "items": {
                  "type": "object",
                  "properties": {}
                }
              },
              "tls": {
                "type": "boolean",
                "description": "Use HTTPS for health check"
              }
            },
            "required": [
              "domain",
              "path"
            ],
            "additionalProperties": false,
            "description": "Additional configuration for protocol http"
          }
        },
        "required": [
          "protocol",
          "port",
          "interval",
          "timeout",
          "retries"
        ],
        "additionalProperties": false,
        "description": "Configuration for health checks"
      },
      "http": {
        "type": "object",
        "properties": {
          "cookie_name": {
            "type": "string",
            "description": "Name of the cookie used for sticky sessions"
          },
          "cookie_lifetime": {
            "type": "integer",
            "description": "Lifetime of the cookie used for sticky sessions"
          },
          "certificates": {
            "type": "array",
            "description": "IDs of the Certificates to use for TLS/SSL termination by the Load Balancer; empty for TLS/SSL passthrough or if `protocol` is \"http\"",
            "items": {
              "type": "object",
              "properties": {}
            }
          },
          "redirect_http": {
            "type": "boolean",
            "description": "Redirect HTTP requests to HTTPS. Only available if protocol is \"https\". Default `false`"
          },
          "sticky_sessions": {
            "type": "boolean",
            "description": "Use sticky sessions. Only available if protocol is \"http\" or \"https\". Default `false`"
          }
        },
        "required": [
          "cookie_name",
          "cookie_lifetime"
        ],
        "additionalProperties": false,
        "description": "Configuration for HTTP and HTTPS services"
      },
      "image": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the Image"
          },
          "type": {
            "type": "string",
            "enum": [
              "backup",
              "snapshot",
              "system"
            ],
            "description": "Type of the Image"
          },
          "status": {
            "type": "string",
            "enum": [
              "available",
              "creating"
            ],
            "description": "Whether the Image can be used or if it's still being created"
          },
          "name": {
            "type": "string",
            "description": "Unique identifier of the Image. This value is only set for system Images.",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Description of the Image"
          },
          "image_size": {
            "type": "number",
            "description": "Size of the Image file in our storage in GB. For snapshot Images this is the value relevant for calculating costs for the Image.",
            "nullable": true
          },
          "disk_size": {
            "type": "number",
            "description": "Size of the disk contained in the Image in GB"
          },
          "created": {
            "type": "string",
            "description": "Point in time when the Image was created (in ISO-8601 format)"
          },
          "created_from": {
            "$ref": "#/components/schemas/created_from"
          },
          "bound_to": {
            "type": "integer",
            "description": "ID of Server the Image is bound to. Only set for Images of type `backup`.",
            "nullable": true
          },
          "os_flavor": {
            "type": "string",
            "enum": [
              "centos",
              "debian",
              "fedora",
              "ubuntu",
              "unknown"
            ],
            "description": "Flavor of operating system contained in the Image"
          },
          "os_version": {
            "type": "string",
            "description": "Operating system version",
            "nullable": true
          },
          "rapid_deploy": {
            "type": "boolean",
            "description": "Indicates that rapid deploy of the Image is available"
          },
          "protection": {
            "type": "object",
            "properties": {
              "delete": {
                "type": "boolean",
                "description": "If true, prevents the snapshot from being deleted"
              }
            },
            "required": [
              "delete"
            ],
            "description": "Protection configuration for the Image"
          },
          "deprecated": {
            "type": "string",
            "description": "Point in time when the Image is considered to be deprecated (in ISO-8601 format)",
            "nullable": true
          },
          "labels": {
            "type": "object",
            "properties": {},
            "description": "User-defined labels (key-value pairs)"
          }
        },
        "required": [
          "id",
          "type",
          "status",
          "name",
          "description",
          "image_size",
          "disk_size",
          "created",
          "created_from",
          "bound_to",
          "os_flavor",
          "os_version",
          "protection",
          "deprecated",
          "labels"
        ],
        "description": "The newly created Image"
      },
      "image_optional": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the Image"
          },
          "type": {
            "type": "string",
            "enum": [
              "backup",
              "snapshot",
              "system"
            ],
            "description": "Type of the Image"
          },
          "status": {
            "type": "string",
            "enum": [
              "available",
              "creating"
            ],
            "description": "Whether the Image can be used or if it's still being created"
          },
          "name": {
            "type": "string",
            "description": "Unique identifier of the Image. This value is only set for system Images.",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Description of the Image"
          },
          "image_size": {
            "type": "number",
            "description": "Size of the Image file in our storage in GB. For snapshot Images this is the value relevant for calculating costs for the Image.",
            "nullable": true
          },
          "disk_size": {
            "type": "number",
            "description": "Size of the disk contained in the Image in GB"
          },
          "created": {
            "type": "string",
            "description": "Point in time when the Image was created (in ISO-8601 format)"
          },
          "created_from": {
            "$ref": "#/components/schemas/created_from"
          },
          "bound_to": {
            "type": "integer",
            "description": "ID of Server the Image is bound to. Only set for Images of type `backup`.",
            "nullable": true
          },
          "os_flavor": {
            "type": "string",
            "enum": [
              "centos",
              "debian",
              "fedora",
              "ubuntu",
              "unknown"
            ],
            "description": "Flavor of operating system contained in the Image"
          },
          "os_version": {
            "type": "string",
            "description": "Operating system version",
            "nullable": true
          },
          "rapid_deploy": {
            "type": "boolean",
            "description": "Indicates that rapid deploy of the Image is available"
          },
          "protection": {
            "type": "object",
            "properties": {
              "delete": {
                "type": "boolean",
                "description": "If true, prevents the snapshot from being deleted"
              }
            },
            "required": [
              "delete"
            ],
            "description": "Protection configuration for the Image"
          },
          "deprecated": {
            "type": "string",
            "description": "Point in time when the Image is considered to be deprecated (in ISO-8601 format)",
            "nullable": true
          },
          "labels": {
            "type": "object",
            "properties": {},
            "description": "User-defined labels (key-value pairs)"
          }
        },
        "required": [
          "id",
          "type",
          "status",
          "name",
          "description",
          "image_size",
          "disk_size",
          "created",
          "created_from",
          "bound_to",
          "os_flavor",
          "os_version",
          "protection",
          "deprecated",
          "labels"
        ],
        "description": "Image this Server was created from",
        "nullable": true
      },
      "ipv4": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string",
            "description": "IP address (v4) of this Server"
          },
          "blocked": {
            "type": "boolean",
            "description": "If the IP is blocked by our anti abuse dept"
          },
          "dns_ptr": {
            "type": "string",
            "description": "Reverse DNS PTR entry for the IPv4 addresses of this Server"
          }
        },
        "required": [
          "ip",
          "blocked",
          "dns_ptr"
        ],
        "description": "IP address (v4) and its reverse DNS entry of this Server"
      },
      "ipv6": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string",
            "description": "IP address (v4) of this Server"
          },
          "blocked": {
            "type": "boolean",
            "description": "If the IP is blocked by our anti abuse dept"
          },
          "dns_ptr": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/dns_ptr"
            },
            "description": "Reverse DNS PTR entries for the IPv6 addresses of this Server, `null` by default",
            "nullable": true
          }
        },
        "required": [
          "ip",
          "blocked",
          "dns_ptr"
        ],
        "description": "IPv6 network assigned to this Server and its reverse DNS entry"
      },
      "iso": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the ISO"
          },
          "name": {
            "type": "string",
            "description": "Unique identifier of the ISO. Only set for public ISOs",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Description of the ISO"
          },
          "type": {
            "type": "string",
            "enum": [
              "private",
              "public"
            ],
            "description": "Type of the ISO"
          },
          "deprecated": {
            "type": "string",
            "description": "ISO 8601 timestamp of deprecation, null if ISO is still available. After the deprecation time it will no longer be possible to attach the ISO to Servers.",
            "nullable": true
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "type",
          "deprecated"
        ]
      },
      "iso_optional": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the ISO"
          },
          "name": {
            "type": "string",
            "description": "Unique identifier of the ISO. Only set for public ISOs",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Description of the ISO"
          },
          "type": {
            "type": "string",
            "enum": [
              "private",
              "public"
            ],
            "description": "Type of the ISO"
          },
          "deprecated": {
            "type": "string",
            "description": "ISO 8601 timestamp of deprecation, null if ISO is still available. After the deprecation time it will no longer be possible to attach the ISO to Servers.",
            "nullable": true
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "type",
          "deprecated"
        ],
        "description": "ISO Image that is attached to this Server. Null if no ISO is attached.",
        "nullable": true
      },
      "labels": {
        "type": "object",
        "properties": {
          "labelkey": {
            "type": "string"
          }
        },
        "description": "User-defined labels (key-value pairs)"
      },
      "list_actions_for_floating_ip_response": {
        "type": "object",
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/action"
            }
          }
        },
        "required": [
          "actions"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/floating_ips/{id}/actions{?status,sort}"
      },
      "list_actions_for_image_response": {
        "type": "object",
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/action"
            }
          }
        },
        "required": [
          "actions"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/images/{id}/actions{?status,sort}"
      },
      "list_actions_for_load_balancer_response": {
        "type": "object",
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/action"
            }
          }
        },
        "required": [
          "actions"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/load_balancers/{id}/actions{?status,sort}"
      },
      "list_actions_for_network_response": {
        "type": "object",
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/action"
            }
          }
        },
        "required": [
          "actions"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/networks/{id}/actions{?status,sort}"
      },
      "list_actions_for_server_response": {
        "type": "object",
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/action"
            }
          }
        },
        "required": [
          "actions"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/servers/{id}/actions{?status,sort}"
      },
      "list_actions_for_volume_response": {
        "type": "object",
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/action"
            }
          }
        },
        "required": [
          "actions"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/volumes/{id}/actions{?status,sort}"
      },
      "list_all_actions_response": {
        "type": "object",
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/action"
            }
          }
        },
        "required": [
          "actions"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/actions{?status,sort}"
      },
      "list_certificates_response": {
        "type": "object",
        "properties": {
          "certificates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/certificate"
            }
          }
        },
        "required": [
          "certificates"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/certificates{?sort,name,label_selector,type}"
      },
      "list_datacenters_response": {
        "type": "object",
        "properties": {
          "datacenters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/datacenter"
            }
          },
          "recommendation": {
            "type": "integer",
            "description": "The Datacenter which is recommended to be used to create new Servers."
          }
        },
        "required": [
          "datacenters",
          "recommendation"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/datacenters{?name}"
      },
      "list_floating_ips_response": {
        "type": "object",
        "properties": {
          "floating_ips": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/floating_ip"
            }
          }
        },
        "required": [
          "floating_ips"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/floating_ips{?sort,label_selector,name}"
      },
      "list_images_response": {
        "type": "object",
        "properties": {
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/image"
            }
          }
        },
        "required": [
          "images"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/images{?sort,type,status,bound_to,name,label_selector}"
      },
      "list_isos_response": {
        "type": "object",
        "properties": {
          "isos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/iso"
            }
          }
        },
        "required": [
          "isos"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/isos{?name}"
      },
      "list_load_balancer_types_response": {
        "type": "object",
        "properties": {
          "load_balancer_types": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/load_balancer_type"
            }
          }
        },
        "required": [
          "load_balancer_types"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/load_balancer_types{?name}"
      },
      "list_load_balancers_response": {
        "type": "object",
        "properties": {
          "load_balancers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/load_balancer"
            }
          }
        },
        "required": [
          "load_balancers"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/load_balancers{?sort,name,label_selector}"
      },
      "list_locations_response": {
        "type": "object",
        "properties": {
          "locations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/location"
            }
          }
        },
        "required": [
          "locations"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/locations{?name}"
      },
      "list_networks_response": {
        "type": "object",
        "properties": {
          "networks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/network"
            }
          }
        },
        "required": [
          "networks"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/networks{?name,label_selector}"
      },
      "list_prices_response": {
        "type": "object",
        "properties": {
          "pricing": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "Currency the returned prices are expressed in, coded according to ISO 4217"
              },
              "vat_rate": {
                "type": "string",
                "description": "The VAT rate used for calculating prices with VAT"
              },
              "image": {
                "type": "object",
                "properties": {
                  "price_per_gb_month": {
                    "$ref": "#/components/schemas/price"
                  }
                },
                "required": [
                  "price_per_gb_month"
                ],
                "description": "The cost of Image per GB/month"
              },
              "floating_ip": {
                "type": "object",
                "properties": {
                  "price_monthly": {
                    "$ref": "#/components/schemas/price"
                  }
                },
                "required": [
                  "price_monthly"
                ],
                "description": "The cost of one Floating IP per month"
              },
              "traffic": {
                "type": "object",
                "properties": {
                  "price_per_tb": {
                    "$ref": "#/components/schemas/price"
                  }
                },
                "required": [
                  "price_per_tb"
                ],
                "description": "The cost of additional traffic per TB"
              },
              "server_backup": {
                "type": "object",
                "properties": {
                  "percentage": {
                    "type": "string",
                    "description": "Percentage by how much the base price will increase"
                  }
                },
                "required": [
                  "percentage"
                ],
                "description": "Will increase base Server costs by specific percentage"
              },
              "volume": {
                "type": "object",
                "properties": {
                  "price_per_gb_month": {
                    "$ref": "#/components/schemas/price"
                  }
                },
                "required": [
                  "price_per_gb_month"
                ],
                "description": "The cost of Volume per GB/month"
              },
              "server_types": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of the Server type the price is for"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the Server type the price is for"
                    },
                    "prices": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/price_per_time"
                      },
                      "description": "Server type costs per Location"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "prices"
                  ]
                },
                "description": "Costs of Server types per Location and type"
              },
              "load_balancer_types": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of the Load Balancer type the price is for"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the Load Balancer type the price is for"
                    },
                    "prices": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/price_per_time"
                      },
                      "description": "Load Balancer type costs per Location"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "prices"
                  ]
                },
                "description": "Costs of Load Balancer types per Location and type"
              }
            },
            "required": [
              "currency",
              "vat_rate",
              "image",
              "floating_ip",
              "traffic",
              "server_backup",
              "volume",
              "server_types",
              "load_balancer_types"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "pricing"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/pricing"
      },
      "list_server_types_response": {
        "type": "object",
        "properties": {
          "server_types": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/server_type"
            }
          }
        },
        "required": [
          "server_types"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/server_types{?name}"
      },
      "list_servers_response": {
        "type": "object",
        "properties": {
          "servers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/server"
            }
          }
        },
        "required": [
          "servers"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/servers{?status,sort,name,label_selector}"
      },
      "list_ssh_keys_response": {
        "type": "object",
        "properties": {
          "ssh_keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ssh_key"
            }
          }
        },
        "required": [
          "ssh_keys"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/ssh_keys{?sort,name,fingerprint,label_selector}"
      },
      "list_volumes_response": {
        "type": "object",
        "properties": {
          "volumes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/volume"
            }
          }
        },
        "required": [
          "volumes"
        ],
        "description": "Response to GET https://api.hetzner.cloud/v1/volumes{?status,sort,name,label_selector}"
      },
      "load_balancer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the Load Balancer"
          },
          "name": {
            "type": "string",
            "description": "Unique name of the Load Balancer"
          },
          "public_net": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean",
                "description": "Public Interface enabled or not"
              },
              "ipv4": {
                "type": "object",
                "properties": {
                  "ip": {
                    "type": "string",
                    "description": "IP address (v4) of this Load Balancer",
                    "nullable": true
                  }
                },
[...]
