{
  "openapi": "3.0.3",
  "info": {
    "title": "Hetzner Cloud API",
    "description": "Copied from the official API documentation for the Public Hetzner Cloud.",
    "contact": {
      "url": "https://docs.hetzner.cloud/"
    },
    "version": "bde81b1-dirty"
  },
  "servers": [
    {
      "url": "https://api.hetzner.cloud/v1",
      "description": "Official production server"
    }
  ],
  "components": {
    "schemas": {
      "response_list_all_actions": {
        "type": "object",
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "description": "ID of the Action"
                },
                "command": {
                  "type": "string",
                  "description": "Command executed in the Action"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "success",
                    "running",
                    "error"
                  ],
                  "description": "Status of the Action"
                },
                "progress": {
                  "type": "number",
                  "description": "Progress of Action in percent"
                },
                "started": {
                  "type": "string",
                  "description": "Point in time when the Action was started (in ISO-8601 format)"
                },
                "finished": {
                  "type": "string",
                  "description": "Point in time when the Action was finished (in ISO-8601 format). Only set if the Action is finished otherwise null.",
                  "nullable": true
                },
                "resources": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "number",
                        "description": "ID of resource referenced"
                      },
                      "type": {
                        "type": "string",
                        "description": "Type of resource referenced"
                      }
                    },
                    "required": [
                      "id",
                      "type"
                    ]
                  },
                  "description": "Resources the Action relates to"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Fixed machine readable code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Humanized error message"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "description": "Error message for the Action if error occurred, otherwise null",
                  "nullable": true
                }
              },
              "required": [
                "id",
                "command",
                "status",
                "progress",
                "started",
                "finished",
                "resources",
                "error"
              ]
            }
          }
        },
        "required": [
          "actions"
        ]
      },
      "response_get_action": {
        "type": "object",
        "properties": {
          "action": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number",
                "description": "ID of the Action"
              },
              "command": {
                "type": "string",
                "description": "Command executed in the Action"
              },
              "status": {
                "type": "string",
                "enum": [
                  "success",
                  "running",
                  "error"
                ],
                "description": "Status of the Action"
              },
              "progress": {
                "type": "number",
                "description": "Progress of Action in percent"
              },
              "started": {
                "type": "string",
                "description": "Point in time when the Action was started (in ISO-8601 format)"
              },
              "finished": {
                "type": "string",
                "description": "Point in time when the Action was finished (in ISO-8601 format). Only set if the Action is finished otherwise null.",
                "nullable": true
              },
              "resources": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "ID of resource referenced"
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of resource referenced"
                    }
                  },
                  "required": [
                    "id",
                    "type"
                  ]
                },
                "description": "Resources the Action relates to"
              },
              "error": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "Fixed machine readable code"
                  },
                  "message": {
                    "type": "string",
                    "description": "Humanized error message"
                  }
                },
                "required": [
                  "code",
                  "message"
                ],
                "description": "Error message for the Action if error occurred, otherwise null",
                "nullable": true
              }
            },
            "required": [
              "id",
              "command",
              "status",
              "progress",
              "started",
              "finished",
              "resources",
              "error"
            ]
          }
        },
        "required": [
          "action"
        ]
      },
      "response_list_datacenters": {
        "type": "object",
        "properties": {
          "datacenters": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "description": "ID of the Datacenter"
                },
                "name": {
                  "type": "string",
                  "description": "Unique identifier of the Datacenter"
                },
                "description": {
                  "type": "string",
                  "description": "Description of the Datacenter"
                },
                "location": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "ID of the Location"
                    },
                    "name": {
                      "type": "string",
                      "description": "Unique identifier of the Location"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the Location"
                    },
                    "country": {
                      "type": "string",
                      "description": "ISO 3166-1 alpha-2 code of the country the Location resides in"
                    },
                    "city": {
                      "type": "string",
                      "description": "City the Location is closest to"
                    },
                    "latitude": {
                      "type": "number",
                      "description": "Latitude of the city closest to the Location"
                    },
                    "longitude": {
                      "type": "number",
                      "description": "Longitude of the city closest to the Location"
                    },
                    "network_zone": {
                      "type": "string",
                      "description": "Name of network zone this Location resides in"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "description",
                    "country",
                    "city",
                    "latitude",
                    "longitude",
                    "network_zone"
                  ],
                  "description": "Location where the Datacenter resides in"
                },
                "server_types": {
                  "type": "object",
                  "properties": {
                    "supported": {
                      "type": "array",
                      "items": {
                        "type": "number"
                      },
                      "description": "IDs of Server types that are supported in the Datacenter"
                    },
                    "available": {
                      "type": "array",
                      "items": {
                        "type": "number"
                      },
                      "description": "IDs of Server types that are supported and for which the Datacenter has enough resources left"
                    },
                    "available_for_migration": {
                      "type": "array",
                      "items": {
                        "type": "number"
                      },
                      "description": "IDs of Server types that are supported and for which the Datacenter has enough resources left"
                    }
                  },
                  "required": [
                    "supported",
                    "available",
                    "available_for_migration"
                  ],
                  "description": "The Server types the Datacenter can handle"
                }
              },
              "required": [
                "id",
                "name",
                "description",
                "location",
                "server_types"
              ]
            }
          },
          "recommendation": {
            "type": "number",
            "description": "The Datacenter which is recommended to be used to create new Servers."
          }
        },
        "required": [
          "datacenters",
          "recommendation"
        ]
      },
      "response_get_datacenter": {
        "type": "object",
        "properties": {
          "datacenter": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number",
                "description": "ID of the Datacenter"
              },
              "name": {
                "type": "string",
                "description": "Unique identifier of the Datacenter"
              },
              "description": {
                "type": "string",
                "description": "Description of the Datacenter"
              },
              "location": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number",
                    "description": "ID of the Location"
                  },
                  "name": {
                    "type": "string",
                    "description": "Unique identifier of the Location"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the Location"
                  },
                  "country": {
                    "type": "string",
                    "description": "ISO 3166-1 alpha-2 code of the country the Location resides in"
                  },
                  "city": {
                    "type": "string",
                    "description": "City the Location is closest to"
                  },
                  "latitude": {
                    "type": "number",
                    "description": "Latitude of the city closest to the Location"
                  },
                  "longitude": {
                    "type": "number",
                    "description": "Longitude of the city closest to the Location"
                  },
                  "network_zone": {
                    "type": "string",
                    "description": "Name of network zone this Location resides in"
                  }
                },
                "required": [
                  "id",
                  "name",
                  "description",
                  "country",
                  "city",
                  "latitude",
                  "longitude",
                  "network_zone"
                ],
                "description": "Location where the Datacenter resides in"
              },
              "server_types": {
                "type": "object",
                "properties": {
                  "supported": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "IDs of Server types that are supported in the Datacenter"
                  },
                  "available": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "IDs of Server types that are supported and for which the Datacenter has enough resources left"
                  },
                  "available_for_migration": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "IDs of Server types that are supported and for which the Datacenter has enough resources left"
                  }
                },
                "required": [
                  "supported",
                  "available",
                  "available_for_migration"
                ],
                "description": "The Server types the Datacenter can handle"
              }
            },
            "required": [
              "id",
              "name",
              "description",
              "location",
              "server_types"
            ]
          }
        },
        "required": [
          "datacenter"
        ]
      },
      "response_list_floating_ips": {
        "type": "object",
        "properties": {
          "floating_ips": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "description": "ID of the Floating IP"
                },
                "name": {
                  "type": "string",
                  "description": "Unique name of the Floating IP"
                },
                "description": {
                  "type": "string",
                  "description": "Description of the Floating IP",
                  "nullable": true
                },
                "ip": {
                  "type": "string",
                  "description": "IP address of the Floating IP"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "ipv4",
                    "ipv6"
                  ],
                  "description": "Type of the Floating IP"
                },
                "server": {
                  "type": "number",
                  "description": "ID of the Server the Floating IP is assigned to, null if it is not assigned at all",
                  "nullable": true
                },
                "dns_ptr": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ip": {
                        "type": "string",
                        "description": "Single IPv4 or IPv6 address"
                      },
                      "dns_ptr": {
                        "type": "string",
                        "description": "DNS pointer for the specific IP address"
                      }
                    },
                    "required": [
                      "ip",
                      "dns_ptr"
                    ]
                  },
                  "description": "Array of reverse DNS entries"
                },
                "home_location": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "ID of the Location"
                    },
                    "name": {
                      "type": "string",
                      "description": "Unique identifier of the Location"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the Location"
                    },
                    "country": {
                      "type": "string",
                      "description": "ISO 3166-1 alpha-2 code of the country the Location resides in"
                    },
                    "city": {
                      "type": "string",
                      "description": "City the Location is closest to"
                    },
                    "latitude": {
                      "type": "number",
                      "description": "Latitude of the city closest to the Location"
                    },
                    "longitude": {
                      "type": "number",
                      "description": "Longitude of the city closest to the Location"
                    },
                    "network_zone": {
                      "type": "string",
                      "description": "Name of network zone this Location resides in"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "description",
                    "country",
                    "city",
                    "latitude",
                    "longitude",
                    "network_zone"
                  ],
                  "description": "Location the Floating IP was created in. Routing is optimized for this Location."
                },
                "blocked": {
                  "type": "boolean",
                  "description": "Whether the IP is blocked"
                },
                "protection": {
                  "type": "object",
                  "properties": {
                    "delete": {
                      "type": "boolean",
                      "description": "If true, prevents the Floating IP from being deleted"
                    }
                  },
                  "required": [
                    "delete"
                  ],
                  "description": "Protection configuration for the Floating IP"
                },
                "labels": {
                  "type": "object",
                  "properties": {},
                  "description": "User-defined labels (key-value pairs)"
                },
                "created": {
                  "type": "string",
                  "description": "Point in time when the Floating IP was created (in ISO-8601 format)"
                }
              },
              "required": [
                "id",
                "name",
                "description",
                "ip",
                "type",
                "server",
                "dns_ptr",
                "home_location",
                "blocked",
                "protection",
                "labels",
                "created"
              ]
            }
          }
        },
        "required": [
          "floating_ips"
        ]
      },
      "response_get_specific_floating_ip": {
        "type": "object",
        "properties": {
          "floating_ip": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number",
                "description": "ID of the Floating IP"
              },
              "name": {
                "type": "string",
                "description": "Unique name of the Floating IP"
              },
              "description": {
                "type": "string",
                "description": "Description of the Floating IP",
                "nullable": true
              },
              "ip": {
                "type": "string",
                "description": "IP address of the Floating IP"
              },
              "type": {
                "type": "string",
                "enum": [
                  "ipv4",
                  "ipv6"
                ],
                "description": "Type of the Floating IP"
              },
              "server": {
                "type": "number",
                "description": "ID of the Server the Floating IP is assigned to, null if it is not assigned at all",
                "nullable": true
              },
              "dns_ptr": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "ip": {
                      "type": "string",
                      "description": "Single IPv4 or IPv6 address"
                    },
                    "dns_ptr": {
                      "type": "string",
                      "description": "DNS pointer for the specific IP address"
                    }
                  },
                  "required": [
                    "ip",
                    "dns_ptr"
                  ]
                },
                "description": "Array of reverse DNS entries"
              },
              "home_location": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number",
                    "description": "ID of the Location"
                  },
                  "name": {
                    "type": "string",
                    "description": "Unique identifier of the Location"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the Location"
                  },
                  "country": {
                    "type": "string",
                    "description": "ISO 3166-1 alpha-2 code of the country the Location resides in"
                  },
                  "city": {
                    "type": "string",
                    "description": "City the Location is closest to"
                  },
                  "latitude": {
                    "type": "number",
                    "description": "Latitude of the city closest to the Location"
                  },
                  "longitude": {
                    "type": "number",
                    "description": "Longitude of the city closest to the Location"
                  },
                  "network_zone": {
                    "type": "string",
                    "description": "Name of network zone this Location resides in"
                  }
                },
                "required": [
                  "id",
                  "name",
                  "description",
                  "country",
                  "city",
                  "latitude",
                  "longitude",
                  "network_zone"
                ],
                "description": "Location the Floating IP was created in. Routing is optimized for this Location."
              },
              "blocked": {
                "type": "boolean",
                "description": "Whether the IP is blocked"
              },
              "protection": {
                "type": "object",
                "properties": {
                  "delete": {
                    "type": "boolean",
                    "description": "If true, prevents the Floating IP from being deleted"
                  }
                },
                "required": [
                  "delete"
                ],
                "description": "Protection configuration for the Floating IP"
              },
              "labels": {
                "type": "object",
                "properties": {},
                "description": "User-defined labels (key-value pairs)"
              },
              "created": {
                "type": "string",
                "description": "Point in time when the Floating IP was created (in ISO-8601 format)"
              }
            },
            "required": [
              "id",
              "name",
              "description",
              "ip",
              "type",
              "server",
              "dns_ptr",
              "home_location",
              "blocked",
              "protection",
              "labels",
              "created"
            ]
          }
        },
        "required": [
          "floating_ip"
        ]
      },
      "request_create_floating_ip": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "ipv4",
              "ipv6"
            ],
            "description": "Floating IP type"
          },
          "server": {
            "type": "number",
            "description": "Server to assign the Floating IP to"
          },
          "home_location": {
            "type": "string",
            "description": "Home Location (routing is optimized for that Location). Only optional if Server argument is passed."
          },
          "description": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "object",
            "properties": {},
            "description": "User-defined labels (key-value pairs)"
          }
        },
        "required": [
          "type"
        ]
      },
      "response_create_floating_ip": {
        "type": "object",
        "properties": {
          "floating_ip": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number",
                "description": "ID of the Floating IP"
              },
              "name": {
                "type": "string",
                "description": "Unique name of the Floating IP"
              },
              "description": {
                "type": "string",
                "description": "Description of the Floating IP",
                "nullable": true
              },
              "ip": {
                "type": "string",
                "description": "IP address of the Floating IP"
              },
              "type": {
                "type": "string",
                "enum": [
                  "ipv4",
                  "ipv6"
                ],
                "description": "Type of the Floating IP"
              },
              "server": {
                "type": "number",
                "description": "ID of the Server the Floating IP is assigned to, null if it is not assigned at all",
                "nullable": true
              },
              "dns_ptr": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "ip": {
                      "type": "string",
                      "description": "Single IPv4 or IPv6 address"
                    },
                    "dns_ptr": {
                      "type": "string",
                      "description": "DNS pointer for the specific IP address"
                    }
                  },
                  "required": [
                    "ip",
                    "dns_ptr"
                  ]
                },
                "description": "Array of reverse DNS entries"
              },
              "home_location": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number",
                    "description": "ID of the Location"
                  },
                  "name": {
                    "type": "string",
                    "description": "Unique identifier of the Location"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the Location"
                  },
                  "country": {
                    "type": "string",
                    "description": "ISO 3166-1 alpha-2 code of the country the Location resides in"
                  },
                  "city": {
                    "type": "string",
                    "description": "City the Location is closest to"
                  },
                  "latitude": {
                    "type": "number",
                    "description": "Latitude of the city closest to the Location"
                  },
                  "longitude": {
                    "type": "number",
                    "description": "Longitude of the city closest to the Location"
                  },
                  "network_zone": {
                    "type": "string",
                    "description": "Name of network zone this Location resides in"
                  }
                },
                "required": [
                  "id",
                  "name",
                  "description",
                  "country",
                  "city",
                  "latitude",
                  "longitude",
                  "network_zone"
                ],
                "description": "Location the Floating IP was created in. Routing is optimized for this Location."
              },
              "blocked": {
                "type": "boolean",
                "description": "Whether the IP is blocked"
              },
              "protection": {
                "type": "object",
                "properties": {
                  "delete": {
                    "type": "boolean",
                    "description": "If true, prevents the Floating IP from being deleted"
                  }
                },
                "required": [
                  "delete"
                ],
                "description": "Protection configuration for the Floating IP"
              },
              "labels": {
                "type": "object",
                "properties": {},
                "description": "User-defined labels (key-value pairs)"
              },
              "created": {
                "type": "string",
                "description": "Point in time when the Floating IP was created (in ISO-8601 format)"
              }
            },
            "required": [
              "id",
              "name",
              "description",
              "ip",
              "type",
              "server",
              "dns_ptr",
              "home_location",
              "blocked",
              "protection",
              "labels",
              "created"
            ]
          },
          "action": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number",
                "description": "ID of the Action"
              },
              "command": {
                "type": "string",
                "description": "Command executed in the Action"
              },
              "status": {
                "type": "string",
                "enum": [
                  "running",
                  "success",
                  "error"
                ],
                "description": "Status of the Action"
              },
              "progress": {
                "type": "number",
                "description": "Progress of Action in percent"
              },
              "started": {
                "type": "string",
                "description": "Point in time when the Action was started (in ISO-8601 format)"
              },
              "finished": {
                "type": "string",
                "description": "Point in time when the Action was finished (in ISO-8601 format). Only set if the Action is finished otherwise null.",
                "nullable": true
              },
              "resources": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "ID of resource referenced"
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of resource referenced"
                    }
                  },
                  "required": [
                    "id",
                    "type"
                  ]
                },
                "description": "Resources the Action relates to"
              },
              "error": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "Fixed machine readable code"
                  },
                  "message": {
                    "type": "string",
                    "description": "Humanized error message"
                  }
                },
                "required": [
                  "code",
                  "message"
                ],
                "description": "Error message for the Action if error occurred, otherwise null",
                "nullable": true
              }
            },
            "required": [
              "id",
              "command",
              "status",
              "progress",
              "started",
              "finished",
              "resources",
              "error"
            ],
            "description": "Assign Action (only present if a Server was provided)"
          }
        },
        "required": [
          "floating_ip"
        ]
      },
      "request_replace_floating_ip": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "New unique name to set"
          },
          "description": {
            "type": "string",
            "description": "New Description to set"
          },
          "labels": {
            "type": "object",
            "properties": {
              "labelkey": {
                "type": "string"
              }
            },
            "description": "User-defined labels (key-value pairs)"
          }
        }
      },
      "response_replace_floating_ip": {
        "type": "object",
        "properties": {
          "floating_ip": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number",
                "description": "ID of the Floating IP"
              },
              "name": {
                "type": "string",
                "description": "Unique name of the Floating IP"
              },
              "description": {
                "type": "string",
                "description": "Description of the Floating IP",
                "nullable": true
              },
              "ip": {
                "type": "string",
                "description": "IP address of the Floating IP"
              },
              "type": {
                "type": "string",
                "enum": [
                  "ipv4",
                  "ipv6"
                ],
                "description": "Type of the Floating IP"
              },
              "server": {
                "type": "number",
                "description": "ID of the Server the Floating IP is assigned to, null if it is not assigned at all",
                "nullable": true
              },
              "dns_ptr": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "ip": {
                      "type": "string",
                      "description": "Single IPv4 or IPv6 address"
                    },
                    "dns_ptr": {
                      "type": "string",
                      "description": "DNS pointer for the specific IP address"
                    }
                  },
                  "required": [
                    "ip",
                    "dns_ptr"
                  ]
                },
                "description": "Array of reverse DNS entries"
              },
              "home_location": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number",
                    "description": "ID of the Location"
                  },
                  "name": {
                    "type": "string",
                    "description": "Unique identifier of the Location"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the Location"
                  },
                  "country": {
                    "type": "string",
                    "description": "ISO 3166-1 alpha-2 code of the country the Location resides in"
                  },
                  "city": {
                    "type": "string",
                    "description": "City the Location is closest to"
                  },
                  "latitude": {
                    "type": "number",
                    "description": "Latitude of the city closest to the Location"
                  },
                  "longitude": {
                    "type": "number",
                    "description": "Longitude of the city closest to the Location"
                  },
                  "network_zone": {
                    "type": "string",
                    "description": "Name of network zone this Location resides in"
                  }
                },
                "required": [
                  "id",
                  "name",
                  "description",
                  "country",
                  "city",
                  "latitude",
                  "longitude",
                  "network_zone"
                ],
                "description": "Location the Floating IP was created in. Routing is optimized for this Location."
              },
              "blocked": {
                "type": "boolean",
                "description": "Whether the IP is blocked"
              },
              "protection": {
                "type": "object",
                "properties": {
                  "delete": {
                    "type": "boolean",
                    "description": "If true, prevents the Floating IP from being deleted"
                  }
                },
                "required": [
                  "delete"
                ],
                "description": "Protection configuration for the Floating IP"
              },
              "labels": {
                "type": "object",
                "properties": {
                  "labelkey": {
                    "type": "string",
                    "description": "New label"
                  }
                },
                "description": "User-defined labels (key-value pairs)"
              },
              "created": {
                "type": "string",
                "description": "Point in time when the Floating IP was created (in ISO-8601 format)"
              }
            },
            "required": [
              "id",
              "name",
              "description",
              "ip",
              "type",
              "server",
              "dns_ptr",
              "home_location",
              "blocked",
              "protection",
              "labels",
              "created"
            ]
          }
        },
        "required": [
          "floating_ip"
        ]
      },
      "response_list_actions_for_floating_ip": {
        "type": "object",
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "description": "ID of the Action"
                },
                "command": {
                  "type": "string",
                  "description": "Command executed in the Action"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "success",
                    "running",
                    "error"
                  ],
                  "description": "Status of the Action"
                },
                "progress": {
                  "type": "number",
                  "description": "Progress of Action in percent"
                },
                "started": {
                  "type": "string",
                  "description": "Point in time when the Action was started (in ISO-8601 format)"
                },
                "finished": {
                  "type": "string",
                  "description": "Point in time when the Action was finished (in ISO-8601 format). Only set if the Action is finished otherwise null.",
                  "nullable": true
                },
                "resources": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "number",
                        "description": "ID of resource referenced"
                      },
                      "type": {
                        "type": "string",
                        "description": "Type of resource referenced"
                      }
                    },
                    "required": [
                      "id",
                      "type"
                    ]
                  },
                  "description": "Resources the Action relates to"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Fixed machine readable code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Humanized error message"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "description": "Error message for the Action if error occurred, otherwise null",
                  "nullable": true
                }
              },
              "required": [
                "id",
                "command",
                "status",
                "progress",
                "started",
                "finished",
                "resources",
                "error"
              ]
            }
          }
        },
        "required": [
          "actions"
        ]
      },
      "response_get_action_for_floating_ip": {
        "type": "object",
        "properties": {
          "action": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number",
                "description": "ID of the Action"
              },
              "command": {
                "type": "string",
                "description": "Command executed in the Action"
              },
              "status": {
                "type": "string",
                "enum": [
                  "success",
                  "running",
                  "error"
                ],
                "description": "Status of the Action"
              },
              "progress": {
                "type": "number",
                "description": "Progress of Action in percent"
              },
              "started": {
                "type": "string",
                "description": "Point in time when the Action was started (in ISO-8601 format)"
              },
              "finished": {
                "type": "string",
                "description": "Point in time when the Action was finished (in ISO-8601 format). Only set if the Action is finished otherwise null.",
                "nullable": true
              },
              "resources": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "ID of resource referenced"
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of resource referenced"
                    }
                  },
                  "required": [
                    "id",
                    "type"
                  ]
                },
                "description": "Resources the Action relates to"
              },
              "error": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "Fixed machine readable code"
                  },
                  "message": {
                    "type": "string",
                    "description": "Humanized error message"
                  }
                },
                "required": [
                  "code",
                  "message"
                ],
                "description": "Error message for the Action if error occurred, otherwise null",
                "nullable": true
              }
            },
            "required": [
              "id",
              "command",
              "status",
              "progress",
              "started",
              "finished",
              "resources",
              "error"
            ]
          }
        },
        "required": [
          "action"
        ]
      },
      "request_assign_floating_ip_to_server": {
        "type": "object",
        "properties": {
          "server": {
            "type": "number",
            "description": "ID of the Server the Floating IP shall be assigned to"
          }
        },
        "required": [
          "server"
        ]
      },
      "response_assign_floating_ip_to_server": {
        "type": "object",
        "properties": {
          "action": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number",
                "description": "ID of the Action"
              },
              "command": {
                "type": "string",
                "description": "Command executed in the Action"
              },
              "status": {
                "type": "string",
                "enum": [
                  "running",
                  "success",
                  "error"
                ],
                "description": "Status of the Action"
              },
              "progress": {
                "type": "number",
                "description": "Progress of Action in percent"
              },
              "started": {
                "type": "string",
                "description": "Point in time when the Action was started (in ISO-8601 format)"
              },
              "finished": {
                "type": "string",
                "description": "Point in time when the Action was finished (in ISO-8601 format). Only set if the Action is finished otherwise null.",
                "nullable": true
              },
              "resources": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "ID of resource referenced"
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of resource referenced"
                    }
                  },
                  "required": [
                    "id",
                    "type"
                  ]
                },
                "description": "Resources the Action relates to"
              },
              "error": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "Fixed machine readable code"
                  },
                  "message": {
                    "type": "string",
                    "description": "Humanized error message"
                  }
                },
                "required": [
                  "code",
                  "message"
                ],
                "description": "Error message for the Action if error occurred, otherwise null",
                "nullable": true
              }
            },
            "required": [
              "id",
              "command",
              "status",
              "progress",
              "started",
              "finished",
              "resources",
              "error"
            ]
          }
        },
        "required": [
          "action"
        ]
      },
      "response_unassign_floating_ip": {
        "type": "object",
        "properties": {
          "action": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number",
                "description": "ID of the Action"
              },
              "command": {
                "type": "string",
                "description": "Command executed in the Action"
              },
              "status": {
                "type": "string",
                "enum": [
                  "running",
                  "success",
                  "error"
                ],
                "description": "Status of the Action"
              },
              "progress": {
                "type": "number",
                "description": "Progress of Action in percent"
              },
              "started": {
                "type": "string",
                "description": "Point in time when the Action was started (in ISO-8601 format)"
              },
              "finished": {
                "type": "string",
                "description": "Point in time when the Action was finished (in ISO-8601 format). Only set if the Action is finished otherwise null.",
                "nullable": true
              },
              "resources": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "ID of resource referenced"
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of resource referenced"
                    }
                  },
                  "required": [
                    "id",
                    "type"
                  ]
                },
                "description": "Resources the Action relates to"
              },
              "error": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "Fixed machine readable code"
                  },
                  "message": {
                    "type": "string",
                    "description": "Humanized error message"
                  }
                },
                "required": [
                  "code",
                  "message"
                ],
                "description": "Error message for the Action if error occurred, otherwise null",
                "nullable": true
              }
            },
            "required": [
              "id",
              "command",
              "status",
              "progress",
              "started",
              "finished",
              "resources",
              "error"
            ]
          }
        },
        "required": [
          "action"
        ]
      },
      "request_change_reverse_dns_entry_for_floating_ip": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string",
            "description": "IP address for which to set the reverse DNS entry"
          },
          "dns_ptr": {
            "type": "string",
            "description": "Hostname to set as a reverse DNS PTR entry, will reset to original default value if `null`",
            "nullable": true
          }
        },
        "required": [
          "ip",
          "dns_ptr"
        ]
      },
      "response_change_reverse_dns_entry_for_floating_ip": {
        "type": "object",
        "properties": {
          "action": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number",
                "description": "ID of the Action"
              },
              "command": {
                "type": "string",
                "description": "Command executed in the Action"
              },
              "status": {
                "type": "string",
                "enum": [
                  "running",
                  "success",
                  "error"
                ],
                "description": "Status of the Action"
              },
              "progress": {
                "type": "number",
                "description": "Progress of Action in percent"
              },
              "started": {
                "type": "string",
                "description": "Point in time when the Action was started (in ISO-8601 format)"
              },
              "finished": {
                "type": "string",
                "description": "Point in time when the Action was finished (in ISO-8601 format). Only set if the Action is finished otherwise null.",
                "nullable": true
              },
              "resources": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "ID of resource referenced"
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of resource referenced"
                    }
                  },
                  "required": [
                    "id",
                    "type"
                  ]
                },
                "description": "Resources the Action relates to"
              },
              "error": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "Fixed machine readable code"
                  },
                  "message": {
                    "type": "string",
                    "description": "Humanized error message"
                  }
                },
                "required": [
                  "code",
                  "message"
                ],
                "description": "Error message for the Action if error occurred, otherwise null",
                "nullable": true
              }
            },
            "required": [
              "id",
              "command",
              "status",
              "progress",
              "started",
              "finished",
              "resources",
              "error"
            ]
          }
        },
        "required": [
          "action"
        ]
      },
      "request_change_floating_ip_protection": {
        "type": "object",
        "properties": {
          "delete": {
            "type": "boolean",
            "description": "If true, prevents the Floating IP from being deleted"
          }
        }
      },
      "response_change_floating_ip_protection": {
        "type": "object",
        "properties": {
          "action": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number",
                "description": "ID of the Action"
              },
              "command": {
                "type": "string",
                "description": "Command executed in the Action"
              },
              "status": {
                "type": "string",
                "enum": [
                  "success",
                  "running",
                  "error"
                ],
                "description": "Status of the Action"
              },
              "progress": {
                "type": "number",
                "description": "Progress of Action in percent"
              },
              "started": {
                "type": "string",
                "description": "Point in time when the Action was started (in ISO-8601 format)"
              },
              "finished": {
                "type": "string",
                "description": "Point in time when the Action was finished (in ISO-8601 format). Only set if the Action is finished otherwise null.",
                "nullable": true
              },
              "resources": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "ID of resource referenced"
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of resource referenced"
                    }
                  },
                  "required": [
                    "id",
                    "type"
                  ]
                },
                "description": "Resources the Action relates to"
              },
              "error": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "Fixed machine readable code"
                  },
                  "message": {
                    "type": "string",
                    "description": "Humanized error message"
                  }
                },
                "required": [
                  "code",
                  "message"
                ],
                "description": "Error message for the Action if error occurred, otherwise null",
                "nullable": true
              }
            },
            "required": [
              "id",
              "command",
              "status",
              "progress",
              "started",
              "finished",
              "resources",
              "error"
            ]
          }
        },
        "required": [
          "action"
        ]
      },
      "response_list_images": {
        "type": "object",
        "properties": {
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "description": "ID of the Image"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "system",
                    "snapshot",
                    "backup"
                  ],
                  "description": "Type of the Image"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "available",
                    "creating"
                  ],
                  "description": "Whether the Image can be used or if it's still being created"
                },
                "name": {
                  "type": "string",
                  "description": "Unique identifier of the Image. This value is only set for system Images.",
                  "nullable": true
                },
                "description": {
                  "type": "string",
                  "description": "Description of the Image"
                },
                "image_size": {
                  "type": "number",
                  "description": "Size of the Image file in our storage in GB. For snapshot Images this is the value relevant for calculating costs for the Image.",
                  "nullable": true
                },
                "disk_size": {
                  "type": "number",
                  "description": "Size of the disk contained in the Image in GB"
                },
                "created": {
                  "type": "string",
                  "description": "Point in time when the Image was created (in ISO-8601 format)"
                },
                "created_from": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "ID of the Server the Image was created from"
                    },
                    "name": {
                      "type": "string",
                      "description": "Server name at the time the Image was created"
                    }
                  },
                  "required": [
                    "id",
                    "name"
                  ],
                  "description": "Information about the Server the Image was created from",
                  "nullable": true
                },
                "bound_to": {
                  "type": "number",
                  "description": "ID of Server the Image is bound to. Only set for Images of type `backup`.",
                  "nullable": true
                },
                "os_flavor": {
                  "type": "string",
                  "enum": [
                    "ubuntu",
                    "centos",
                    "debian",
                    "fedora",
                    "unknown"
                  ],
                  "description": "Flavor of operating system contained in the Image"
                },
                "os_version": {
                  "type": "string",
                  "description": "Operating system version",
                  "nullable": true
                },
                "rapid_deploy": {
                  "type": "boolean",
                  "description": "Indicates that rapid deploy of the Image is available"
                },
                "protection": {
                  "type": "object",
                  "properties": {
                    "delete": {
                      "type": "boolean",
                      "description": "If true, prevents the snapshot from being deleted"
                    }
                  },
                  "required": [
                    "delete"
                  ],
                  "description": "Protection configuration for the Image"
                },
                "deprecated": {
                  "type": "string",
                  "description": "Point in time when the Image is considered to be deprecated (in ISO-8601 format)",
                  "nullable": true
                },
                "labels": {
                  "type": "object",
                  "properties": {},
                  "description": "User-defined labels (key-value pairs)"
                }
              },
              "required": [
                "id",
                "type",
                "status",
                "name",
                "description",
                "image_size",
                "disk_size",
                "created",
                "created_from",
                "bound_to",
                "os_flavor",
                "os_version",
                "protection",
                "deprecated",
                "labels"
              ]
            }
          }
        },
        "required": [
          "images"
        ]
      },
      "response_get_image": {
        "type": "object",
        "properties": {
          "image": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number",
                "description": "ID of the Image"
              },
              "type": {
                "type": "string",
                "enum": [
                  "system",
                  "snapshot",
                  "backup"
                ],
                "description": "Type of the Image"
              },
              "status": {
                "type": "string",
                "enum": [
                  "available",
                  "creating"
                ],
                "description": "Whether the Image can be used or if it's still being created"
              },
              "name": {
                "type": "string",
                "description": "Unique identifier of the Image. This value is only set for system Images.",
                "nullable": true
              },
              "description": {
                "type": "string",
                "description": "Description of the Image"
              },
              "image_size": {
                "type": "number",
                "description": "Size of the Image file in our storage in GB. For snapshot Images this is the value relevant for calculating costs for the Image.",
                "nullable": true
              },
              "disk_size": {
                "type": "number",
                "description": "Size of the disk contained in the Image in GB"
              },
              "created": {
                "type": "string",
                "description": "Point in time when the Image was created (in ISO-8601 format)"
              },
              "created_from": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number",
                    "description": "ID of the Server the Image was created from"
                  },
                  "name": {
                    "type": "string",
                    "description": "Server name at the time the Image was created"
                  }
                },
                "required": [
                  "id",
                  "name"
                ],
                "description": "Information about the Server the Image was created from",
                "nullable": true
              },
              "bound_to": {
                "type": "number",
                "description": "ID of Server the Image is bound to. Only set for Images of type `backup`.",
                "nullable": true
              },
              "os_flavor": {
                "type": "string",
                "enum": [
                  "ubuntu",
                  "centos",
                  "debian",
                  "fedora",
                  "unknown"
                ],
                "description": "Flavor of operating system contained in the Image"
              },
              "os_version": {
                "type": "string",
                "description": "Operating system version",
                "nullable": true
              },
              "rapid_deploy": {
                "type": "boolean",
                "description": "Indicates that rapid deploy of the Image is available"
              },
              "protection": {
                "type": "object",
                "properties": {
                  "delete": {
                    "type": "boolean",
                    "description": "If true, prevents the snapshot from being deleted"
                  }
                },
                "required": [
                  "delete"
                ],
                "description": "Protection configuration for the Image"
              },
              "deprecated": {
                "type": "string",
                "description": "Point in time when the Image is considered to be deprecated (in ISO-8601 format)",
                "nullable": true
              },
              "labels": {
                "type": "object",
                "properties": {},
                "description": "User-defined labels (key-value pairs)"
              }
            },
            "required": [
              "id",
              "type",
              "status",
              "name",
              "description",
              "image_size",
              "disk_size",
              "created",
              "created_from",
              "bound_to",
              "os_flavor",
              "os_version",
              "protection",
              "deprecated",
              "labels"
            ]
          }
        },
        "required": [
          "image"
        ]
      },
      "request_replace_image": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "New description of Image"
          },
          "type": {
            "type": "string",
            "enum": [
              "snapshot"
            ],
            "description": "Destination Image type to convert to"
          },
          "labels": {
            "type": "object",
            "properties": {
              "labelkey": {
                "type": "string"
              }
            },
            "description": "User-defined labels (key-value pairs)"
          }
        }
      },
      "response_replace_image": {
        "type": "object",
        "properties": {
          "image": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number",
                "description": "ID of the Image"
              },
              "type": {
                "type": "string",
                "enum": [
                  "snapshot",
                  "system",
                  "backup"
                ],
                "description": "Type of the Image"
              },
              "status": {
                "type": "string",
                "enum": [
                  "available",
                  "creating"
                ],
                "description": "Whether the Image can be used or if it's still being created"
              },
              "name": {
                "type": "string",
                "description": "Unique identifier of the Image. This value is only set for system Images.",
                "nullable": true
              },
              "description": {
                "type": "string",
                "description": "Description of the Image"
              },
              "image_size": {
                "type": "number",
                "description": "Size of the Image file in our storage in GB. For snapshot Images this is the value relevant for calculating costs for the Image.",
                "nullable": true
              },
              "disk_size": {
                "type": "number",
                "description": "Size of the disk contained in the Image in GB"
              },
              "created": {
                "type": "string",
                "description": "Point in time when the Image was created (in ISO-8601 format)"
              },
              "created_from": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number",
                    "description": "ID of the Server the Image was created from"
                  },
                  "name": {
                    "type": "string",
                    "description": "Server name at the time the Image was created"
                  }
                },
                "required": [
                  "id",
                  "name"
                ],
                "description": "Information about the Server the Image was created from",
                "nullable": true
              },
              "bound_to": {
                "type": "number",
                "description": "ID of Server the Image is bound to. Only set for Images of type `backup`.",
                "nullable": true
              },
              "os_flavor": {
                "type": "string",
                "enum": [
                  "ubuntu",
                  "centos",
                  "debian",
                  "fedora",
                  "unknown"
                ],
                "description": "Flavor of operating system contained in the Image"
              },
              "os_version": {
                "type": "string",
                "description": "Operating system version",
                "nullable": true
              },
              "rapid_deploy": {
                "type": "boolean",
                "description": "Indicates that rapid deploy of the Image is available"
              },
              "protection": {
                "type": "object",
                "properties": {
                  "delete": {
                    "type": "boolean",
                    "description": "If true, prevents the snapshot from being deleted"
                  }
                },
                "required": [
                  "delete"
                ],
                "description": "Protection configuration for the Image"
              },
              "deprecated": {
                "type": "string",
                "description": "Point in time when the Image is considered to be deprecated (in ISO-8601 format)",
                "nullable": true
              },
              "labels": {
                "type": "object",
                "properties": {
                  "labelkey": {
                    "type": "string",
                    "description": "New label"
                  }
                },
                "description": "User-defined labels (key-value pairs)"
              }
            },
            "required": [
              "id",
              "type",
              "status",
              "name",
              "description",
              "image_size",
              "disk_size",
              "created",
              "created_from",
              "bound_to",
              "os_flavor",
              "os_version",
              "protection",
              "deprecated",
              "labels"
            ]
          }
        }
      },
      "response_list_actions_for_image": {
        "type": "object",
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "description": "ID of the Action"
                },
                "command": {
                  "type": "string",
                  "description": "Command executed in the Action"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "success",
                    "running",
                    "error"
                  ],
                  "description": "Status of the Action"
                },
                "progress": {
                  "type": "number",
                  "description": "Progress of Action in percent"
                },
                "started": {
                  "type": "string",
                  "description": "Point in time when the Action was started (in ISO-8601 format)"
                },
                "finished": {
                  "type": "string",
                  "description": "Point in time when the Action was finished (in ISO-8601 format). Only set if the Action is finished otherwise null.",
                  "nullable": true
                },
                "resources": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "number",
                        "description": "ID of resource referenced"
                      },
                      "type": {
                        "type": "string",
                        "description": "Type of resource referenced"
                      }
                    },
                    "required": [
                      "id",
                      "type"
                    ]
                  },
                  "description": "Resources the Action relates to"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Fixed machine readable code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Humanized error message"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "description": "Error message for the Action if error occurred, otherwise null",
                  "nullable": true
                }
              },
              "required": [
                "id",
                "command",
                "status",
                "progress",
                "started",
                "finished",
                "resources",
                "error"
              ]
            }
          }
        },
        "required": [
          "actions"
        ]
      },
      "response_get_action_for_image": {
        "type": "object",
        "properties": {
          "action": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number",
                "description": "ID of the Action"
              },
              "command": {
                "type": "string",
                "description": "Command executed in the Action"
              },
              "status": {
                "type": "string",
                "enum": [
                  "success",
                  "running",
                  "error"
                ],
                "description": "Status of the Action"
              },
              "progress": {
                "type": "number",
                "description": "Progress of Action in percent"
              },
              "started": {
                "type": "string",
                "description": "Point in time when the Action was started (in ISO-8601 format)"
              },
              "finished": {
                "type": "string",
                "description": "Point in time when the Action was finished (in ISO-8601 format). Only set if the Action is finished otherwise null.",
                "nullable": true
              },
              "resources": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "ID of resource referenced"
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of resource referenced"
                    }
                  },
                  "required": [
                    "id",
                    "type"
                  ]
                },
                "description": "Resources the Action relates to"
              },
              "error": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "Fixed machine readable code"
                  },
                  "message": {
                    "type": "string",
                    "description": "Humanized error message"
                  }
                },
                "required": [
                  "code",
                  "message"
                ],
                "description": "Error message for the Action if error occurred, otherwise null",
                "nullable": true
              }
            },
            "required": [
              "id",
              "command",
              "status",
              "progress",
              "started",
              "finished",
              "resources",
              "error"
            ]
          }
        },
        "required": [
          "action"
        ]
      },
      "request_change_image_protection": {
        "type": "object",
        "properties": {
          "delete": {
            "type": "boolean",
            "description": "If true, prevents the snapshot from being deleted"
          }
        }
      },
      "response_change_image_protection": {
        "type": "object",
        "properties": {
          "action": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number",
                "description": "ID of the Action"
              },
              "command": {
                "type": "string",
                "description": "Command executed in the Action"
              },
              "status": {
                "type": "string",
                "enum": [
                  "success",
                  "running",
                  "error"
                ],
                "description": "Status of the Action"
              },
              "progress": {
                "type": "number",
                "description": "Progress of Action in percent"
              },
              "started": {
                "type": "string",
                "description": "Point in time when the Action was started (in ISO-8601 format)"
              },
              "finished": {
                "type": "string",
                "description": "Point in time when the Action was finished (in ISO-8601 format). Only set if the Action is finished otherwise null.",
                "nullable": true
              },
              "resources": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "ID of resource referenced"
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of resource referenced"
                    }
                  },
                  "required": [
                    "id",
                    "type"
                  ]
                },
                "description": "Resources the Action relates to"
              },
              "error": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "Fixed machine readable code"
                  },
                  "message": {
                    "type": "string",
                    "description": "Humanized error message"
                  }
                },
                "required": [
                  "code",
                  "message"
                ],
                "description": "Error message for the Action if error occurred, otherwise null",
                "nullable": true
              }
            },
            "required": [
              "id",
              "command",
              "status",
              "progress",
              "started",
              "finished",
              "resources",
              "error"
            ]
          }
        },
        "required": [
          "action"
        ]
      },
      "response_list_isos": {
        "type": "object",
        "properties": {
          "isos": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "description": "ID of the ISO"
                },
                "name": {
                  "type": "string",
                  "description": "Unique identifier of the ISO. Only set for public ISOs",
                  "nullable": true
                },
                "description": {
                  "type": "string",
                  "description": "Description of the ISO"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "public",
                    "private"
                  ],
                  "description": "Type of the ISO"
                },
                "deprecated": {
                  "type": "string",
                  "description": "ISO 8601 timestamp of deprecation, null if ISO is still available. After the deprecation time it will no longer be possible to attach the ISO to Servers.",
                  "nullable": true
                }
              },
              "required": [
                "id",
                "name",
                "description",
                "type",
                "deprecated"
              ]
            }
          }
        },
        "required": [
          "isos"
        ]
      },
      "response_get_iso": {
        "type": "object",
        "properties": {
          "iso": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number",
                "description": "ID of the ISO"
              },
              "name": {
                "type": "string",
                "description": "Unique identifier of the ISO. Only set for public ISOs",
                "nullable": true
              },
              "description": {
                "type": "string",
                "description": "Description of the ISO"
              },
              "type": {
                "type": "string",
                "enum": [
                  "public",
                  "private"
                ],
                "description": "Type of the ISO"
              },
              "deprecated": {
                "type": "string",
                "description": "ISO 8601 timestamp of deprecation, null if ISO is still available. After the deprecation time it will no longer be possible to attach the ISO to Servers.",
                "nullable": true
              }
            },
            "required": [
              "id",
              "name",
              "description",
              "type",
              "deprecated"
            ]
          }
        },
        "required": [
          "iso"
        ]
      },
      "response_list_locations": {
        "type": "object",
        "properties": {
          "locations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "description": "ID of the Location"
                },
                "name": {
                  "type": "string",
                  "description": "Unique identifier of the Location"
                },
                "description": {
                  "type": "string",
                  "description": "Description of the Location"
                },
                "country": {
                  "type": "string",
                  "description": "ISO 3166-1 alpha-2 code of the country the Location resides in"
                },
                "city": {
                  "type": "string",
                  "description": "City the Location is closest to"
                },
                "latitude": {
                  "type": "number",
                  "description": "Latitude of the city closest to the Location"
                },
                "longitude": {
                  "type": "number",
                  "description": "Longitude of the city closest to the Location"
                },
                "network_zone": {
                  "type": "string",
                  "description": "Name of network zone this Location resides in"
                }
              },
              "required": [
                "id",
                "name",
                "description",
                "country",
                "city",
                "latitude",
                "longitude",
                "network_zone"
              ]
            }
          }
        },
        "required": [
          "locations"
        ]
      },
      "response_get_location": {
        "type": "object",
        "properties": {
          "location": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number",
                "description": "ID of the Location"
              },
              "name": {
                "type": "string",
                "description": "Unique identifier of the Location"
              },
              "description": {
                "type": "string",
                "description": "Description of the Location"
              },
              "country": {
                "type": "string",
                "description": "ISO 3166-1 alpha-2 code of the country the Location resides in"
              },
              "city": {
                "type": "string",
                "description": "City the Location is closest to"
              },
              "latitude": {
                "type": "number",
                "description": "Latitude of the city closest to the Location"
              },
              "longitude": {
                "type": "number",
                "description": "Longitude of the city closest to the Location"
              },
              "network_zone": {
                "type": "string",
                "description": "Name of network zone this Location resides in"
              }
            },
            "required": [
              "id",
              "name",
              "description",
              "country",
              "city",
              "latitude",
              "longitude",
              "network_zone"
            ]
          }
        },
        "required": [
          "location"
        ]
      },
      "response_list_networks": {
        "type": "object",
        "properties": {
          "networks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "description": "ID of the Network"
                },
                "name": {
                  "type": "string",
                  "description": "Name of the Network"
                },
                "ip_range": {
                  "type": "string",
                  "description": "IPv4 prefix of the whole Network"
                },
                "subnets": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "cloud",
                          "server"
                        ],
                        "description": "Type of Subnetwork"
                      },
                      "ip_range": {
                        "type": "string",
                        "description": "Range to allocate IPs from. Must be a Subnet of the ip_range of the parent network object and must not overlap with any other subnets or with any destinations in routes. Minimum Network size is /30. We suggest that you pick a bigger Network with a /24 netmask."
                      },
                      "network_zone": {
                        "type": "string",
                        "description": "Name of Network zone. Currently eu-central is the only available zone."
                      },
                      "gateway": {
                        "type": "string",
                        "description": "Gateway for Servers attached to this subnet. For subnets of type Server this is always the first IP of the network IP range."
                      }
                    },
                    "required": [
                      "type",
                      "network_zone",
                      "gateway"
                    ]
                  },
                  "description": "Array subnets allocated in this Network"
                },
                "routes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "destination": {
                        "type": "string",
                        "description": "Destination network or host of this route. Must not overlap with an existing ip_range in any subnets or with any destinations in other routes or with the first IP of the networks ip_range or with 172.31.1.1. Must be one of the private IPv4 ranges of RFC1918."
                      },
                      "gateway": {
                        "type": "string",
                        "description": "Gateway for the route. Cannot be the first IP of the networks ip_range and also cannot be 172.31.1.1 as this IP is being used as a gateway for the public network interface of Servers."
                      }
                    },
                    "required": [
                      "destination",
                      "gateway"
                    ]
                  },
                  "description": "Array of routes set in this Network"
                },
                "servers": {
                  "type": "array",
                  "items": {
                    "type": "number"
                  },
                  "description": "Array of IDs of Servers attached to this Network"
                },
                "protection": {
                  "type": "object",
                  "properties": {
                    "delete": {
                      "type": "boolean",
                      "description": "If true, prevents the Network from being deleted"
                    }
                  },
                  "required": [
                    "delete"
                  ],
                  "description": "Protection configuration for the Network"
                },
                "labels": {
                  "type": "object",
                  "properties": {},
                  "description": "User-defined labels (key-value pairs)"
                },
                "created": {
                  "type": "string",
                  "description": "Point in time when the Network was created (in ISO-8601 format)"
                }
              },
              "required": [
                "id",
                "name",
                "ip_range",
                "subnets",
                "routes",
                "servers",
                "protection",
                "labels",
                "created"
              ]
            }
          }
        },
        "required": [
          "networks"
        ]
      },
      "response_get_network": {
        "type": "object",
        "properties": {
          "network": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number",
                "description": "ID of the Network"
              },
              "name": {
                "type": "string",
                "description": "Name of the Network"
              },
              "ip_range": {
                "type": "string",
                "description": "IPv4 prefix of the whole Network"
              },
              "subnets": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "cloud",
                        "server"
                      ],
                      "description": "Type of Subnetwork"
                    },
                    "ip_range": {
                      "type": "string",
                      "description": "Range to allocate IPs from. Must be a Subnet of the ip_range of the parent network object and must not overlap with any other subnets or with any destinations in routes. Minimum Network size is /30. We suggest that you pick a bigger Network with a /24 netmask."
                    },
                    "network_zone": {
                      "type": "string",
                      "description": "Name of Network zone. Currently eu-central is the only available zone."
                    },
                    "gateway": {
                      "type": "string",
                      "description": "Gateway for Servers attached to this subnet. For subnets of type Server this is always the first IP of the network IP range."
                    }
                  },
                  "required": [
                    "type",
                    "network_zone",
                    "gateway"
                  ]
                },
                "description": "Array subnets allocated in this Network"
              },
              "routes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "destination": {
                      "type": "string",
                      "description": "Destination network or host of this route. Must not overlap with an existing ip_range in any subnets or with any destinations in other routes or with the first IP of the networks ip_range or with 172.31.1.1. Must be one of the private IPv4 ranges of RFC1918."
                    },
                    "gateway": {
                      "type": "string",
                      "description": "Gateway for the route. Cannot be the first IP of the networks ip_range and also cannot be 172.31.1.1 as this IP is being used as a gateway for the public network interface of Servers."
                    }
                  },
                  "required": [
                    "destination",
                    "gateway"
                  ]
                },
                "description": "Array of routes set in this Network"
              },
              "servers": {
                "type": "array",
                "items": {
                  "type": "number"
                },
                "description": "Array of IDs of Servers attached to this Network"
              },
              "protection": {
                "type": "object",
                "properties": {
                  "delete": {
                    "type": "boolean",
                    "description": "If true, prevents the Network from being deleted"
                  }
                },
                "required": [
[...]
