{
  "openapi": "3.0.3",
  "info": {
    "contact": {
      "url": "https://docs.hetzner.cloud/"
    },
    "description": "Copied from the official API documentation for the Public Hetzner Cloud.",
    "title": "Hetzner Cloud API",
    "version": "0dd5d30"
  },
  "servers": [
    {
      "description": "Official production server",
      "url": "https://api.hetzner.cloud/v1"
    }
  ],
  "tags": [
    {
      "description": "Actions show the results and progress of asynchronous requests to the API.\n",
      "name": "actions"
    },
    {
      "description": "TLS/SSL Certificates prove the identity of a Server and are used to encrypt client traffic.\n",
      "name": "certificates"
    },
    {
      "description": "Each Datacenter represents a _virtual_ Datacenter which is made up of possible many physical Datacenters where Servers are hosted.\n\nSee the [Hetzner Locations Docs](https://docs.hetzner.com/cloud/general/locations/#what-datacenters-are-there) for more details about Datacenters.\n",
      "name": "datacenters"
    },
    {
      "description": "Firewalls can limit the network access to or from your resources.\n\n- When applying a firewall with no `in` rule all inbound traffic will be dropped. The default for `in` is `DROP`.\n- When applying a firewall with no `out` rule all outbound traffic will be accepted. The default for `out` is `ACCEPT`.\n",
      "name": "firewalls"
    },
    {
      "description": "Floating IPs help you to create highly available setups. You can assign a Floating IP to any Server. The Server can then use this IP. You can reassign it to a different Server at any time, or you can choose to unassign the IP from Servers all together.\n\nFloating IPs can be used globally. This means you can assign a Floating IP to a Server in one Location and later reassign it to a Server in a different Location. For optimal routing and latency Floating IPs should be used in the Location they were created in.\n\nFor Floating IPs to work with your Server, you must configure them inside your operation system.\n\nFloating IPs of type `ipv4` use a single IPv4 address as their `ip` property. Floating IPs of type `ipv6` use a /64 network such as `fc00::/64` as their `ip` property. Any IP address within that network can be used on your host.\n\nFloating IPs are billed on a monthly basis.\n",
      "name": "floating_ips"
    },
    {
      "description": "Images are blueprints for your VM disks. They can be of different types:\n\n### System Images\n\nDistribution Images maintained by us, e.g. “Ubuntu 20.04”\n\n### Snapshot Images\n\nMaintained by you, for example “Ubuntu 20.04 with my own settings”. These are billed per GB per month.\n\n### Backup Images\n\nDaily Backups of your Server. Will automatically be created for Servers which have backups enabled (`POST /servers/{id}/actions/enable_backup`)\n\nBound to exactly one Server. If you delete the Server, you also delete all backups bound to it. You may convert backup Images to snapshot Images to keep them.\n\nThese are billed at 20% of your instance price for 7 backup slots.\n\n### App Images\n\nPrebuild images with specific software configurations, e.g. “Wordpress”. All app images are created by us.\n",
      "name": "images"
    },
    {
      "description": "ISOs are read-only Images of DVDs. While we recommend using our Image functionality to install your Servers we also provide some stock ISOs so you can install more exotic operating systems by yourself.\n\nOn request our support uploads a private ISO just for you. These are marked with type `private` and only visible in your Project.\n\nTo attach an ISO to your Server use `POST /servers/{id}/actions/attach_iso`.\n",
      "name": "isos"
    },
    {
      "description": "Load Balancer types define kinds of Load Balancers offered. Each type has an hourly and a monthly cost. You will pay whichever amount is lower for your usage of this specific Load Balancer. Costs may differ between Locations.\n\nAll prices are displayed in the currency of the project owner's account.\n",
      "name": "load_balancer_types"
    },
    {
      "name": "load_balancers"
    },
    {
      "description": "Datacenters are organized by Locations. Datacenters in the same Location are connected with very low latency links.\n",
      "name": "locations"
    },
    {
      "description": "Networks is a private networks feature. These Networks are optional and they coexist with the public network that every Server has by default.\n\nThey allow Servers to talk to each other over a dedicated network interface using private IP addresses not available publicly.\n\nThe IP addresses are allocated and managed via the API, they must conform to [RFC1918](https://tools.ietf.org/html/rfc1918#section-3) standard. IPs and network interfaces defined under Networks do not provide public internet connectivity, you will need to use the already existing public network interface for that.\n\nEach network has a user selected `ip_range` which defines all available IP addresses which can be used for Subnets within the Network.\n\nTo assign individual IPs to Servers you will need to create Network Subnets, described below.\n\nCurrently Networks support IPv4 only.\n\n### Subnets\n\nSubnets divide the `ip_range` from the parent Network object into multiple Subnetworks that you can use for different specific purposes.\n\nFor each subnet you need to specify its own `ip_range` which must be contained within the parent Network’s `ip_range`. Additionally each subnet must belong to one of the available Network Zones described below. Subnets can not have overlapping IP ranges.\n\nCurrently there are three types of subnet:\n\n- type `cloud` is used to connect cloud Resources into your Network.\n- type `server` was used to connect only cloud Servers into your Network. This type is deprecated and is replaced by type cloud.\n- type `vswitch` allows you to connect [Dedicated Server vSwitch](https://docs.hetzner.com/robot/dedicated-server/network/vswitch) - and all Dedicated Servers attached to it - into your Network\n\nSubnets of type `vswitch` must set a `vswitch_id` which is the ID of the existing vSwitch in Hetzner Robot that should be coupled.\n\n### Network Zones\n\nNetwork Zones are groups of Locations which have special high-speed network connections between them. The [Location object](https://docs.hetzner.cloud/#locations-get-a-location) contains the `network_zone` property each Location belongs to. Currently these network zones exist:\n\n| Network Zone | Contains Locations |\n| ------------ | ------------------ |\n| eu-central   | nbg1, fsn1, hel1   |\n| us-east      | ash                |\n| us-west      | hil                |\n| ap-southeast | sin                |\n\n### IP address management\n\nWhen a cloud Server is attached to a network without the user specifying an IP it automatically gets an IP address assigned from a subnet of type `server` in the same network zone. If you specify the optional `ip` parameter when attaching then we will try to assign that IP. Keep in mind that the Server’s location must be covered by the Subnet’s Network Zone if you specify an IP, or that at least one Subnet with the zone covering Server’s location must exist.\n\nA cloud Server can also have more than one IP address in a Network by specifying aliases. For details see the [attach to network action](https://docs.hetzner.cloud/#server-actions-attach-a-server-to-a-network).\n\nThe following IP addresses are reserved in networks and can not be used:\n\n- the first IP of the network `ip_range` as it will be used as a default gateway for the private Network interface.\n- `172.31.1.1` as it is being used as default gateway for our public Network interfaces.\n\n### Coupling Dedicated Servers\n\nBy using subnets of type `vswitch` you can couple the Cloud Networks with an existing [Dedicated Server vSwitch](https://docs.hetzner.com/robot/dedicated-server/network/vswitch) and enable dedicated and cloud servers to\ntalk to each other over the Network.\nIn order for this to work the dedicated servers may only use IPs from the subnet and must have a special network configuration. Please refer to [FAQ](https://docs.hetzner.com/cloud/networks/connect-dedi-vswitch). vSwitch Layer 2 features are not supported.\n\n### Routes\n\nNetworks also support the notion of routes which are automatically applied to private traffic. A route makes sure that all packets for a given `destination` IP prefix will be sent to the address specified in its `gateway`.\n",
      "name": "networks"
    },
    {
      "description": "Placement groups are used to influence the location of interdependent virtual servers in our data centers. The distribution of the different instances within a group is based on a pattern specified in the type. By enforcing certain rules on the placement of instances within our infrastructure, availability can be influenced in a way that fits your needs best.\n\nIn `spread` placement groups, all virtual servers will run on different physical servers. This decreases the probability that some instances might fail together.\n",
      "name": "placement_groups"
    },
    {
      "description": "Returns prices for resources.\n",
      "name": "pricing"
    },
    {
      "description": "Primary IPs help you to create more flexible networking setups. You can assign at most one Primary IP of type `ipv4` and one of type `ipv6` per Server. This Server then uses these IPs.\n\nYou can only unassign a Primary IP from a Server when it's powered off. This Primary IP can then be assigned to a different powered off Server, or you can keep it around for later use.\n\nPrimary IPs are bound to a specific Datacenter. You can not assign a Primary IP from one Datacenter to a Server in a different Datacenter. If you need this capability use Floating IPs instead.\n\nIf your Server's operating system supports cloud-init there is no further configuration needed to make Primary IPs work.\n\nPrimary IPs of type `ipv4` use a single IPv4 address as their `ip` property. Primary IPs of type `ipv6` use a /64 network such as `fc00::/64` as their `ip` property. Any IP address within that network can be used on your host.\n\nPrimary IPs are billed on an hourly basis.\n",
      "name": "primary_ips"
    },
    {
      "description": "Server types define kinds of Servers offered. Each type has an hourly and a monthly cost. You will pay whichever cost is lower for your usage of this specific Server. Costs may differ between Locations.\n\nAll prices are displayed in the currency of the project owner's account.\n",
      "name": "server_types"
    },
    {
      "description": "Servers are virtual machines that can be provisioned.\n",
      "name": "servers"
    },
    {
      "description": "SSH keys are public keys you provide to the cloud system. They can be injected into Servers at creation time. We highly recommend that you use keys instead of passwords to manage your Servers.\n",
      "name": "ssh_keys"
    },
    {
      "description": "A Volume is a highly-available, scalable, and SSD-based block storage for Servers.\n\nPricing for Volumes depends on the Volume size and Location, not the actual used storage.\n\nPlease see [Hetzner Docs](https://docs.hetzner.com/cloud/#Volumes) for more details about Volumes.\n",
      "name": "volumes"
    }
  ],
  "components": {
    "schemas": {
      "action": {
        "description": "Actions show the results and progress of asynchronous requests to the API.",
        "properties": {
          "command": {
            "description": "Command executed in the Action.",
            "example": "start_resource",
            "type": "string"
          },
          "error": {
            "$ref": "#/components/schemas/error"
          },
          "finished": {
            "description": "Point in time when the Action was finished (in ISO-8601 format). Only set if the Action is finished otherwise null.",
            "example": "2016-01-30T23:55:00+00:00",
            "nullable": true,
            "type": "string"
          },
          "id": {
            "description": "ID of the Action",
            "example": 42,
            "format": "int64",
            "maximum": 9007199254740991,
            "type": "integer"
          },
          "progress": {
            "description": "Progress of the Action in percent.",
            "example": 100,
            "format": "int32",
            "type": "integer"
          },
          "resources": {
            "description": "Resources the Action relates to.",
            "items": {
              "$ref": "#/components/schemas/resource"
            },
            "type": "array"
          },
          "started": {
            "description": "Point in time when the Action was started (in ISO-8601 format).",
            "example": "2016-01-30T23:55:00+00:00",
            "type": "string"
          },
          "status": {
            "description": "Status of the Action.",
            "enum": [
              "error",
              "running",
              "success"
            ],
            "type": "string"
          }
        },
        "required": [
          "id",
          "command",
          "status",
          "progress",
          "started",
          "finished",
          "resources",
          "error"
        ],
        "title": "Action",
        "type": "object"
      },
      "action_optional": {
        "description": "Actions show the results and progress of asynchronous requests to the API.",
        "nullable": true,
        "properties": {
          "command": {
            "description": "Command executed in the Action.",
            "example": "start_resource",
            "type": "string"
          },
          "error": {
            "$ref": "#/components/schemas/error"
          },
          "finished": {
            "description": "Point in time when the Action was finished (in ISO-8601 format). Only set if the Action is finished otherwise null.",
            "example": "2016-01-30T23:55:00+00:00",
            "nullable": true,
            "type": "string"
          },
          "id": {
            "description": "ID of the Action",
            "example": 42,
            "format": "int64",
            "maximum": 9007199254740991,
            "type": "integer"
          },
          "progress": {
            "description": "Progress of the Action in percent.",
            "example": 100,
            "format": "int32",
            "type": "integer"
          },
          "resources": {
            "description": "Resources the Action relates to.",
            "items": {
              "$ref": "#/components/schemas/resource"
            },
            "type": "array"
          },
          "started": {
            "description": "Point in time when the Action was started (in ISO-8601 format).",
            "example": "2016-01-30T23:55:00+00:00",
            "type": "string"
          },
          "status": {
            "description": "Status of the Action.",
            "enum": [
              "error",
              "running",
              "success"
            ],
            "type": "string"
          }
        },
        "required": [
          "id",
          "command",
          "status",
          "progress",
          "started",
          "finished",
          "resources",
          "error"
        ],
        "title": "ActionNullable",
        "type": "object"
      },
      "add_route_to_network_request": {
        "$ref": "#/components/schemas/route"
      },
      "add_route_to_network_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/networks/{id}/actions/add_route",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "add_server_to_placement_group_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/servers/{id}/actions/add_to_placement_group",
        "properties": {
          "placement_group": {
            "description": "ID of Placement Group the Server should be added to",
            "example": 1,
            "format": "int64",
            "type": "integer"
          }
        },
        "required": [
          "placement_group"
        ],
        "title": "AddToPlacementGroupRequest",
        "type": "object"
      },
      "add_server_to_placement_group_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/add_to_placement_group",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "add_service_request": {
        "$ref": "#/components/schemas/load_balancer_service"
      },
      "add_service_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/add_service",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "add_subnet_to_network_request": {
        "$ref": "#/components/schemas/subnet"
      },
      "add_subnet_to_network_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/networks/{id}/actions/add_subnet",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "add_target_request": {
        "$ref": "#/components/schemas/load_balancer_add_target"
      },
      "add_target_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/add_target",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "apply_to_resources_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/firewalls/{id}/actions/apply_to_resources",
        "properties": {
          "apply_to": {
            "description": "Resources to apply the [Firewall](#firewalls) to.\n\nExtends existing resources.\n",
            "items": {
              "$ref": "#/components/schemas/firewall_resource"
            },
            "type": "array"
          }
        },
        "required": [
          "apply_to"
        ],
        "title": "ApplyToResourcesRequest",
        "type": "object"
      },
      "apply_to_resources_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/firewalls/{id}/actions/apply_to_resources",
        "properties": {
          "actions": {
            "items": {
              "$ref": "#/components/schemas/action"
            },
            "type": "array"
          }
        },
        "required": [
          "actions"
        ],
        "title": "ActionListResponse",
        "type": "object"
      },
      "architecture": {
        "description": "CPU architecture compatible with the Image.\n | CPU architecture of the Server Type.\n",
        "enum": [
          "arm",
          "x86"
        ],
        "example": "x86",
        "type": "string"
      },
      "architecture_optional": {
        "description": "CPU architecture compatible with the ISO.\n\nNull indicates no restriction on the architecture (wildcard).\n",
        "enum": [
          "arm",
          "x86"
        ],
        "example": "x86",
        "nullable": true,
        "type": "string"
      },
      "assign_floating_ip_to_server_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/floating_ips/{id}/actions/assign",
        "properties": {
          "server": {
            "description": "[Server](#servers) the [Floating IP](#floating-ips) is assigned to.\n\n`null` if not assigned.\n",
            "example": 42,
            "format": "int64",
            "nullable": true,
            "type": "integer"
          }
        },
        "required": [
          "server"
        ],
        "title": "FloatingIPActionsAssignRequest",
        "type": "object"
      },
      "assign_floating_ip_to_server_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/floating_ips/{id}/actions/assign",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "assign_primary_ip_to_resource_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/primary_ips/{id}/actions/assign",
        "properties": {
          "assignee_id": {
            "description": "ID of a resource of type `assignee_type`",
            "example": 4711,
            "format": "int64",
            "type": "integer"
          },
          "assignee_type": {
            "description": "Type of resource assigning the Primary IP to",
            "enum": [
              "server"
            ],
            "example": "server",
            "type": "string"
          }
        },
        "required": [
          "assignee_type",
          "assignee_id"
        ],
        "title": "PrimaryIPActionsAssignRequest",
        "type": "object"
      },
      "assign_primary_ip_to_resource_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/primary_ips/{id}/actions/assign",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "attach_iso_to_server_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/servers/{id}/actions/attach_iso",
        "properties": {
          "iso": {
            "description": "ID or name of ISO to attach to the Server as listed in GET `/isos`",
            "example": "FreeBSD-11.0-RELEASE-amd64-dvd1",
            "type": "string"
          }
        },
        "required": [
          "iso"
        ],
        "type": "object"
      },
      "attach_iso_to_server_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/attach_iso",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "attach_load_balancer_to_network_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/attach_to_network",
        "properties": {
          "ip": {
            "description": "IP to request to be assigned to this Load Balancer; if you do not provide this then you will be auto assigned an IP address",
            "example": "10.0.1.1",
            "type": "string"
          },
          "network": {
            "description": "ID of an existing network to attach the Load Balancer to",
            "example": 4711,
            "format": "int64",
            "type": "integer"
          }
        },
        "required": [
          "network"
        ],
        "type": "object"
      },
      "attach_load_balancer_to_network_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/attach_to_network",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "attach_server_to_network_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/servers/{id}/actions/attach_to_network",
        "properties": {
          "alias_ips": {
            "description": "Additional IPs to be assigned to this Server",
            "example": [
              "10.0.1.2"
            ],
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "ip": {
            "description": "IP to request to be assigned to this Server; if you do not provide this then you will be auto assigned an IP address",
            "example": "10.0.1.1",
            "type": "string"
          },
          "network": {
            "description": "ID of an existing network to attach the Server to",
            "example": 4711,
            "format": "int64",
            "type": "integer"
          }
        },
        "required": [
          "network"
        ],
        "title": "AttachToNetworkRequest",
        "type": "object"
      },
      "attach_server_to_network_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/attach_to_network",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "attach_volume_to_server_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/volumes/{id}/actions/attach",
        "properties": {
          "automount": {
            "description": "Auto-mount the Volume after attaching it",
            "example": false,
            "type": "boolean"
          },
          "server": {
            "description": "ID of the Server the Volume will be attached to",
            "example": 43,
            "format": "int64",
            "type": "integer"
          }
        },
        "required": [
          "server"
        ],
        "title": "AttachVolumeRequest",
        "type": "object"
      },
      "attach_volume_to_server_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/volumes/{id}/actions/attach",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "certificate": {
        "description": "TLS/SSL Certificates prove the identity of a Server and are used to encrypt client traffic.",
        "properties": {
          "certificate": {
            "description": "Certificate and chain in PEM format, in order so that each record directly certifies the one preceding",
            "example": "-----BEGIN CERTIFICATE-----\n...",
            "nullable": true,
            "type": "string"
          },
          "created": {
            "description": "Point in time when the Resource was created (in ISO-8601 format).",
            "example": "2016-01-30T23:55:00+00:00",
            "type": "string"
          },
          "domain_names": {
            "description": "Domains and subdomains covered by the Certificate",
            "example": [
              "example.com",
              "webmail.example.com",
              "www.example.com"
            ],
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "fingerprint": {
            "description": "SHA256 fingerprint of the Certificate",
            "example": "03:c7:55:9b:2a:d1:04:17:09:f6:d0:7f:18:34:63:d4:3e:5f",
            "nullable": true,
            "type": "string"
          },
          "id": {
            "description": "ID of the Certificate.",
            "example": 42,
            "format": "int64",
            "maximum": 9007199254740991,
            "type": "integer"
          },
          "labels": {
            "$ref": "#/components/schemas/labels"
          },
          "name": {
            "description": "Name of the Resource. Must be unique per Project.",
            "example": "my-resource",
            "type": "string"
          },
          "not_valid_after": {
            "description": "Point in time when the Certificate stops being valid (in ISO-8601 format)",
            "example": "2019-07-08T09:59:59+00:00",
            "nullable": true,
            "type": "string"
          },
          "not_valid_before": {
            "description": "Point in time when the Certificate becomes valid (in ISO-8601 format)",
            "example": "2019-01-08T10:00:00+00:00",
            "nullable": true,
            "type": "string"
          },
          "status": {
            "description": "Current status of a type `managed` Certificate, always *null* for type `uploaded` Certificates",
            "nullable": true,
            "properties": {
              "error": {
                "description": "If issuance or renewal reports `failed`, this property contains information about what happened",
                "example": null,
                "nullable": true,
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "issuance": {
                "description": "Status of the issuance process of the Certificate",
                "enum": [
                  "completed",
                  "failed",
                  "pending"
                ],
                "example": "completed",
                "type": "string"
              },
              "renewal": {
                "description": "Status of the renewal process of the Certificate.",
                "enum": [
                  "failed",
                  "pending",
                  "scheduled",
                  "unavailable"
                ],
                "example": "scheduled",
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": {
            "description": "Type of the Certificate.",
            "enum": [
              "managed",
              "uploaded"
            ],
            "example": "uploaded",
            "type": "string"
          },
          "used_by": {
            "description": "Resources currently using the Certificate",
            "items": {
              "$ref": "#/components/schemas/resource"
            },
            "type": "array"
          }
        },
        "required": [
          "id",
          "name",
          "labels",
          "certificate",
          "created",
          "not_valid_before",
          "not_valid_after",
          "domain_names",
          "fingerprint",
          "used_by"
        ],
        "title": "Certificate",
        "type": "object"
      },
      "change_algorithm_request": {
        "$ref": "#/components/schemas/load_balancer_algorithm"
      },
      "change_algorithm_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/change_algorithm",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "change_alias_ips_of_network_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/servers/{id}/actions/change_alias_ips",
        "properties": {
          "alias_ips": {
            "description": "New alias IPs to set for this Server",
            "example": [
              "10.0.1.2"
            ],
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "network": {
            "description": "ID of an existing Network already attached to the Server",
            "example": 4711,
            "format": "int64",
            "type": "integer"
          }
        },
        "required": [
          "network",
          "alias_ips"
        ],
        "type": "object"
      },
      "change_alias_ips_of_network_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/change_alias_ips",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "change_floating_ip_protection_request": {
        "$ref": "#/components/schemas/protection"
      },
      "change_floating_ip_protection_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/floating_ips/{id}/actions/change_protection",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "change_image_protection_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/images/{id}/actions/change_protection",
        "properties": {
          "delete": {
            "description": "If true, prevents the snapshot from being deleted",
            "example": true,
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "change_image_protection_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/images/{id}/actions/change_protection",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "change_ip_range_of_network_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/networks/{id}/actions/change_ip_range",
        "properties": {
          "ip_range": {
            "description": "IP range of the [Network](#networks).\n\nUses CIDR notation.\n\nMust span all included subnets. Must be one of the private IPv4 ranges of RFC1918.\n\nMinimum network size is /24. We highly recommend that you pick a larger [Network](#networks) with a /16 netmask.\n",
            "example": "10.0.0.0/16",
            "type": "string"
          }
        },
        "required": [
          "ip_range"
        ],
        "title": "ChangeIPRangeRequest",
        "type": "object"
      },
      "change_ip_range_of_network_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/networks/{id}/actions/change_ip_range",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "change_load_balancer_protection_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/change_protection",
        "properties": {
          "delete": {
            "description": "If true, prevents the Load Balancer from being deleted",
            "example": true,
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "change_load_balancer_protection_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/change_protection",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "change_network_protection_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/networks/{id}/actions/change_protection",
        "properties": {
          "delete": {
            "description": "Delete protection setting.\n\nIf true, prevents the [Network](#networks) from being deleted.\n",
            "example": true,
            "type": "boolean"
          }
        },
        "title": "ChangeProtectionRequest",
        "type": "object"
      },
      "change_network_protection_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/networks/{id}/actions/change_protection",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "change_primary_ip_protection_request": {
        "$ref": "#/components/schemas/protection"
      },
      "change_primary_ip_protection_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/primary_ips/{id}/actions/change_protection",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "change_reverse_dns_entry_for_this_load_balancer_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/change_dns_ptr",
        "properties": {
          "dns_ptr": {
            "description": "Hostname to set as a reverse DNS PTR entry",
            "example": "lb1.example.com",
            "nullable": true,
            "type": "string"
          },
          "ip": {
            "description": "Public IP address for which the reverse DNS entry should be set",
            "example": "1.2.3.4",
            "type": "string"
          }
        },
        "required": [
          "ip",
          "dns_ptr"
        ],
        "title": "ChangeLoadbalancerDnsPtrRequest",
        "type": "object"
      },
      "change_reverse_dns_entry_for_this_load_balancer_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/change_dns_ptr",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "change_reverse_dns_entry_for_this_server_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/servers/{id}/actions/change_dns_ptr",
        "properties": {
          "dns_ptr": {
            "description": "Hostname to set as a reverse DNS PTR entry, reset to original value if `null`",
            "example": "server01.example.com",
            "nullable": true,
            "type": "string"
          },
          "ip": {
            "description": "Primary IP address for which the reverse DNS entry should be set",
            "example": "1.2.3.4",
            "type": "string"
          }
        },
        "required": [
          "ip",
          "dns_ptr"
        ],
        "type": "object"
      },
      "change_reverse_dns_entry_for_this_server_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/change_dns_ptr",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "change_reverse_dns_records_for_floating_ip_request": {
        "$ref": "#/components/schemas/dns_ptr"
      },
      "change_reverse_dns_records_for_floating_ip_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/floating_ips/{id}/actions/change_dns_ptr",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "change_reverse_dns_records_for_primary_ip_request": {
        "$ref": "#/components/schemas/dns_ptr"
      },
      "change_reverse_dns_records_for_primary_ip_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/primary_ips/{id}/actions/change_dns_ptr",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "change_server_protection_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/servers/{id}/actions/change_protection",
        "properties": {
          "delete": {
            "description": "If true, prevents the Server from being deleted (currently delete and rebuild attribute needs to have the same value)",
            "example": true,
            "type": "boolean"
          },
          "rebuild": {
            "description": "If true, prevents the Server from being rebuilt (currently delete and rebuild attribute needs to have the same value)",
            "example": true,
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "change_server_protection_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/change_protection",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "change_type_of_load_balancer_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/change_type",
        "properties": {
          "load_balancer_type": {
            "description": "ID or name of Load Balancer type the Load Balancer should migrate to",
            "example": "lb21",
            "type": "string"
          }
        },
        "required": [
          "load_balancer_type"
        ],
        "title": "ChangeTypeRequest",
        "type": "object"
      },
      "change_type_of_load_balancer_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/change_type",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "change_type_of_server_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/servers/{id}/actions/change_type",
        "properties": {
          "server_type": {
            "description": "ID or name of Server type the Server should migrate to",
            "example": "cpx11",
            "type": "string"
          },
          "upgrade_disk": {
            "description": "If false, do not upgrade the disk (this allows downgrading the Server type later)",
            "example": true,
            "type": "boolean"
          }
        },
        "required": [
          "upgrade_disk",
          "server_type"
        ],
        "type": "object"
      },
      "change_type_of_server_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/change_type",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "change_volume_protection_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/volumes/{id}/actions/change_protection",
        "properties": {
          "delete": {
            "description": "If true, prevents the Volume from being deleted",
            "example": true,
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "change_volume_protection_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/volumes/{id}/actions/change_protection",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "create_certificate_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/certificates",
        "properties": {
          "certificate": {
            "description": "Certificate and chain in PEM format, in order so that each record directly certifies the one preceding. Required for type `uploaded` Certificates.",
            "example": "-----BEGIN CERTIFICATE-----\n...",
            "type": "string"
          },
          "domain_names": {
            "description": "Domains and subdomains that should be contained in the Certificate issued by *Let's Encrypt*. Required for type `managed` Certificates.",
            "example": null,
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "labels": {
            "$ref": "#/components/schemas/labels"
          },
          "name": {
            "description": "Name of the Certificate",
            "example": "my website cert",
            "type": "string"
          },
          "private_key": {
            "description": "Certificate key in PEM format. Required for type `uploaded` Certificates.",
            "example": "-----BEGIN PRIVATE KEY-----\n...",
            "type": "string"
          },
          "type": {
            "default": "uploaded",
            "description": "Choose between uploading a Certificate in PEM format or requesting a managed *Let's Encrypt* Certificate.",
            "enum": [
              "managed",
              "uploaded"
            ],
            "example": "uploaded",
            "type": "string"
          }
        },
        "required": [
          "name"
        ],
        "title": "CreateCertificateRequest",
        "type": "object"
      },
      "create_certificate_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/certificates",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action_optional"
          },
          "certificate": {
            "$ref": "#/components/schemas/certificate"
          }
        },
        "required": [
          "certificate"
        ],
        "title": "CreateCertificateResponse",
        "type": "object"
      },
      "create_firewall_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/firewalls",
        "properties": {
          "apply_to": {
            "description": "Resources to apply the [Firewall](#firewalls) to.\n\nResources added directly are taking precedence over those added via a [Label Selector](#label-selector).\n",
            "items": {
              "$ref": "#/components/schemas/firewall_resource"
            },
            "type": "array"
          },
          "labels": {
            "$ref": "#/components/schemas/labels"
          },
          "name": {
            "description": "Name of the [Firewall](#firewalls).\n\nLimited to a maximum of 128 characters.\n\nMust be unique per Project.\n",
            "example": "new-name",
            "type": "string"
          },
          "rules": {
            "description": "Array of rules.\n\nRules are limited to 50 entries per [Firewall](#firewalls) and [500 effective rules](https://docs.hetzner.com/cloud/firewalls/overview#limits).\n",
            "example": [
              {
                "direction": "in",
                "port": "80",
                "protocol": "tcp",
                "source_ips": [
                  "28.239.13.1/32",
                  "28.239.14.0/24",
                  "ff21:1eac:9a3b:ee58:5ca:990c:8bc9:c03b/128"
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/rule"
            },
            "type": "array"
          }
        },
        "required": [
          "name"
        ],
        "title": "CreateFirewallRequest",
        "type": "object"
      },
      "create_firewall_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/firewalls",
        "properties": {
          "actions": {
            "example": [
              {
                "command": "set_firewall_rules",
                "error": {
                  "code": "action_failed",
                  "message": "Action failed"
                },
                "finished": "2016-01-30T23:56:00+00:00",
                "id": 13,
                "progress": 100,
                "resources": [
                  {
                    "id": 38,
                    "type": "firewall"
                  }
                ],
                "started": "2016-01-30T23:55:00+00:00",
                "status": "success"
              },
              {
                "command": "apply_firewall",
                "error": {
                  "code": "action_failed",
                  "message": "Action failed"
                },
                "finished": "2016-01-30T23:56:00+00:00",
                "id": 14,
                "progress": 100,
                "resources": [
                  {
                    "id": 42,
                    "type": "server"
                  },
                  {
                    "id": 38,
                    "type": "firewall"
                  }
                ],
                "started": "2016-01-30T23:55:00+00:00",
                "status": "success"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/action"
            },
            "type": "array"
          },
          "firewall": {
            "$ref": "#/components/schemas/firewall"
          }
        },
        "title": "CreateFirewallResponse",
        "type": "object"
      },
      "create_floating_ip_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/floating_ips",
        "properties": {
          "description": {
            "description": "Description of the Resource.",
            "example": "This describes my resource",
            "nullable": true,
            "type": "string"
          },
          "home_location": {
            "description": "Home [Location](#locations) for the [Floating IP](#floating-ips).\n\nEither the ID or the name of the [Location](#locations).\n\nOnly optional if no [Server](#servers) is provided. Routing is optimized for this [Locations](#locations).\n",
            "example": "fsn1",
            "type": "string"
          },
          "labels": {
            "$ref": "#/components/schemas/labels"
          },
          "name": {
            "description": "Name of the Resource. Must be unique per Project.",
            "example": "my-resource",
            "type": "string"
          },
          "server": {
            "description": "[Server](#servers) the [Floating IP](#floating-ips) is assigned to.\n\n`null` if not assigned.\n",
            "example": 42,
            "format": "int64",
            "nullable": true,
            "type": "integer"
          },
          "type": {
            "$ref": "#/components/schemas/ip_type"
          }
        },
        "required": [
          "type"
        ],
        "title": "FloatingIPCreateRequest",
        "type": "object"
      },
      "create_floating_ip_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/floating_ips",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          },
          "floating_ip": {
            "$ref": "#/components/schemas/floating_ip"
          }
        },
        "required": [
          "floating_ip"
        ],
        "type": "object"
      },
      "create_image_from_server_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/servers/{id}/actions/create_image",
        "properties": {
          "description": {
            "description": "Description of the Image, will be auto-generated if not set",
            "example": "my image",
            "type": "string"
          },
          "labels": {
            "$ref": "#/components/schemas/labels"
          },
          "type": {
            "default": "snapshot",
            "description": "Type of Image to create.",
            "enum": [
              "backup",
              "snapshot"
            ],
            "example": "snapshot",
            "type": "string"
          }
        },
        "title": "CreateImageRequest",
        "type": "object"
      },
      "create_image_from_server_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/create_image",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          },
          "image": {
            "$ref": "#/components/schemas/image"
          }
        },
        "type": "object"
      },
      "create_load_balancer_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/load_balancers",
        "properties": {
          "algorithm": {
            "$ref": "#/components/schemas/load_balancer_algorithm"
          },
          "labels": {
            "$ref": "#/components/schemas/labels"
          },
          "load_balancer_type": {
            "description": "ID or name of the Load Balancer type this Load Balancer should be created with",
            "example": "lb11",
            "type": "string"
          },
          "location": {
            "description": "ID or name of Location to create Load Balancer in",
            "example": "fsn1",
            "type": "string"
          },
          "name": {
            "description": "Name of the Load Balancer",
            "example": "Web Frontend",
            "type": "string"
          },
          "network": {
            "description": "ID of the network the Load Balancer should be attached to on creation",
            "example": 123,
            "format": "int64",
            "type": "integer"
          },
          "network_zone": {
            "description": "Name of network zone",
            "example": "eu-central",
            "type": "string"
          },
          "public_interface": {
            "description": "Enable or disable the public interface of the Load Balancer",
            "example": true,
            "type": "boolean"
          },
          "services": {
            "description": "Array of services",
            "items": {
              "$ref": "#/components/schemas/load_balancer_service"
            },
            "type": "array"
          },
          "targets": {
            "description": "Array of targets",
            "items": {
              "$ref": "#/components/schemas/load_balancer_add_target"
            },
            "type": "array"
          }
        },
        "required": [
          "name",
          "load_balancer_type"
        ],
        "title": "CreateLoadBalancerRequest",
        "type": "object"
      },
      "create_load_balancer_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          },
          "load_balancer": {
            "$ref": "#/components/schemas/load_balancer"
          }
        },
        "required": [
          "load_balancer",
          "action"
        ],
        "type": "object"
      },
      "create_network_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/networks",
        "properties": {
          "expose_routes_to_vswitch": {
            "description": "Toggle to expose routes to the [Networks](#networks) vSwitch.\n\nIndicates if the routes from this [Network](#networks) should be exposed to the vSwitch in this [Network](#networks). Only takes effect if a [vSwitch is setup](https://docs.hetzner.com/cloud/networks/connect-dedi-vswitch) in this [Network](#networks).\n",
            "example": false,
            "type": "boolean"
          },
          "ip_range": {
            "description": "IP range of the [Network](#networks).\n\nUses CIDR notation.\n\nMust span all included subnets. Must be one of the private IPv4 ranges of RFC1918.\n\nMinimum network size is /24. We highly recommend that you pick a larger [Network](#networks) with a /16 netmask.\n",
            "example": "10.0.0.0/16",
            "type": "string"
          },
          "labels": {
            "$ref": "#/components/schemas/labels"
          },
          "name": {
            "description": "Name of the [Network](#networks).",
            "example": "mynet",
            "type": "string"
          },
          "routes": {
            "description": "Array of routes set in this [Network](#networks).",
            "items": {
              "$ref": "#/components/schemas/route"
            },
            "type": "array"
          },
          "subnets": {
            "description": "Array of subnets to allocate.",
            "items": {
              "$ref": "#/components/schemas/subnet"
            },
            "type": "array"
          }
        },
        "required": [
          "name",
          "ip_range"
        ],
        "title": "NetworkCreateRequest",
        "type": "object"
      },
      "create_network_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/networks",
        "properties": {
          "network": {
            "$ref": "#/components/schemas/network"
          }
        },
        "type": "object"
      },
      "create_placementgroup_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/placement_groups",
        "properties": {
          "labels": {
            "$ref": "#/components/schemas/labels"
          },
          "name": {
            "description": "Name of the PlacementGroup",
            "example": "my Placement Group",
            "type": "string"
          },
          "type": {
            "description": "Define the Placement Group Type.",
            "enum": [
              "spread"
            ],
            "example": "spread",
            "type": "string"
          }
        },
        "required": [
          "name",
          "type"
        ],
        "title": "CreatePlacementGroupRequest",
        "type": "object"
      },
      "create_placementgroup_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/placement_groups",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action_optional"
          },
          "placement_group": {
            "properties": {
              "created": {
                "description": "Point in time when the Resource was created (in ISO-8601 format).",
                "example": "2016-01-30T23:55:00+00:00",
                "type": "string"
              },
              "id": {
                "description": "ID of the Placement Group.",
                "example": 42,
                "format": "int64",
                "maximum": 9007199254740991,
                "type": "integer"
              },
              "labels": {
                "$ref": "#/components/schemas/labels"
              },
              "name": {
                "description": "Name of the Resource. Must be unique per Project.",
                "example": "my-resource",
                "type": "string"
              },
              "servers": {
                "description": "Array of IDs of Servers that are part of this Placement Group",
                "example": [
                  42
                ],
                "items": {
                  "format": "int64",
                  "type": "integer"
                },
                "type": "array"
              },
              "type": {
                "description": "Type of Placement Group.\n",
                "enum": [
                  "spread"
                ],
                "example": "spread",
                "type": "string"
              }
            },
            "required": [
              "id",
              "name",
              "labels",
              "type",
              "created",
              "servers"
            ],
            "title": "PlacementGroup",
            "type": "object"
          }
        },
        "required": [
          "placement_group"
        ],
        "title": "CreatePlacementGroupResponse",
        "type": "object"
      },
      "create_primary_ip_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/primary_ips",
        "properties": {
          "assignee_id": {
            "description": "ID of resource to assign the [Primary IP](#primary-ips) to.\n\nOmitted if the [Primary IP](#primary-ips) should not get assigned.\n",
            "example": 17,
            "format": "int64",
            "nullable": true,
            "type": "integer"
          },
          "assignee_type": {
            "description": "Type of resource the [Primary IP](#primary-ips) can get assigned to.\n\nCurrently [Primary IPs](#primary-ips) can only be assigned to [Servers](#servers),\ntherefore this field must be set to `server`.\n",
            "enum": [
              "server"
            ],
            "example": "server",
            "type": "string"
          },
          "auto_delete": {
            "default": false,
            "description": "Auto deletion state.\n\nIf enabled the [Primary IP](#primary-ips) will be deleted once the assigned resource gets deleted.\n",
            "example": false,
            "type": "boolean"
          },
          "datacenter": {
            "description": "[Datacenter](#datacenters) ID or name.\n\nThe  [Primary IP](#primary-ips) will be bound to this [Datacenter](#datacenters). Omit if `assignee_id`/`assignee_type` is provided.\n",
            "example": "fsn1-dc8",
            "type": "string"
          },
          "labels": {
            "$ref": "#/components/schemas/labels"
          },
          "name": {
            "description": "Name of the Resource. Must be unique per Project.",
            "example": "my-resource",
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/ip_type"
          }
        },
        "required": [
          "name",
          "type",
          "assignee_type"
        ],
        "title": "PrimaryIPCreateRequest",
        "type": "object"
      },
      "create_primary_ip_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/primary_ips",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          },
          "primary_ip": {
            "properties": {
              "assignee_id": {
                "description": "ID of resource the [Primary IP](#primary-ips) is assigned to.\n\n`null` if the [Primary IP](#primary-ips) is not assigned.\n",
                "example": 17,
                "format": "int64",
                "nullable": true,
                "type": "integer"
              },
              "assignee_type": {
                "description": "Type of resource the [Primary IP](#primary-ips) can get assigned to.\n",
                "enum": [
                  "server"
                ],
                "example": "server",
                "type": "string"
              },
              "auto_delete": {
                "default": false,
                "description": "Auto deletion state.\n\nIf enabled the [Primary IP](#primary-ips) will be deleted once the assigned resource gets deleted.\n",
                "example": true,
                "type": "boolean"
              },
              "blocked": {
                "description": "Blocked state of the [Primary IP](#primary-ips).",
                "example": false,
                "type": "boolean"
              },
              "created": {
                "description": "Point in time when the Resource was created (in ISO-8601 format).",
                "example": "2016-01-30T23:55:00+00:00",
                "type": "string"
              },
              "datacenter": {
                "$ref": "#/components/schemas/datacenter"
              },
              "dns_ptr": {
                "description": "List of reverse DNS records.",
                "items": {
                  "$ref": "#/components/schemas/dns_ptr"
                },
                "type": "array"
              },
              "id": {
                "description": "ID of the Primary IP.",
                "example": 42,
                "format": "int64",
                "maximum": 9007199254740991,
                "type": "integer"
              },
              "ip": {
                "description": "IP address.",
                "example": "131.232.99.1",
                "type": "string"
              },
              "labels": {
                "$ref": "#/components/schemas/labels"
              },
              "name": {
                "description": "Name of the Resource. Must be unique per Project.",
                "example": "my-resource",
                "type": "string"
              },
              "protection": {
                "$ref": "#/components/schemas/protection"
              },
              "type": {
                "$ref": "#/components/schemas/ip_type"
              }
            },
            "required": [
              "id",
              "name",
              "labels",
              "created",
              "blocked",
              "datacenter",
              "ip",
              "dns_ptr",
              "protection",
              "type",
              "auto_delete",
              "assignee_type",
              "assignee_id"
            ],
            "title": "PrimaryIP",
            "type": "object"
          }
        },
        "required": [
          "primary_ip"
        ],
        "title": "CreatePrimaryIPResponse",
        "type": "object"
      },
      "create_server_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/servers",
        "properties": {
          "automount": {
            "description": "Auto-mount Volumes after attach",
            "example": false,
            "type": "boolean"
          },
          "datacenter": {
            "description": "ID or name of Datacenter to create Server in (must not be used together with location)",
            "example": "nbg1-dc3",
            "type": "string"
          },
          "firewalls": {
            "description": "Firewalls which should be applied on the Server's public network interface at creation time",
            "example": [
              {
                "firewall": 38
              }
            ],
            "items": {
              "properties": {
                "firewall": {
                  "description": "ID of the Firewall",
                  "format": "int64",
                  "type": "integer"
                }
              },
              "required": [
                "firewall"
              ],
              "title": "CreateServerRequestFirewalls",
              "type": "object"
            },
            "type": "array"
          },
          "image": {
            "description": "ID or name of the Image the Server is created from",
            "example": "ubuntu-20.04",
            "type": "string"
          },
          "labels": {
            "$ref": "#/components/schemas/labels"
          },
          "location": {
            "description": "ID or name of Location to create Server in (must not be used together with datacenter)",
            "example": "nbg1",
            "type": "string"
          },
          "name": {
            "description": "Name of the Server to create (must be unique per Project and a valid hostname as per RFC 1123)",
            "example": "my-server",
            "type": "string"
          },
          "networks": {
            "description": "Network IDs which should be attached to the Server private network interface at the creation time",
            "example": [
              456
            ],
            "items": {
              "format": "int64",
              "type": "integer"
            },
            "type": "array"
          },
          "placement_group": {
            "description": "ID of the Placement Group the server should be in",
            "example": 1,
            "format": "int64",
            "type": "integer"
          },
          "public_net": {
            "description": "Public Network options",
            "properties": {
              "enable_ipv4": {
                "default": true,
                "description": "Attach an IPv4 on the public NIC. If false, no IPv4 address will be attached.",
                "type": "boolean"
              },
              "enable_ipv6": {
                "default": true,
                "description": "Attach an IPv6 on the public NIC. If false, no IPv6 address will be attached.",
                "type": "boolean"
              },
              "ipv4": {
                "description": "ID of the ipv4 Primary IP to use. If omitted and enable_ipv4 is true, a new ipv4 Primary IP will automatically be created.",
                "nullable": true,
                "type": "integer"
              },
              "ipv6": {
                "description": "ID of the ipv6 Primary IP to use. If omitted and enable_ipv6 is true, a new ipv6 Primary IP will automatically be created.",
                "nullable": true,
                "type": "integer"
              }
            },
            "type": "object"
          },
          "server_type": {
            "description": "ID or name of the Server type this Server should be created with",
            "example": "cpx11",
            "type": "string"
          },
          "ssh_keys": {
            "description": "SSH key IDs (`integer`) or names (`string`) which should be injected into the Server at creation time",
            "example": [
              "my-ssh-key"
            ],
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "start_after_create": {
            "default": true,
            "description": "This automatically triggers a [Power on a Server-Server Action](#server-actions-power-on-a-server) after the creation is finished and is returned in the `next_actions` response object.",
            "example": true,
            "type": "boolean"
          },
          "user_data": {
            "description": "Cloud-Init user data to use during Server creation. This field is limited to 32KiB.",
            "example": "#cloud-config\nruncmd:\n- [touch, /root/cloud-init-worked]\n",
            "type": "string"
          },
          "volumes": {
            "description": "Volume IDs which should be attached to the Server at the creation time. Volumes must be in the same Location.",
            "example": [
              123
            ],
            "items": {
              "format": "int64",
              "type": "integer"
            },
            "type": "array"
          }
        },
        "required": [
          "name",
          "server_type",
          "image"
        ],
        "title": "CreateServerRequest",
        "type": "object"
      },
      "create_server_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/servers",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          },
          "next_actions": {
            "items": {
              "$ref": "#/components/schemas/action"
            },
            "type": "array"
          },
          "root_password": {
            "description": "Root password when no SSH keys have been specified",
            "example": "YItygq1v3GYjjMomLaKc",
            "nullable": true,
            "type": "string"
          },
          "server": {
            "$ref": "#/components/schemas/server"
          }
        },
        "required": [
          "server",
          "action",
          "next_actions",
          "root_password"
        ],
        "title": "CreateServerResponse",
        "type": "object"
      },
      "create_ssh_key_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/ssh_keys",
        "properties": {
          "labels": {
            "$ref": "#/components/schemas/labels"
          },
          "name": {
            "description": "Name of the SSH key",
            "example": "My ssh key",
            "type": "string"
          },
          "public_key": {
            "description": "Public key",
            "example": "ssh-rsa AAAjjk76kgf...Xt",
            "type": "string"
          }
        },
        "required": [
          "name",
          "public_key"
        ],
        "type": "object"
      },
      "create_ssh_key_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/ssh_keys",
        "properties": {
          "ssh_key": {
            "$ref": "#/components/schemas/ssh_key"
          }
        },
        "required": [
          "ssh_key"
        ],
        "type": "object"
      },
      "create_volume_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/volumes",
        "properties": {
          "automount": {
            "description": "Auto-mount Volume after attach. `server` must be provided.",
            "example": false,
            "type": "boolean"
          },
          "format": {
            "description": "Format Volume after creation. One of: `xfs`, `ext4`",
            "example": "xfs",
            "type": "string"
          },
          "labels": {
            "$ref": "#/components/schemas/labels"
          },
          "location": {
            "description": "Location to create the Volume in (can be omitted if Server is specified)",
            "example": "nbg1",
            "type": "string"
          },
          "name": {
            "description": "Name of the volume",
            "example": "databases-storage",
            "type": "string"
          },
          "server": {
            "description": "Server to which to attach the Volume once it's created (Volume will be created in the same Location as the server)",
            "format": "int64",
            "type": "integer"
          },
          "size": {
            "description": "Size of the Volume in GB",
            "example": 42,
            "type": "integer"
          }
        },
        "required": [
          "size",
          "name"
        ],
        "title": "CreateVolumeRequest",
        "type": "object"
      },
      "create_volume_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/volumes",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          },
          "next_actions": {
            "items": {
              "$ref": "#/components/schemas/action"
            },
            "type": "array"
          },
          "volume": {
            "$ref": "#/components/schemas/volume"
          }
        },
        "required": [
          "volume",
          "action",
          "next_actions"
        ],
        "type": "object"
      },
      "created_from": {
        "description": "Information about the Server the Image was created from",
        "nullable": true,
        "properties": {
          "id": {
            "description": "ID of the Server the Image was created from",
            "example": 1,
            "format": "int64",
            "maximum": 9007199254740991,
            "type": "integer"
          },
          "name": {
            "description": "Server name at the time the Image was created",
            "example": "Server",
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "type": "object"
      },
      "datacenter": {
        "description": "[Datacenter](#datacenters) the [Primary IP](#primary-ips) is located at. | Datacenter this Resource is located at",
        "properties": {
          "description": {
            "description": "Descriptive name for the [Datacenter](#datacenters).\n\nDesired to be easy to understand for humans. Might be changed for cosmetic reasons. Do not use this as an identifier.\n",
            "example": "Falkenstein DC Park 8",
            "type": "string"
          },
          "id": {
            "description": "ID of the Datacenter.",
            "example": 42,
            "format": "int64",
            "maximum": 9007199254740991,
            "type": "integer"
          },
          "location": {
            "$ref": "#/components/schemas/location"
          },
          "name": {
            "description": "Unique name for the [Datacenter](#datacenters).\n\nCan be used as a more descriptive identifier.\n",
            "example": "fsn1-dc8",
            "pattern": "^[a-z0-9]+(-?[a-z0-9]*)*$",
            "type": "string"
          },
          "server_types": {
            "description": "[Server Types](#server-types) supported and available in this [Datacenter](#datacenters).\n",
            "properties": {
              "available": {
                "description": "[Server Types](#server-types) currently available in this [Datacenter](#datacenters).\n\nThese [Server Types](#server-types) can currently be purchased. Types that are temporarily unavailable\nbut are supported in this [Datacenter](#datacenters) are listed as `supported`.\n",
                "example": [
                  1,
                  2,
                  3
                ],
                "items": {
                  "format": "int64",
                  "type": "integer"
                },
                "type": "array"
              },
              "available_for_migration": {
                "description": "[Server Types](#server-types) available to migrate to in this [Datacenter](#datacenters).\n\nExisting [Servers](#servers) can be migrated to these [Server Types](#server-types).\n",
                "example": [
                  1,
                  2,
                  3
                ],
                "items": {
                  "format": "int64",
                  "type": "integer"
                },
                "type": "array"
              },
              "supported": {
                "description": "List of [Server Types](#server-types) supported in this [Datacenter](#datacenters).\n\nThese [Server Types](#server-types) are generally available in this Datacenter, but might be\ntemporarily out of stock.\n",
                "example": [
                  1,
                  2,
                  3
                ],
                "items": {
                  "format": "int64",
                  "type": "integer"
                },
                "type": "array"
              }
            },
            "required": [
              "supported",
              "available",
              "available_for_migration"
            ],
            "type": "object"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "location",
          "server_types"
        ],
        "type": "object"
      },
      "delete_route_from_network_request": {
        "$ref": "#/components/schemas/route"
      },
      "delete_route_from_network_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/networks/{id}/actions/delete_route",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "delete_server_response": {
        "description": "Response to DELETE https://api.hetzner.cloud/v1/servers/{id}",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "type": "object"
      },
      "delete_service_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/delete_service",
        "properties": {
          "listen_port": {
            "description": "The listen port of the service you want to delete",
            "example": 443,
            "type": "integer"
          }
        },
        "required": [
          "listen_port"
        ],
        "type": "object"
      },
      "delete_service_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/delete_service",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "delete_subnet_from_network_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/networks/{id}/actions/delete_subnet",
        "properties": {
          "ip_range": {
            "description": "IP range in CIDR block notation of the subnet to delete.",
            "example": "10.0.1.0/24",
            "type": "string"
          }
        },
        "required": [
          "ip_range"
        ],
        "title": "DeleteSubnetRequest",
        "type": "object"
      },
      "delete_subnet_from_network_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/networks/{id}/actions/delete_subnet",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "deprecation_info": {
        "description": "Describes if, when and how the resource is deprecated. If this field is\nset to `null` the resource is not deprecated. If a value is set, it is\nconsidered deprecated.\n",
        "nullable": true,
        "properties": {
          "announced": {
            "description": "Date of the deprecation announcement.\n",
            "example": "2023-06-01T00:00:00+00:00",
            "format": "iso-8601",
            "type": "string"
          },
          "unavailable_after": {
            "description": "Date of the deprecated resource removal.\n\nOnce this date is reached, the resource will not be returned\nby resource type \"list\" endpoint, and the resource can not be\nused to create new resources. For example, if this is an\nimage, you can not create new servers with this image after\nthe mentioned date.\n",
            "example": "2023-09-01T00:00:00+00:00",
            "format": "iso-8601",
            "type": "string"
          }
        },
        "required": [
          "unavailable_after",
          "announced"
        ],
        "title": "DeprecationInfo",
        "type": "object"
      },
      "detach_iso_from_server_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/detach_iso",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "detach_load_balancer_from_network_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/detach_from_network",
        "properties": {
          "network": {
            "description": "ID of an existing network to detach the Load Balancer from",
            "example": 4711,
            "format": "int64",
            "type": "integer"
          }
        },
        "required": [
          "network"
        ],
        "type": "object"
      },
      "detach_load_balancer_from_network_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/detach_from_network",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "detach_server_from_network_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/servers/{id}/actions/detach_from_network",
        "properties": {
          "network": {
            "description": "ID of an existing network to detach the Server from",
            "example": 4711,
            "format": "int64",
            "type": "integer"
          }
        },
        "required": [
          "network"
        ],
        "title": "DetachFromNetworkRequest",
        "type": "object"
      },
      "detach_server_from_network_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/detach_from_network",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "detach_volume_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/volumes/{id}/actions/detach",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "disable_backups_for_server_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/disable_backup",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "disable_public_interface_of_load_balancer_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/disable_public_interface",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "disable_rescue_mode_for_server_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/disable_rescue",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "dns_ptr": {
        "description": "Request for POST https://api.hetzner.cloud/v1/floating_ips/{id}/actions/change_dns_ptr | Request for POST https://api.hetzner.cloud/v1/primary_ips/{id}/actions/change_dns_ptr",
        "properties": {
          "dns_ptr": {
            "description": "Domain Name to point to.\n\nPTR record content used for reverse DNS.\n | DNS pointer for the specific IP address",
            "example": "server.example.com",
            "type": "string"
          },
          "ip": {
            "description": "Single IPv4 or IPv6 address to create pointer for.\n | Single IPv6 address of this Server for which the reverse DNS entry has been set up",
            "example": "2001:db8::1",
            "type": "string"
          }
        },
        "required": [
          "ip",
          "dns_ptr"
        ],
        "type": "object"
      },
      "enable_and_configure_backups_for_server_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/enable_backup",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "enable_public_interface_of_load_balancer_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/load_balancers/{id}/actions/enable_public_interface",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ],
        "title": "ActionResponse",
        "type": "object"
      },
      "enable_rescue_mode_for_server_request": {
        "description": "Request for POST https://api.hetzner.cloud/v1/servers/{id}/actions/enable_rescue",
        "properties": {
          "ssh_keys": {
            "description": "Array of SSH key IDs which should be injected into the rescue system.",
            "example": [
              2323
            ],
            "items": {
              "format": "int64",
              "type": "integer"
            },
            "type": "array"
          },
          "type": {
            "default": "linux64",
            "description": "Type of rescue system to boot.",
            "enum": [
              "linux64"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "enable_rescue_mode_for_server_response": {
        "description": "Response to POST https://api.hetzner.cloud/v1/servers/{id}/actions/enable_rescue",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          },
          "root_password": {
            "description": "Password that will be set for this Server once the Action succeeds",
            "example": "zCWbFhnu950dUTko5f40",
            "type": "string"
          }
        },
        "type": "object"
      },
      "error": {
        "description": "Error message for the Action if an error occurred, otherwise null.",
        "nullable": true,
        "properties": {
          "code": {
            "description": "Fixed error code for machines.",
            "example": "action_failed",
            "type": "string"
          },
          "message": {
            "description": "Error message for humans.",
            "example": "Action failed",
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "type": "object"
      },
      "firewall": {
        "description": "Firewalls can limit the network access to or from your resources.",
        "properties": {
          "applied_to": {
            "items": {
              "$ref": "#/components/schemas/firewall_resource_id"
            },
            "type": "array"
          },
          "created": {
            "description": "Point in time when the Resource was created (in ISO-8601 format).",
            "example": "2016-01-30T23:55:00+00:00",
            "type": "string"
          },
          "id": {
            "description": "ID of the Firewall.",
            "example": 42,
            "format": "int64",
            "maximum": 9007199254740991,
            "type": "integer"
          },
          "labels": {
            "$ref": "#/components/schemas/labels"
          },
          "name": {
            "description": "Name of the [Firewall](#firewalls).\n\nLimited to a maximum of 128 characters.\n\nMust be unique per Project.\n",
            "example": "new-name",
            "type": "string"
          },
          "rules": {
            "items": {
              "properties": {
                "description": {
                  "description": "Description of the rule.",
                  "maxLength": 255,
                  "nullable": true,
                  "type": "string"
                },
                "destination_ips": {
                  "description": "List of permitted IPv4/IPv6 addresses for outgoing traffic.\n\nThe `direction` must be set to `out`.\n\nIPs must be in [CIDR block notation](https://wikipedia.org/wiki/CIDR). You can specify 100 CIDR\nblocks at most.\n\nThe CIDR blocks may refer to networks (with empty host bits) or single hosts.\nFor example, a network could be defined with `10.0.1.0/24` or `2001:db8:ff00:42::/64`,\nand a single host with `10.0.1.1/32` or `2001:db8:ff00:42::8329/128`.\n\nUse `0.0.0.0/0` to allow any IPv4 addresses and `::/0` to allow any IPv6 addresses.\n",
                  "example": [],
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "direction": {
                  "description": "Traffic direction in which the rule should be applied to.\n\nUse `source_ips` for direction `in` and `destination_ips` for direction `out` to specify IPs.\n",
                  "enum": [
                    "in",
                    "out"
                  ],
                  "example": "in",
                  "type": "string"
                },
                "port": {
                  "description": "Port or port range to apply the rule for.\n\nOnly applicable for protocols `tcp` and `udp`.\n\nA port range can be specified by separating lower and upper bounds with a dash. `1024-5000` will include\nall ports starting from 1024 up to port 5000.\n",
                  "example": "80",
                  "nullable": true,
                  "type": "string"
                },
                "protocol": {
                  "description": "Network protocol to apply the rule for.",
                  "enum": [
                    "esp",
                    "gre",
                    "icmp",
                    "tcp",
                    "udp"
                  ],
                  "type": "string"
                },
                "source_ips": {
                  "description": "List of permitted IPv4/IPv6 addresses for incoming traffic.\n\nThe `direction` must be set to `in`.\n\nIPs must be provided in [CIDR block notation](https://wikipedia.org/wiki/CIDR). You can specify 100 CIDR\nblocks at most.\n\nThe CIDR blocks may refer to networks (with empty host bits) or single hosts.\nFor example, a network could be defined with `10.0.1.0/24` or `2001:db8:ff00:42::/64`,\nand a single host with `10.0.1.1/32` or `2001:db8:ff00:42::8329/128`.\n\nUse `0.0.0.0/0` to allow any IPv4 addresses and `::/0` to allow any IPv6 addresses.\n",
                  "example": [
                    "28.239.13.1/32",
                    "28.239.14.0/24",
                    "ff21:1eac:9a3b:ee58:5ca:990c:8bc9:c03b/128"
                  ],
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "required": [
                "direction",
                "protocol",
                "destination_ips",
                "source_ips",
                "port"
              ],
              "title": "RuleResponse",
              "type": "object"
            },
            "type": "array"
          }
        },
        "required": [
          "id",
          "name",
          "created",
          "rules",
          "applied_to"
        ],
        "title": "FirewallResponse",
        "type": "object"
      },
      "firewall_resource": {
        "description": "Resource a Firewall should be applied to.",
        "properties": {
          "label_selector": {
            "$ref": "#/components/schemas/label_selector"
          },
          "server": {
            "$ref": "#/components/schemas/resource_id"
          },
          "type": {
            "description": "Type of the resource.",
            "enum": [
              "label_selector",
              "server"
            ],
            "type": "string"
          }
        },
        "required": [
          "type"
        ],
        "title": "FirewallResource",
        "type": "object"
      },
      "firewall_resource_id": {
        "description": "Resource a Firewall should be applied to.",
        "properties": {
          "applied_to_resources": {
            "description": "Resources applied to via this [Label Selector](#label-selector).\n",
            "items": {
              "properties": {
                "server": {
                  "$ref": "#/components/schemas/resource_id"
                },
                "type": {
                  "description": "Type of resource.",
                  "enum": [
                    "server"
                  ],
                  "example": "server",
                  "type": "string"
                }
              },
              "title": "FirewallResourceIdAppliedToResources",
              "type": "object"
            },
            "type": "array"
          },
          "label_selector": {
            "$ref": "#/components/schemas/label_selector"
          },
          "server": {
            "$ref": "#/components/schemas/resource_id"
          },
          "type": {
            "description": "The type of resource to apply.",
            "enum": [
              "label_selector",
              "server"
            ],
            "example": "server",
            "type": "string"
          }
        },
        "required": [
          "type"
        ],
        "type": "object"
      },
      "floating_ip": {
        "properties": {
          "blocked": {
            "description": "Indicates whether the [Floating IP](#floating-ips) is blocked.",
            "example": false,
            "type": "boolean"
          },
          "created": {
            "description": "Point in time when the Resource was created (in ISO-8601 format).",
            "example": "2016-01-30T23:55:00+00:00",
            "type": "string"
          },
          "description": {
            "description": "Description of the Resource.",
            "example": "This describes my resource",
            "nullable": true,
            "type": "string"
          },
          "dns_ptr": {
            "description": "List of reverse DNS entries for the [Floating IP](#floating-ips).\n",
            "items": {
              "$ref": "#/components/schemas/dns_ptr"
            },
            "type": "array"
          },
          "home_location": {
            "$ref": "#/components/schemas/location"
          },
          "id": {
            "description": "ID of the Floating IP.",
            "example": 42,
            "format": "int64",
            "maximum": 9007199254740991,
            "type": "integer"
          },
          "ip": {
            "description": "IP address.",
            "example": "131.232.99.1",
            "type": "string"
          },
          "labels": {
            "$ref": "#/components/schemas/labels"
          },
          "name": {
            "description": "Name of the Resource. Must be unique per Project.",
            "example": "my-resource",
            "type": "string"
          },
          "protection": {
            "$ref": "#/components/schemas/protection"
          },
          "server": {
            "description": "[Server](#servers) the [Floating IP](#floating-ips) is assigned to.\n\n`null` if not assigned.\n",
            "example": 42,
            "format": "int64",
            "nullable": true,
            "type": "integer"
[...]
