{
  "openapi": "3.0.3",
  "info": {
    "title": "Hetzner Cloud API",
    "description": "Copied from the official API documentation for the Public Hetzner Cloud.",
    "contact": {
      "url": "https://docs.hetzner.cloud/"
    },
    "version": "42f9f10-dirty"
  },
  "servers": [
    {
      "url": "https://api.hetzner.cloud/v1",
      "description": "Official production server"
    }
  ],
  "components": {
    "schemas": {
      "action": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the Action"
          },
          "command": {
            "type": "string",
            "description": "Command executed in the Action"
          },
          "status": {
            "type": "string",
            "enum": [
              "error",
              "running",
              "success"
            ],
            "description": "Status of the Action"
          },
          "progress": {
            "type": "number",
            "description": "Progress of Action in percent"
          },
          "started": {
            "type": "string",
            "description": "Point in time when the Action was started (in ISO-8601 format)"
          },
          "finished": {
            "type": "string",
            "description": "Point in time when the Action was finished (in ISO-8601 format). Only set if the Action is finished otherwise null.",
            "nullable": true
          },
          "resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/resource"
            },
            "description": "Resources the Action relates to"
          },
          "error": {
            "$ref": "#/components/schemas/error"
          }
        },
        "required": [
          "id",
          "command",
          "status",
          "progress",
          "started",
          "finished",
          "resources",
          "error"
        ],
        "description": "Assign Action (only present if a Server was provided) | Action created by this call"
      },
      "add_route_to_network_request": {
        "$ref": "#/components/schemas/route"
      },
      "add_route_to_network_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "add_subnet_to_network_request": {
        "$ref": "#/components/schemas/subnet"
      },
      "add_subnet_to_network_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "assign_floating_ip_to_server_request": {
        "type": "object",
        "properties": {
          "server": {
            "type": "integer",
            "description": "ID of the Server the Floating IP shall be assigned to"
          }
        },
        "required": [
          "server"
        ]
      },
      "assign_floating_ip_to_server_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "attach_iso_to_server_request": {
        "type": "object",
        "properties": {
          "iso": {
            "type": "string",
            "description": "ID or name of ISO to attach to the Server as listed in GET `/isos`"
          }
        },
        "required": [
          "iso"
        ]
      },
      "attach_iso_to_server_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "attach_server_to_network_request": {
        "type": "object",
        "properties": {
          "network": {
            "type": "integer",
            "description": "ID of an existing network to attach the Server to"
          },
          "ip": {
            "type": "string",
            "description": "IP to request to be assigned to this Server; if you do not provide this then you will be auto assigned an IP address"
          },
          "alias_ips": {
            "type": "array",
            "description": "Additional IPs to be assigned to this Server",
            "items": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "required": [
          "network"
        ]
      },
      "attach_server_to_network_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "attach_volume_to_server_request": {
        "type": "object",
        "properties": {
          "server": {
            "type": "integer",
            "description": "ID of the Server the Volume will be attached to"
          },
          "automount": {
            "type": "boolean",
            "description": "Auto-mount the Volume after attaching it"
          }
        },
        "required": [
          "server"
        ]
      },
      "attach_volume_to_server_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "change_alias_ips_of_network_request": {
        "type": "object",
        "properties": {
          "network": {
            "type": "integer",
            "description": "ID of an existing Network already attached to the Server"
          },
          "alias_ips": {
            "type": "array",
            "description": "New alias IPs to set for this Server",
            "items": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "required": [
          "network",
          "alias_ips"
        ]
      },
      "change_alias_ips_of_network_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "change_floating_ip_protection_request": {
        "type": "object",
        "properties": {
          "delete": {
            "type": "boolean",
            "description": "If true, prevents the Floating IP from being deleted"
          }
        }
      },
      "change_floating_ip_protection_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "change_image_protection_request": {
        "type": "object",
        "properties": {
          "delete": {
            "type": "boolean",
            "description": "If true, prevents the snapshot from being deleted"
          }
        }
      },
      "change_image_protection_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "change_ip_range_of_network_request": {
        "type": "object",
        "properties": {
          "ip_range": {
            "type": "string",
            "description": "The new prefix for the whole Network"
          }
        },
        "required": [
          "ip_range"
        ]
      },
      "change_ip_range_of_network_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "change_network_protection_request": {
        "type": "object",
        "properties": {
          "delete": {
            "type": "boolean",
            "description": "If true, prevents the Network from being deleted"
          }
        }
      },
      "change_network_protection_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "change_reverse_dns_entry_for_floating_ip_request": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string",
            "description": "IP address for which to set the reverse DNS entry"
          },
          "dns_ptr": {
            "type": "string",
            "description": "Hostname to set as a reverse DNS PTR entry, will reset to original default value if `null`",
            "nullable": true
          }
        },
        "required": [
          "ip",
          "dns_ptr"
        ]
      },
      "change_reverse_dns_entry_for_floating_ip_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "change_reverse_dns_entry_for_this_server_request": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string",
            "description": "Primary IP address for which the reverse DNS entry should be set"
          },
          "dns_ptr": {
            "type": "string",
            "description": "Hostname to set as a reverse DNS PTR entry, reset to original value if `null`",
            "nullable": true
          }
        },
        "required": [
          "ip",
          "dns_ptr"
        ]
      },
      "change_reverse_dns_entry_for_this_server_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "change_server_protection_request": {
        "type": "object",
        "properties": {
          "delete": {
            "type": "boolean",
            "description": "If true, prevents the Server from being deleted (currently delete and rebuild attribute needs to have the same value)"
          },
          "rebuild": {
            "type": "boolean",
            "description": "If true, prevents the Server from being rebuilt` (currently delete and rebuild attribute needs to have the same value)"
          }
        }
      },
      "change_server_protection_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "change_type_of_server_request": {
        "type": "object",
        "properties": {
          "upgrade_disk": {
            "type": "boolean",
            "description": "If false, do not upgrade the disk (this allows downgrading the Server type later)"
          },
          "server_type": {
            "type": "string",
            "description": "ID or name of Server type the Server should migrate to"
          }
        },
        "required": [
          "upgrade_disk",
          "server_type"
        ]
      },
      "change_type_of_server_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "change_volume_protection_request": {
        "type": "object",
        "properties": {
          "delete": {
            "type": "boolean",
            "description": "If true, prevents the Volume from being deleted"
          }
        }
      },
      "change_volume_protection_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "create_floating_ip_request": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "ipv4",
              "ipv6"
            ],
            "description": "Floating IP type"
          },
          "server": {
            "type": "integer",
            "description": "Server to assign the Floating IP to"
          },
          "home_location": {
            "type": "string",
            "description": "Home Location (routing is optimized for that Location). Only optional if Server argument is passed."
          },
          "description": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "object",
            "properties": {},
            "description": "User-defined labels (key-value pairs)"
          }
        },
        "required": [
          "type"
        ]
      },
      "create_floating_ip_response": {
        "type": "object",
        "properties": {
          "floating_ip": {
            "$ref": "#/components/schemas/floating_ip"
          },
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "floating_ip"
        ]
      },
      "create_image_from_server_request": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "Description of the Image, will be auto-generated if not set"
          },
          "type": {
            "type": "string",
            "enum": [
              "backup",
              "snapshot"
            ],
            "description": "Type of Image to create (default: `snapshot`)"
          },
          "labels": {
            "type": "object",
            "properties": {},
            "description": "User-defined labels (key-value pairs)"
          }
        }
      },
      "create_image_from_server_response": {
        "type": "object",
        "properties": {
          "image": {
            "$ref": "#/components/schemas/image"
          },
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "image",
          "action"
        ]
      },
      "create_network_request": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the network"
          },
          "ip_range": {
            "type": "string",
            "description": "IP range of the whole network which must span all included subnets. Must be one of the private IPv4 ranges of RFC1918. Minimum network size is /24. We highly recommend that you pick a larger network with a /16 netmask."
          },
          "labels": {
            "type": "object",
            "properties": {},
            "description": "User-defined labels (key-value pairs)"
          },
          "subnets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/subnet"
            },
            "description": "Array of subnets allocated."
          },
          "routes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/route"
            },
            "description": "Array of routes set in this network. The destination of the route must be one of the private IPv4 ranges of RFC1918. The gateway must be a subnet/IP of the ip_range of the network object. The destination must not overlap with an existing ip_range in any subnets or with any destinations in other routes or with the first IP of the networks ip_range or with 172.31.1.1. The gateway cannot be the first IP of the networks ip_range and also cannot be 172.31.1.1."
          }
        },
        "required": [
          "name",
          "ip_range"
        ]
      },
      "create_network_response": {
        "type": "object",
        "properties": {
          "network": {
            "$ref": "#/components/schemas/network"
          }
        },
        "required": [
          "network"
        ]
      },
      "create_server_request": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the Server to create (must be unique per Project and a valid hostname as per RFC 1123)"
          },
          "server_type": {
            "type": "string",
            "description": "ID or name of the Server type this Server should be created with"
          },
          "start_after_create": {
            "type": "boolean",
            "description": "Start Server right after creation. Defaults to true."
          },
          "image": {
            "type": "string",
            "description": "ID or name of the Image the Server is created from"
          },
          "ssh_keys": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "SSH key IDs or names which should be injected into the Server at creation time"
          },
          "volumes": {
            "type": "array",
            "description": "Volume IDs which should be attached to the Server at the creation time. Volumes must be in the same Location.",
            "items": {
              "type": "object",
              "properties": {}
            }
          },
          "networks": {
            "type": "array",
            "description": "Network IDs which should be attached to the Server private network interface at the creation time",
            "items": {
              "type": "object",
              "properties": {}
            }
          },
          "user_data": {
            "type": "string",
            "description": "Cloud-Init user data to use during Server creation. This field is limited to 32KiB."
          },
          "labels": {
            "type": "object",
            "properties": {},
            "description": "User-defined labels (key-value pairs)"
          },
          "automount": {
            "type": "boolean",
            "description": "Auto-mount Volumes after attach"
          }
        },
        "required": [
          "name",
          "server_type",
          "image"
        ],
        "oneOf": [
          {
            "properties": {
              "location": {
                "type": "string",
                "description": "ID or name of Location to create Server in"
              }
            }
          },
          {
            "properties": {
              "datacenter": {
                "type": "string",
                "description": "ID or name of Datacenter to create Server in"
              }
            }
          }
        ]
      },
      "create_server_response": {
        "type": "object",
        "properties": {
          "server": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "description": "ID of Server"
              },
              "name": {
                "type": "string",
                "description": "Name of the Server (must be unique per Project and a valid hostname as per RFC 1123)"
              },
              "status": {
                "type": "string",
                "enum": [
                  "deleting",
                  "initializing",
                  "migrating",
                  "off",
                  "rebuilding",
                  "running",
                  "starting",
                  "stopping"
                ],
                "description": "Status of the Server"
              },
              "created": {
                "type": "string",
                "description": "Point in time when the Server was created (in ISO-8601 format)"
              },
              "public_net": {
                "$ref": "#/components/schemas/public_net"
              },
              "private_net": {
                "type": "array",
                "description": "Private networks information",
                "items": {
                  "type": "object",
                  "properties": {}
                }
              },
              "server_type": {
                "$ref": "#/components/schemas/server_type"
              },
              "datacenter": {
                "$ref": "#/components/schemas/datacenter"
              },
              "image": {
                "$ref": "#/components/schemas/image_optional"
              },
              "iso": {
                "$ref": "#/components/schemas/iso_optional"
              },
              "rescue_enabled": {
                "type": "boolean",
                "description": "True if rescue mode is enabled: Server will then boot into rescue system on next reboot"
              },
              "locked": {
                "type": "boolean",
                "description": "True if Server has been locked and is not available to user"
              },
              "backup_window": {
                "type": "string",
                "description": "Time window (UTC) in which the backup will run, or null if the backups are not enabled",
                "nullable": true
              },
              "outgoing_traffic": {
                "type": "integer",
                "description": "Outbound Traffic for the current billing period in bytes",
                "nullable": true,
                "format": "int64"
              },
              "ingoing_traffic": {
                "type": "integer",
                "description": "Inbound Traffic for the current billing period in bytes",
                "nullable": true,
                "format": "int64"
              },
              "included_traffic": {
                "type": "integer",
                "description": "Free Traffic for the current billing period in bytes",
                "format": "int64"
              },
              "protection": {
                "$ref": "#/components/schemas/protection"
              },
              "labels": {
                "type": "object",
                "properties": {},
                "description": "User-defined labels (key-value pairs)"
              },
              "volumes": {
                "type": "array",
                "description": "IDs of Volumes assigned to this Server",
                "items": {
                  "type": "object",
                  "properties": {}
                }
              }
            },
            "required": [
              "id",
              "name",
              "status",
              "created",
              "public_net",
              "private_net",
              "server_type",
              "datacenter",
              "image",
              "iso",
              "rescue_enabled",
              "locked",
              "backup_window",
              "outgoing_traffic",
              "ingoing_traffic",
              "included_traffic",
              "protection",
              "labels"
            ]
          },
          "action": {
            "$ref": "#/components/schemas/action"
          },
          "next_actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/action"
            }
          },
          "root_password": {
            "type": "string",
            "description": "Root password when no SSH keys have been specified",
            "nullable": true
          }
        },
        "required": [
          "server",
          "action",
          "next_actions",
          "root_password"
        ]
      },
      "create_ssh_key_request": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the SSH key"
          },
          "public_key": {
            "type": "string",
            "description": "Public key"
          },
          "labels": {
            "type": "object",
            "properties": {},
            "description": "User-defined labels (key-value pairs)"
          }
        },
        "required": [
          "name",
          "public_key"
        ]
      },
      "create_ssh_key_response": {
        "type": "object",
        "properties": {
          "ssh_key": {
            "$ref": "#/components/schemas/ssh_key"
          }
        },
        "required": [
          "ssh_key"
        ]
      },
      "create_volume_request": {
        "type": "object",
        "properties": {
          "size": {
            "type": "number",
            "description": "Size of the Volume in GB"
          },
          "name": {
            "type": "string",
            "description": "Name of the volume"
          },
          "labels": {
            "type": "object",
            "properties": {},
            "description": "User-defined labels (key-value pairs)"
          },
          "automount": {
            "type": "boolean",
            "description": "Auto-mount Volume after attach. `server` must be provided."
          },
          "format": {
            "type": "string",
            "description": "Format Volume after creation. One of: `xfs`, `ext4`"
          }
        },
        "required": [
          "size",
          "name"
        ],
        "oneOf": [
          {
            "properties": {
              "location": {
                "type": "string",
                "description": "Location to create the Volume in (can be omitted if Server is specified)"
              }
            }
          },
          {
            "properties": {
              "server": {
                "type": "number",
                "description": "Server to which to attach the Volume once it's created (Volume will be created in the same Location as the server)"
              }
            }
          }
        ]
      },
      "create_volume_response": {
        "type": "object",
        "properties": {
          "volume": {
            "$ref": "#/components/schemas/volume"
          },
          "action": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "description": "ID of the Action"
              },
              "command": {
                "type": "string",
                "description": "Command executed in the Action"
              },
              "status": {
                "type": "string",
                "enum": [
                  "error",
                  "running",
                  "success"
                ],
                "description": "Status of the Action"
              },
              "progress": {
                "type": "number",
                "description": "Progress of Action in percent"
              },
              "started": {
                "type": "string",
                "description": "Point in time when the Action was started (in ISO-8601 format)"
              },
              "finished": {
                "type": "string",
                "description": "Point in time when the Action was finished (in ISO-8601 format). Only set if the Action is finished otherwise null.",
                "nullable": true
              },
              "resources": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/resource"
                },
                "description": "Resources the Action relates to"
              },
              "error": {
                "$ref": "#/components/schemas/error"
              }
            },
            "required": [
              "id",
              "command",
              "status",
              "progress",
              "started",
              "finished",
              "resources",
              "error"
            ],
            "additionalProperties": false
          },
          "next_actions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "required": [
          "volume",
          "action",
          "next_actions"
        ]
      },
      "created_from": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the Server the Image was created from"
          },
          "name": {
            "type": "string",
            "description": "Server name at the time the Image was created"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "description": "Information about the Server the Image was created from",
        "nullable": true
      },
      "datacenter": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the Datacenter"
          },
          "name": {
            "type": "string",
            "description": "Unique identifier of the Datacenter"
          },
          "description": {
            "type": "string",
            "description": "Description of the Datacenter"
          },
          "location": {
            "$ref": "#/components/schemas/location"
          },
          "server_types": {
            "type": "object",
            "properties": {
              "supported": {
                "type": "array",
                "items": {
                  "type": "integer"
                },
                "description": "IDs of Server types that are supported in the Datacenter"
              },
              "available": {
                "type": "array",
                "items": {
                  "type": "integer"
                },
                "description": "IDs of Server types that are supported and for which the Datacenter has enough resources left"
              },
              "available_for_migration": {
                "type": "array",
                "items": {
                  "type": "integer"
                },
                "description": "IDs of Server types that are supported and for which the Datacenter has enough resources left"
              }
            },
            "required": [
              "supported",
              "available",
              "available_for_migration"
            ],
            "description": "The Server types the Datacenter can handle"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "location",
          "server_types"
        ],
        "description": "Datacenter this Server is located at"
      },
      "delete_route_from_network_request": {
        "$ref": "#/components/schemas/route"
      },
      "delete_route_from_network_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "delete_server_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "delete_subnet_from_network_request": {
        "type": "object",
        "properties": {
          "ip_range": {
            "type": "string",
            "description": "IP range of subnet to delete"
          }
        },
        "required": [
          "ip_range"
        ]
      },
      "delete_subnet_from_network_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "detach_iso_from_server_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "detach_server_from_network_request": {
        "type": "object",
        "properties": {
          "network": {
            "type": "integer",
            "description": "ID of an existing network to detach the Server from"
          }
        },
        "required": [
          "network"
        ]
      },
      "detach_server_from_network_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "detach_volume_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "disable_backups_for_server_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "disable_rescue_mode_for_server_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "dns_ptr": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string",
            "description": "Single IPv4 or IPv6 address | Single IPv6 address of this Server for which the reverse DNS entry has been set up"
          },
          "dns_ptr": {
            "type": "string",
            "description": "DNS pointer for the specific IP address"
          }
        },
        "required": [
          "ip",
          "dns_ptr"
        ]
      },
      "enable_and_configure_backups_for_server_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "enable_rescue_mode_for_server_request": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "freebsd64",
              "linux32",
              "linux64"
            ],
            "description": "Type of rescue system to boot (default: `linux64`)"
          },
          "ssh_keys": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Array of SSH key IDs which should be injected into the rescue system. Only available for types: `linux64` and `linux32`."
          }
        }
      },
      "enable_rescue_mode_for_server_response": {
        "type": "object",
        "properties": {
          "root_password": {
            "type": "string",
            "description": "Root Password for Server once it gets booted in rescue mode"
          },
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Fixed machine readable code"
          },
          "message": {
            "type": "string",
            "description": "Humanized error message"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "description": "Error message for the Action if error occurred, otherwise null",
        "nullable": true
      },
      "floating_ip": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the Floating IP"
          },
          "name": {
            "type": "string",
            "description": "Unique name of the Floating IP"
          },
          "description": {
            "type": "string",
            "description": "Description of the Floating IP",
            "nullable": true
          },
          "ip": {
            "type": "string",
            "description": "IP address of the Floating IP"
          },
          "type": {
            "type": "string",
            "enum": [
              "ipv4",
              "ipv6"
            ],
            "description": "Type of the Floating IP"
          },
          "server": {
            "type": "integer",
            "description": "ID of the Server the Floating IP is assigned to, null if it is not assigned at all",
            "nullable": true
          },
          "dns_ptr": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/dns_ptr"
            },
            "description": "Array of reverse DNS entries"
          },
          "home_location": {
            "$ref": "#/components/schemas/location"
          },
          "blocked": {
            "type": "boolean",
            "description": "Whether the IP is blocked"
          },
          "protection": {
            "type": "object",
            "properties": {
              "delete": {
                "type": "boolean",
                "description": "If true, prevents the Floating IP from being deleted"
              }
            },
            "required": [
              "delete"
            ],
            "description": "Protection configuration for the Floating IP"
          },
          "labels": {
            "type": "object",
            "properties": {},
            "description": "User-defined labels (key-value pairs)"
          },
          "created": {
            "type": "string",
            "description": "Point in time when the Floating IP was created (in ISO-8601 format)"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "ip",
          "type",
          "server",
          "dns_ptr",
          "home_location",
          "blocked",
          "protection",
          "labels",
          "created"
        ]
      },
      "get_action_for_floating_ip_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "get_action_for_image_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "get_action_for_network_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "get_action_for_server_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "get_action_for_volume_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "get_action_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "get_datacenter_response": {
        "type": "object",
        "properties": {
          "datacenter": {
            "$ref": "#/components/schemas/datacenter"
          }
        },
        "required": [
          "datacenter"
        ]
      },
      "get_image_response": {
        "type": "object",
        "properties": {
          "image": {
            "$ref": "#/components/schemas/image"
          }
        },
        "required": [
          "image"
        ]
      },
      "get_iso_response": {
        "type": "object",
        "properties": {
          "iso": {
            "$ref": "#/components/schemas/iso"
          }
        },
        "required": [
          "iso"
        ]
      },
      "get_location_response": {
        "type": "object",
        "properties": {
          "location": {
            "$ref": "#/components/schemas/location"
          }
        },
        "required": [
          "location"
        ]
      },
      "get_metrics_for_server_response": {
        "type": "object",
        "properties": {
          "metrics": {
            "type": "object",
            "properties": {
              "start": {
                "type": "string",
                "description": "Start of period of metrics reported (in ISO-8601 format)"
              },
              "end": {
                "type": "string",
                "description": "End of period of metrics reported (in ISO-8601 format)"
              },
              "step": {
                "type": "integer",
                "description": "Resolution of results in seconds."
              },
              "time_series": {
                "type": "object",
                "x-patternProperties": {
                  "": {
                    "type": "object",
                    "properties": {
                      "values": {
                        "type": "array",
                        "items": {
                          "type": "array"
                        },
                        "description": "Metrics Timestamps with values"
                      }
                    },
                    "required": [
                      "values"
                    ]
                  }
                },
                "additionalProperties": true
              }
            },
            "required": [
              "start",
              "end",
              "step",
              "time_series"
            ]
          }
        },
        "required": [
          "metrics"
        ]
      },
      "get_network_response": {
        "type": "object",
        "properties": {
          "network": {
            "$ref": "#/components/schemas/network"
          }
        },
        "required": [
          "network"
        ]
      },
      "get_server_response": {
        "type": "object",
        "properties": {
          "server": {
            "$ref": "#/components/schemas/server"
          }
        },
        "required": [
          "server"
        ]
      },
      "get_server_type_response": {
        "type": "object",
        "properties": {
          "server_type": {
            "$ref": "#/components/schemas/server_type"
          }
        },
        "required": [
          "server_type"
        ]
      },
      "get_specific_floating_ip_response": {
        "type": "object",
        "properties": {
          "floating_ip": {
            "$ref": "#/components/schemas/floating_ip"
          }
        },
        "required": [
          "floating_ip"
        ]
      },
      "get_ssh_key_response": {
        "type": "object",
        "properties": {
          "ssh_key": {
            "$ref": "#/components/schemas/ssh_key"
          }
        },
        "required": [
          "ssh_key"
        ]
      },
      "get_volume_response": {
        "type": "object",
        "properties": {
          "volume": {
            "$ref": "#/components/schemas/volume"
          }
        },
        "required": [
          "volume"
        ]
      },
      "image": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the Image"
          },
          "type": {
            "type": "string",
            "enum": [
              "backup",
              "snapshot",
              "system"
            ],
            "description": "Type of the Image"
          },
          "status": {
            "type": "string",
            "enum": [
              "available",
              "creating"
            ],
            "description": "Whether the Image can be used or if it's still being created"
          },
          "name": {
            "type": "string",
            "description": "Unique identifier of the Image. This value is only set for system Images.",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Description of the Image"
          },
          "image_size": {
            "type": "number",
            "description": "Size of the Image file in our storage in GB. For snapshot Images this is the value relevant for calculating costs for the Image.",
            "nullable": true
          },
          "disk_size": {
            "type": "number",
            "description": "Size of the disk contained in the Image in GB"
          },
          "created": {
            "type": "string",
            "description": "Point in time when the Image was created (in ISO-8601 format)"
          },
          "created_from": {
            "$ref": "#/components/schemas/created_from"
          },
          "bound_to": {
            "type": "integer",
            "description": "ID of Server the Image is bound to. Only set for Images of type `backup`.",
            "nullable": true
          },
          "os_flavor": {
            "type": "string",
            "enum": [
              "centos",
              "debian",
              "fedora",
              "ubuntu",
              "unknown"
            ],
            "description": "Flavor of operating system contained in the Image"
          },
          "os_version": {
            "type": "string",
            "description": "Operating system version",
            "nullable": true
          },
          "rapid_deploy": {
            "type": "boolean",
            "description": "Indicates that rapid deploy of the Image is available"
          },
          "protection": {
            "type": "object",
            "properties": {
              "delete": {
                "type": "boolean",
                "description": "If true, prevents the snapshot from being deleted"
              }
            },
            "required": [
              "delete"
            ],
            "description": "Protection configuration for the Image"
          },
          "deprecated": {
            "type": "string",
            "description": "Point in time when the Image is considered to be deprecated (in ISO-8601 format)",
            "nullable": true
          },
          "labels": {
            "type": "object",
            "properties": {},
            "description": "User-defined labels (key-value pairs)"
          }
        },
        "required": [
          "id",
          "type",
          "status",
          "name",
          "description",
          "image_size",
          "disk_size",
          "created",
          "created_from",
          "bound_to",
          "os_flavor",
          "os_version",
          "protection",
          "deprecated",
          "labels"
        ],
        "description": "The newly created Image"
      },
      "image_optional": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the Image"
          },
          "type": {
            "type": "string",
            "enum": [
              "backup",
              "snapshot",
              "system"
            ],
            "description": "Type of the Image"
          },
          "status": {
            "type": "string",
            "enum": [
              "available",
              "creating"
            ],
            "description": "Whether the Image can be used or if it's still being created"
          },
          "name": {
            "type": "string",
            "description": "Unique identifier of the Image. This value is only set for system Images.",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Description of the Image"
          },
          "image_size": {
            "type": "number",
            "description": "Size of the Image file in our storage in GB. For snapshot Images this is the value relevant for calculating costs for the Image.",
            "nullable": true
          },
          "disk_size": {
            "type": "number",
            "description": "Size of the disk contained in the Image in GB"
          },
          "created": {
            "type": "string",
            "description": "Point in time when the Image was created (in ISO-8601 format)"
          },
          "created_from": {
            "$ref": "#/components/schemas/created_from"
          },
          "bound_to": {
            "type": "integer",
            "description": "ID of Server the Image is bound to. Only set for Images of type `backup`.",
            "nullable": true
          },
          "os_flavor": {
            "type": "string",
            "enum": [
              "centos",
              "debian",
              "fedora",
              "ubuntu",
              "unknown"
            ],
            "description": "Flavor of operating system contained in the Image"
          },
          "os_version": {
            "type": "string",
            "description": "Operating system version",
            "nullable": true
          },
          "rapid_deploy": {
            "type": "boolean",
            "description": "Indicates that rapid deploy of the Image is available"
          },
          "protection": {
            "type": "object",
            "properties": {
              "delete": {
                "type": "boolean",
                "description": "If true, prevents the snapshot from being deleted"
              }
            },
            "required": [
              "delete"
            ],
            "description": "Protection configuration for the Image"
          },
          "deprecated": {
            "type": "string",
            "description": "Point in time when the Image is considered to be deprecated (in ISO-8601 format)",
            "nullable": true
          },
          "labels": {
            "type": "object",
            "properties": {},
            "description": "User-defined labels (key-value pairs)"
          }
        },
        "required": [
          "id",
          "type",
          "status",
          "name",
          "description",
          "image_size",
          "disk_size",
          "created",
          "created_from",
          "bound_to",
          "os_flavor",
          "os_version",
          "protection",
          "deprecated",
          "labels"
        ],
        "description": "Image this Server was created from",
        "nullable": true
      },
      "ipv4": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string",
            "description": "IP address (v4) of this Server"
          },
          "blocked": {
            "type": "boolean",
            "description": "If the IP is blocked by our anti abuse dept"
          },
          "dns_ptr": {
            "type": "string",
            "description": "Reverse DNS PTR entry for the IPv4 addresses of this Server"
          }
        },
        "required": [
          "ip",
          "blocked",
          "dns_ptr"
        ],
        "description": "IP address (v4) and its reverse DNS entry of this Server"
      },
      "ipv6": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string",
            "description": "IP address (v4) of this Server"
          },
          "blocked": {
            "type": "boolean",
            "description": "If the IP is blocked by our anti abuse dept"
          },
          "dns_ptr": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/dns_ptr"
            },
            "description": "Reverse DNS PTR entries for the IPv6 addresses of this Server, `null` by default",
            "nullable": true
          }
        },
        "required": [
          "ip",
          "blocked",
          "dns_ptr"
        ],
        "description": "IPv6 network assigned to this Server and its reverse DNS entry"
      },
      "iso": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the ISO"
          },
          "name": {
            "type": "string",
            "description": "Unique identifier of the ISO. Only set for public ISOs",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Description of the ISO"
          },
          "type": {
            "type": "string",
            "enum": [
              "private",
              "public"
            ],
            "description": "Type of the ISO"
          },
          "deprecated": {
            "type": "string",
            "description": "ISO 8601 timestamp of deprecation, null if ISO is still available. After the deprecation time it will no longer be possible to attach the ISO to Servers.",
            "nullable": true
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "type",
          "deprecated"
        ]
      },
      "iso_optional": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the ISO"
          },
          "name": {
            "type": "string",
            "description": "Unique identifier of the ISO. Only set for public ISOs",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Description of the ISO"
          },
          "type": {
            "type": "string",
            "enum": [
              "private",
              "public"
            ],
            "description": "Type of the ISO"
          },
          "deprecated": {
            "type": "string",
            "description": "ISO 8601 timestamp of deprecation, null if ISO is still available. After the deprecation time it will no longer be possible to attach the ISO to Servers.",
            "nullable": true
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "type",
          "deprecated"
        ],
        "description": "ISO Image that is attached to this Server. Null if no ISO is attached.",
        "nullable": true
      },
      "list_actions_for_floating_ip_response": {
        "type": "object",
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/action"
            }
          }
        },
        "required": [
          "actions"
        ]
      },
      "list_actions_for_image_response": {
        "type": "object",
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/action"
            }
          }
        },
        "required": [
          "actions"
        ]
      },
      "list_actions_for_network_response": {
        "type": "object",
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/action"
            }
          }
        },
        "required": [
          "actions"
        ]
      },
      "list_actions_for_server_response": {
        "type": "object",
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/action"
            }
          }
        },
        "required": [
          "actions"
        ]
      },
      "list_actions_for_volume_response": {
        "type": "object",
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/action"
            }
          }
        },
        "required": [
          "actions"
        ]
      },
      "list_all_actions_response": {
        "type": "object",
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/action"
            }
          }
        },
        "required": [
          "actions"
        ]
      },
      "list_datacenters_response": {
        "type": "object",
        "properties": {
          "datacenters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/datacenter"
            }
          },
          "recommendation": {
            "type": "integer",
            "description": "The Datacenter which is recommended to be used to create new Servers."
          }
        },
        "required": [
          "datacenters",
          "recommendation"
        ]
      },
      "list_floating_ips_response": {
        "type": "object",
        "properties": {
          "floating_ips": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/floating_ip"
            }
          }
        },
        "required": [
          "floating_ips"
        ]
      },
      "list_images_response": {
        "type": "object",
        "properties": {
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/image"
            }
          }
        },
        "required": [
          "images"
        ]
      },
      "list_isos_response": {
        "type": "object",
        "properties": {
          "isos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/iso"
            }
          }
        },
        "required": [
          "isos"
        ]
      },
      "list_locations_response": {
        "type": "object",
        "properties": {
          "locations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/location"
            }
          }
        },
        "required": [
          "locations"
        ]
      },
      "list_networks_response": {
        "type": "object",
        "properties": {
          "networks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/network"
            }
          }
        },
        "required": [
          "networks"
        ]
      },
      "list_prices_response": {
        "type": "object",
        "properties": {
          "pricing": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "Currency the returned prices are expressed in, coded according to ISO 4217"
              },
              "vat_rate": {
                "type": "string",
                "description": "The VAT rate used for calculating prices with VAT"
              },
              "image": {
                "type": "object",
                "properties": {
                  "price_per_gb_month": {
                    "$ref": "#/components/schemas/price"
                  }
                },
                "required": [
                  "price_per_gb_month"
                ],
                "description": "The cost of Image per GB/month"
              },
              "floating_ip": {
                "type": "object",
                "properties": {
                  "price_monthly": {
                    "$ref": "#/components/schemas/price"
                  }
                },
                "required": [
                  "price_monthly"
                ],
                "description": "The cost of one Floating IP per month"
              },
              "traffic": {
                "type": "object",
                "properties": {
                  "price_per_tb": {
                    "$ref": "#/components/schemas/price"
                  }
                },
                "required": [
                  "price_per_tb"
                ],
                "description": "The cost of additional traffic per TB"
              },
              "server_backup": {
                "type": "object",
                "properties": {
                  "percentage": {
                    "type": "string",
                    "description": "Percentage by how much the base price will increase"
                  }
                },
                "required": [
                  "percentage"
                ],
                "description": "Will increase base Server costs by specific percentage"
              },
              "volume": {
                "type": "object",
                "properties": {
                  "price_per_gb_month": {
                    "$ref": "#/components/schemas/price"
                  }
                },
                "required": [
                  "price_per_gb_month"
                ],
                "description": "The cost of Volume per GB/month"
              },
              "server_types": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of the Server type the price is for"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the Server type the price is for"
                    },
                    "prices": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/price_per_time"
                      },
                      "description": "Server type costs per Location"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "prices"
                  ]
                },
                "description": "Costs of Server types per Location and type"
              }
            },
            "required": [
              "currency",
              "vat_rate",
              "image",
              "floating_ip",
              "traffic",
              "server_backup",
              "volume",
              "server_types"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "pricing"
        ]
      },
      "list_server_types_response": {
        "type": "object",
        "properties": {
          "server_types": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/server_type"
            }
          }
        },
        "required": [
          "server_types"
        ]
      },
      "list_servers_response": {
        "type": "object",
        "properties": {
          "servers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/server"
            }
          }
        },
        "required": [
          "servers"
        ]
      },
      "list_ssh_keys_response": {
        "type": "object",
        "properties": {
          "ssh_keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ssh_key"
            }
          }
        },
        "required": [
          "ssh_keys"
        ]
      },
      "list_volumes_response": {
        "type": "object",
        "properties": {
          "volumes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/volume"
            }
          }
        },
        "required": [
          "volumes"
        ]
      },
      "location": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the Location"
          },
          "name": {
            "type": "string",
            "description": "Unique identifier of the Location"
          },
          "description": {
            "type": "string",
            "description": "Description of the Location"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 code of the country the Location resides in"
          },
          "city": {
            "type": "string",
            "description": "City the Location is closest to"
          },
          "latitude": {
            "type": "number",
            "description": "Latitude of the city closest to the Location"
          },
          "longitude": {
            "type": "number",
            "description": "Longitude of the city closest to the Location"
          },
          "network_zone": {
            "type": "string",
            "description": "Name of network zone this Location resides in"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "country",
          "city",
          "latitude",
          "longitude",
          "network_zone"
        ],
        "description": "Location where the Datacenter resides in | Location the Floating IP was created in. Routing is optimized for this Location. | Location of the Volume. Volume can only be attached to Servers in the same Location."
      },
      "network": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the Network"
          },
          "name": {
            "type": "string",
            "description": "Name of the Network"
          },
          "ip_range": {
            "type": "string",
            "description": "IPv4 prefix of the whole Network"
          },
          "subnets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/subnet_with_gateway"
            },
            "description": "Array subnets allocated in this Network"
          },
          "routes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/route"
            },
            "description": "Array of routes set in this Network"
          },
          "servers": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Array of IDs of Servers attached to this Network"
          },
          "protection": {
            "type": "object",
            "properties": {
              "delete": {
                "type": "boolean",
                "description": "If true, prevents the Network from being deleted"
              }
            },
            "required": [
              "delete"
            ],
            "description": "Protection configuration for the Network"
          },
          "labels": {
            "type": "object",
            "properties": {},
            "description": "User-defined labels (key-value pairs)"
          },
          "created": {
            "type": "string",
            "description": "Point in time when the Network was created (in ISO-8601 format)"
          }
        },
        "required": [
          "id",
          "name",
          "ip_range",
          "subnets",
          "routes",
          "servers",
          "protection",
          "labels",
          "created"
        ]
      },
      "power_off_server_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "power_on_server_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "price": {
        "type": "object",
        "properties": {
          "net": {
            "type": "string",
            "description": "Price without VAT",
            "format": "decimal"
          },
          "gross": {
            "type": "string",
            "description": "Price with VAT added",
            "format": "decimal"
          }
        },
        "required": [
          "net",
          "gross"
        ],
        "description": "Hourly costs for a Server type in this Location | Monthly costs for a Server type in this Location"
      },
      "price_per_time": {
        "type": "object",
        "properties": {
          "location": {
            "type": "string",
            "description": "Name of the Location the price is for"
          },
          "price_hourly": {
            "$ref": "#/components/schemas/price"
          },
          "price_monthly": {
            "$ref": "#/components/schemas/price"
          }
        },
        "required": [
          "location",
          "price_hourly",
          "price_monthly"
        ]
      },
      "protection": {
        "type": "object",
        "properties": {
          "delete": {
            "type": "boolean",
            "description": "If true, prevents the Server from being deleted"
          },
          "rebuild": {
            "type": "boolean",
            "description": "If true, prevents the Server from being rebuilt"
          }
        },
        "required": [
          "delete",
          "rebuild"
        ],
        "description": "Protection configuration for the Server"
      },
      "public_net": {
        "type": "object",
        "properties": {
          "ipv4": {
            "$ref": "#/components/schemas/ipv4"
          },
          "ipv6": {
            "$ref": "#/components/schemas/ipv6"
          },
          "floating_ips": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "IDs of Floating IPs assigned to this Server"
          }
        },
        "required": [
          "ipv4",
          "ipv6",
          "floating_ips"
        ],
        "description": "Public network information. The Server's IPv4 address can be found in `public_net->ipv4->ip`"
      },
      "rebuild_server_from_image_request": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string",
            "description": "ID or name of Image to rebuilt from."
          }
        },
        "required": [
          "image"
        ]
      },
      "rebuild_server_from_image_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          },
          "root_password": {
            "type": "string",
            "description": "New root password when not using SSH keys",
            "nullable": true
          }
        },
        "required": [
          "action",
          "root_password"
        ]
      },
      "replace_floating_ip_request": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "New unique name to set"
          },
          "description": {
            "type": "string",
            "description": "New Description to set"
          },
          "labels": {
            "type": "object",
            "properties": {
              "labelkey": {
                "type": "string"
              }
            },
            "description": "User-defined labels (key-value pairs)"
          }
        }
      },
      "replace_floating_ip_response": {
        "type": "object",
        "properties": {
          "floating_ip": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "description": "ID of the Floating IP"
              },
              "name": {
                "type": "string",
                "description": "Unique name of the Floating IP"
              },
              "description": {
                "type": "string",
                "description": "Description of the Floating IP",
                "nullable": true
              },
              "ip": {
                "type": "string",
                "description": "IP address of the Floating IP"
              },
              "type": {
                "type": "string",
                "enum": [
                  "ipv4",
                  "ipv6"
                ],
                "description": "Type of the Floating IP"
              },
              "server": {
                "type": "integer",
                "description": "ID of the Server the Floating IP is assigned to, null if it is not assigned at all",
                "nullable": true
              },
              "dns_ptr": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/dns_ptr"
                },
                "description": "Array of reverse DNS entries"
              },
              "home_location": {
                "$ref": "#/components/schemas/location"
              },
              "blocked": {
                "type": "boolean",
                "description": "Whether the IP is blocked"
              },
              "protection": {
                "type": "object",
                "properties": {
                  "delete": {
                    "type": "boolean",
                    "description": "If true, prevents the Floating IP from being deleted"
                  }
                },
                "required": [
                  "delete"
                ],
                "description": "Protection configuration for the Floating IP"
              },
              "labels": {
                "type": "object",
                "properties": {
                  "labelkey": {
                    "type": "string",
                    "description": "New label"
                  }
                },
                "description": "User-defined labels (key-value pairs)"
              },
              "created": {
                "type": "string",
                "description": "Point in time when the Floating IP was created (in ISO-8601 format)"
              }
            },
            "required": [
              "id",
              "name",
              "description",
              "ip",
              "type",
              "server",
              "dns_ptr",
              "home_location",
              "blocked",
              "protection",
              "labels",
              "created"
            ]
          }
        },
        "required": [
          "floating_ip"
        ]
      },
      "replace_image_request": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "New description of Image"
          },
          "type": {
            "type": "string",
            "enum": [
              "snapshot"
            ],
            "description": "Destination Image type to convert to"
          },
          "labels": {
            "type": "object",
            "properties": {
              "labelkey": {
                "type": "string"
              }
            },
            "description": "User-defined labels (key-value pairs)"
          }
        }
      },
      "replace_image_response": {
        "type": "object",
        "properties": {
          "image": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "description": "ID of the Image"
              },
              "type": {
                "type": "string",
                "enum": [
                  "backup",
                  "snapshot",
                  "system"
                ],
                "description": "Type of the Image"
              },
              "status": {
                "type": "string",
                "enum": [
                  "available",
                  "creating"
                ],
                "description": "Whether the Image can be used or if it's still being created"
              },
              "name": {
                "type": "string",
                "description": "Unique identifier of the Image. This value is only set for system Images.",
                "nullable": true
              },
              "description": {
                "type": "string",
                "description": "Description of the Image"
              },
              "image_size": {
                "type": "number",
                "description": "Size of the Image file in our storage in GB. For snapshot Images this is the value relevant for calculating costs for the Image.",
                "nullable": true
              },
              "disk_size": {
                "type": "number",
                "description": "Size of the disk contained in the Image in GB"
              },
              "created": {
                "type": "string",
                "description": "Point in time when the Image was created (in ISO-8601 format)"
              },
              "created_from": {
                "$ref": "#/components/schemas/created_from"
              },
              "bound_to": {
                "type": "integer",
                "description": "ID of Server the Image is bound to. Only set for Images of type `backup`.",
                "nullable": true
              },
              "os_flavor": {
                "type": "string",
                "enum": [
                  "centos",
                  "debian",
                  "fedora",
                  "ubuntu",
                  "unknown"
                ],
                "description": "Flavor of operating system contained in the Image"
              },
              "os_version": {
                "type": "string",
                "description": "Operating system version",
                "nullable": true
              },
              "rapid_deploy": {
                "type": "boolean",
                "description": "Indicates that rapid deploy of the Image is available"
              },
              "protection": {
                "type": "object",
                "properties": {
                  "delete": {
                    "type": "boolean",
                    "description": "If true, prevents the snapshot from being deleted"
                  }
                },
                "required": [
                  "delete"
                ],
                "description": "Protection configuration for the Image"
              },
              "deprecated": {
                "type": "string",
                "description": "Point in time when the Image is considered to be deprecated (in ISO-8601 format)",
                "nullable": true
              },
              "labels": {
                "type": "object",
                "properties": {
                  "labelkey": {
                    "type": "string",
                    "description": "New label"
                  }
                },
                "description": "User-defined labels (key-value pairs)"
              }
            },
            "required": [
              "id",
              "type",
              "status",
              "name",
              "description",
              "image_size",
              "disk_size",
              "created",
              "created_from",
              "bound_to",
              "os_flavor",
              "os_version",
              "protection",
              "deprecated",
              "labels"
            ]
          }
        }
      },
      "replace_network_request": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "New network name"
          },
          "labels": {
            "type": "object",
            "properties": {
              "labelkey": {
                "type": "string"
              }
            },
            "description": "User-defined labels (key-value pairs)"
          }
        }
      },
      "replace_network_response": {
        "type": "object",
        "properties": {
          "network": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "description": "ID of the Network"
              },
              "name": {
                "type": "string",
                "description": "Name of the network"
              },
              "ip_range": {
                "type": "string",
                "description": "IPv4 prefix of the whole Network"
              },
              "subnets": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/subnet_with_gateway"
                },
                "description": "Array subnets allocated in this Network"
              },
              "routes": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/route"
                },
                "description": "Array of routes set in this Network"
              },
              "servers": {
                "type": "array",
                "items": {
                  "type": "integer"
                },
                "description": "Array of IDs of Servers attached to this Network"
              },
              "protection": {
                "type": "object",
                "properties": {
                  "delete": {
                    "type": "boolean",
                    "description": "If true, prevents the Network from being deleted"
                  }
                },
                "required": [
                  "delete"
                ],
                "description": "Protection configuration for the Network"
              },
              "labels": {
                "type": "object",
                "properties": {
                  "labelkey": {
                    "type": "string",
                    "description": "New label"
                  }
                },
                "description": "User-defined labels (key-value pairs)"
              },
              "created": {
                "type": "string",
                "description": "Point in time when the Network was created (in ISO-8601 format)"
              }
            },
            "required": [
              "id",
              "name",
              "ip_range",
              "subnets",
              "routes",
              "servers",
              "protection",
              "created"
            ]
          }
        },
        "required": [
          "network"
        ]
      },
      "replace_server_request": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "New name to set"
          },
          "labels": {
            "type": "object",
            "properties": {
              "labelkey": {
                "type": "string"
              }
            },
            "description": "User-defined labels (key-value pairs)"
          }
        }
      },
      "replace_server_response": {
        "type": "object",
        "properties": {
          "server": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "description": "ID of Server"
              },
              "name": {
                "type": "string",
                "description": "Server name"
              },
              "status": {
                "type": "string",
                "enum": [
                  "deleting",
                  "initializing",
                  "migrating",
                  "off",
                  "rebuilding",
                  "running",
                  "starting",
                  "stopping",
                  "unknown"
                ],
                "description": "Status of the Server"
              },
              "created": {
                "type": "string",
                "description": "Point in time when the Server was created (in ISO-8601 format)"
              },
              "public_net": {
                "$ref": "#/components/schemas/public_net"
              },
              "private_net": {
                "type": "array",
                "description": "Private networks information",
                "items": {
                  "type": "object",
                  "properties": {}
                }
              },
              "server_type": {
                "$ref": "#/components/schemas/server_type"
              },
              "datacenter": {
                "$ref": "#/components/schemas/datacenter"
              },
              "image": {
                "$ref": "#/components/schemas/image_optional"
              },
              "iso": {
                "$ref": "#/components/schemas/iso_optional"
              },
              "rescue_enabled": {
                "type": "boolean",
                "description": "True if rescue mode is enabled: Server will then boot into rescue system on next reboot"
              },
              "locked": {
                "type": "boolean",
                "description": "True if Server has been locked and is not available to user"
              },
              "backup_window": {
                "type": "string",
                "description": "Time window (UTC) in which the backup will run, or null if the backups are not enabled",
                "nullable": true
              },
              "outgoing_traffic": {
                "type": "integer",
                "description": "Outbound Traffic for the current billing period in bytes",
                "nullable": true,
                "format": "int64"
              },
              "ingoing_traffic": {
                "type": "integer",
                "description": "Inbound Traffic for the current billing period in bytes",
                "nullable": true,
                "format": "int64"
              },
              "included_traffic": {
                "type": "integer",
                "description": "Free Traffic for the current billing period in bytes",
                "format": "int64"
              },
              "protection": {
                "$ref": "#/components/schemas/protection"
              },
              "labels": {
                "type": "object",
                "properties": {
                  "labelkey": {
                    "type": "string",
                    "description": "New label"
                  }
                },
                "description": "User-defined labels (key-value pairs)"
              },
              "volumes": {
                "type": "array",
                "description": "IDs of Volumes assigned to this Server",
                "items": {
                  "type": "object",
                  "properties": {}
                }
              }
            },
            "required": [
              "id",
              "name",
              "status",
              "created",
              "public_net",
              "private_net",
              "server_type",
              "datacenter",
              "image",
              "iso",
              "rescue_enabled",
              "locked",
              "backup_window",
              "outgoing_traffic",
              "ingoing_traffic",
              "included_traffic",
              "protection"
            ]
          }
        },
        "required": [
          "server"
        ]
      },
      "replace_ssh_key_request": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "New name Name to set"
          },
          "labels": {
            "type": "object",
            "properties": {
              "labelkey": {
                "type": "string"
              }
            },
            "description": "User-defined labels (key-value pairs)"
          }
        }
      },
      "replace_ssh_key_response": {
        "type": "object",
        "properties": {
          "ssh_key": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "description": "ID of the SSH key"
              },
              "name": {
                "type": "string",
                "description": "Name of the SSH key"
              },
              "fingerprint": {
                "type": "string",
                "description": "Fingerprint of public key"
              },
              "public_key": {
                "type": "string",
                "description": "Public key"
              },
              "labels": {
                "type": "object",
                "properties": {
                  "labelkey": {
                    "type": "string",
                    "description": "New label"
                  }
                },
                "description": "User-defined labels (key-value pairs)"
              },
              "created": {
                "type": "string",
                "description": "Point in time when the SSH key was created (in ISO-8601 format)"
              }
            },
            "required": [
              "id",
              "name",
              "fingerprint",
              "public_key",
              "created"
            ]
          }
        },
        "required": [
          "ssh_key"
        ]
      },
      "replace_volume_request": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "New Volume name"
          },
          "labels": {
            "type": "object",
            "properties": {
              "labelkey": {
                "type": "string"
              }
            },
            "description": "User-defined labels (key-value pairs)"
          }
        },
        "required": [
          "name"
        ]
      },
      "replace_volume_response": {
        "type": "object",
        "properties": {
          "volume": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "description": "ID of the Volume"
              },
              "created": {
                "type": "string",
                "description": "Point in time when the Volume was created (in ISO-8601 format)"
              },
              "name": {
                "type": "string",
                "description": "Name of the Volume"
              },
              "server": {
                "type": "integer",
                "description": "ID of the Server the Volume is attached to, null if it is not attached at all",
                "nullable": true
              },
              "location": {
                "$ref": "#/components/schemas/location"
              },
              "size": {
                "type": "number",
                "description": "Size in GB of the Volume"
              },
              "linux_device": {
                "type": "string",
                "description": "Device path on the file system for the Volume"
              },
              "protection": {
                "type": "object",
                "properties": {
                  "delete": {
                    "type": "boolean",
                    "description": "If true, prevents the Volume from being deleted"
                  }
                },
                "required": [
                  "delete"
                ],
                "description": "Protection configuration for the Volume"
              },
              "labels": {
                "type": "object",
                "properties": {
                  "labelkey": {
                    "type": "string",
                    "description": "New label"
                  }
                },
                "description": "User-defined labels (key-value pairs)"
              },
              "status": {
                "type": "string",
                "enum": [
                  "available",
                  "creating"
                ],
                "description": "Current status of the Volume"
              },
              "format": {
                "type": "string",
                "description": "Filesystem of the Volume if formatted on creation, null if not formatted on creation",
                "nullable": true
              }
            },
            "required": [
              "id",
              "created",
              "name",
              "server",
              "location",
              "size",
              "linux_device",
              "protection",
              "status",
              "format"
            ]
          }
        },
        "required": [
          "volume"
        ]
      },
      "request_console_for_server_response": {
        "type": "object",
        "properties": {
          "wss_url": {
            "type": "string",
            "description": "URL of websocket proxy to use; this includes a token which is valid for a limited time only"
          },
          "password": {
            "type": "string",
            "description": "VNC password to use for this connection (this password only works in combination with a wss_url with valid token)"
          },
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "wss_url",
          "password",
          "action"
        ]
      },
      "reset_root_password_of_server_response": {
        "type": "object",
        "properties": {
          "root_password": {
            "type": "string",
            "description": "Password that will be set for this Server once the Action succeeds"
          },
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "reset_server_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        },
        "required": [
          "action"
        ]
      },
      "resize_volume_request": {
        "type": "object",
        "properties": {
          "size": {
            "type": "number",
            "description": "New Volume size in GB (must be greater than current size)"
          }
        },
        "required": [
          "size"
        ]
      },
      "resize_volume_response": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/action"
          }
        }
      },
      "resource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of resource referenced"
          },
          "type": {
            "type": "string",
            "description": "Type of resource referenced"
          }
        },
        "required": [
          "id",
          "type"
        ]
      },
      "route": {
        "type": "object",
        "properties": {
          "destination": {
            "type": "string",
            "description": "Destination network or host of this route. Must not overlap with an existing ip_range in any subnets or with any destinations in other routes or with the first IP of the networks ip_range or with 172.31.1.1. Must be one of the private IPv4 ranges of RFC1918."
          },
          "gateway": {
            "type": "string",
            "description": "Gateway for the route. Cannot be the first IP of the networks ip_range and also cannot be 172.31.1.1 as this IP is being used as a gateway for the public network interface of Servers."
          }
        },
        "required": [
          "destination",
          "gateway"
        ]
      },
      "server": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of Server"
          },
          "name": {
            "type": "string",
            "description": "Name of the Server (must be unique per Project and a valid hostname as per RFC 1123)"
          },
          "status": {
            "type": "string",
            "enum": [
              "deleting",
              "initializing",
              "migrating",
              "off",
              "rebuilding",
              "running",
              "starting",
              "stopping",
              "unknown"
            ],
            "description": "Status of the Server"
          },
          "created": {
            "type": "string",
            "description": "Point in time when the Server was created (in ISO-8601 format)"
          },
          "public_net": {
            "$ref": "#/components/schemas/public_net"
          },
          "private_net": {
            "type": "array",
            "description": "Private networks information",
            "items": {
              "type": "object",
              "properties": {}
            }
          },
          "server_type": {
            "$ref": "#/components/schemas/server_type"
          },
          "datacenter": {
            "$ref": "#/components/schemas/datacenter"
          },
          "image": {
            "$ref": "#/components/schemas/image_optional"
          },
          "iso": {
            "$ref": "#/components/schemas/iso_optional"
          },
          "rescue_enabled": {
            "type": "boolean",
            "description": "True if rescue mode is enabled: Server will then boot into rescue system on next reboot"
          },
          "locked": {
            "type": "boolean",
            "description": "True if Server has been locked and is not available to user"
          },
          "backup_window": {
            "type": "string",
            "description": "Time window (UTC) in which the backup will run, or null if the backups are not enabled",
            "nullable": true
          },
          "outgoing_traffic": {
            "type": "integer",
            "description": "Outbound Traffic for the current billing period in bytes",
            "nullable": true,
            "format": "int64"
          },
          "ingoing_traffic": {
            "type": "integer",
            "description": "Inbound Traffic for the current billing period in bytes",
            "nullable": true,
            "format": "int64"
          },
          "included_traffic": {
            "type": "integer",
            "description": "Free Traffic for the current billing period in bytes",
            "format": "int64"
          },
          "protection": {
            "$ref": "#/components/schemas/protection"
          },
          "labels": {
            "type": "object",
            "properties": {},
            "description": "User-defined labels (key-value pairs)"
          },
          "volumes": {
            "type": "array",
            "description": "IDs of Volumes assigned to this Server",
            "items": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "required": [
          "id",
          "name",
          "status",
          "created",
          "public_net",
          "private_net",
          "server_type",
          "datacenter",
          "image",
          "iso",
          "rescue_enabled",
          "locked",
          "backup_window",
[...]
