name: CI Build and OpenAPI Spec Generation

on:
  push:
    branches:
      - main
      - feature/**
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 24.x
      uses: actions/setup-node@v1
      with:
        node-version: 24.x
    - run: npm ci
    - run: npm run build

  generate:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js $24.x
      uses: actions/setup-node@v1
      with:
        node-version: 24.x
    - run: mkdir -p results
    - run: npm ci
    - run: npm run convert -- --output results/hcloud.json --schema_version ${GITHUB_SHA::7}-ci
    - name: Archive generated specification
      uses: actions/upload-artifact@v4
      with:
        name: specification
        path: results/hcloud.json

  validate:
    needs: generate
    runs-on: ubuntu-latest

    strategy:
      matrix:
        openapi-version: [v4.3.1, latest]

    steps:
    - name: Download generated specification
      uses: actions/download-artifact@v4
      with:
        name: specification
    - name: Display structure of downloaded files
      run: ls -R
    - run: docker run -v $GITHUB_WORKSPACE:/workspace -w /workspace openapitools/openapi-generator-cli:${{ matrix.openapi-version }} validate --input-spec ./hcloud.json
